.contentCenterBox{position:relative;display:inline-block;}
.mainAboutBlock{margin:0 auto;width:1200px;text-align:center;}
.mainAbout{box-sizing:border-box;-moz-box-sizing:border-box;border:solid 0px;width:960px;height:100%;overflow:hidden;display:inline-block;position:relative;font-family:MyriadPro;}
.header{text-align:center;position:relative;color:#666666;font-family:MyriadPro;font-size:34px;list-style:none;margin-top:0px;margin-left:0px;}
.header p{color:#4682B4;font-size:19px;font-family:MyriadPro;margin-top:0px;}
.line1{margin-top:-25px;}
.block{border:solid 0px #DCDCDC;float:left;left:0px;width:260px;height:280px;display:inline-block;position:relative;margin-left:50px;margin-top:35px;}
.block ul{display:inline-block;padding:0px;top:0px;list-style:none;margin-left:210px;}
.block ul li{margin-left:-50px;padding:0;}
.line2{position:absolute;top:0px;left:0px;}
.icon{position:absolute;top:0px;margin-top:-5px;left:10%;}
.title{position:absolute;top:30%;left:12%;color:#4682B4;font-size:22px;text-align:left;}
.aboutTitleLink{cursor:pointer;}
.title p{width:240px;text-align:left;margin-top:5px;color:#696969;font-size:16px;font-family:MyriadPro;line-height:18px;}
.block a{position:absolute;top:92%;left:12%;color:#4682B4;font-size:16px;}
.block a:hover{color:#000000;}
#aboutDetailMain{width:1200px;margin:0 auto;position:relative;margin-top:20px;}
#dropButton1{position:absolute;cursor:pointer;margin-left:80px;margin-top:275px;color:#4682B4;font-size:16px;text-decoration:underline;}
#dropButton1:hover{color:#252525;}
#dropButton2:hover{color:#252525;}
#dropButton3:hover{color:#252525;}
#dropButton2{position:absolute;cursor:pointer;margin-left:391px;margin-top:275px;color:#4682B4;font-size:16px;text-decoration:underline;}
#dropButton3{position:absolute;cursor:pointer;margin-left:703px;margin-top:275px;color:#4682B4;font-size:16px;text-decoration:underline;}
#dropTextLayer1{position:relative;display:none;width:1200px;margin:0 auto;}
#dropTextLayer2{position:relative;display:none;width:1200px;margin:0 auto;color:#5c5c5c;}
#dropTextLayer2 .textBox{font-size:18px;background:#ebebeb;border-radius:0 0 10px 10px;border:2px solid #d9d9d9;border-top:none;box-shadow:0 6px 4px -4px #5f5f5f;padding-bottom:40px;}
#dropTextLayer3{position:relative;display:none;width:1200px;margin:0 auto;}
.textBox{position:relative;font-size:14px;margin-bottom:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.detailTitle1{color:#5c5c5c;font-size:16px;}
.detailTitle12{color:#5c5c5c;font-size:30px;}
.detailTitle13{color:#566d87;font-size:24px;}
.detailTitle14{color:#5c5c5c;font-size:24px;}
.detailTitle15{color:#566d87;font-size:16px;}
.detailTitle16{color:#000000;font-size:16px;}
.detailTitle17{color:#de3d21;font-size:48px;}
.detailTitle18{color:#4b75a4;font-size:48px;}
.detailTitle19{color:#5c5c5c;font-size:48px;}
.detailTitle2{font-weight:bold;font-size:16px;}
.detailTitle3{font-weight:bold;font-style:italic;font-size:16px;}
#detailTable{left:50%;border-spacing:0px;}
#detailTable tr td{text-indent:0em;border-left:2px solid #dee5ef;text-align:left;padding-right:10px;padding-left:40px;padding-top:10px;}
.listAbout{list-style-position:inside;text-indent:0em;}
.aboutStepBlock{margin:0 auto;width:1200px;border:2px solid #d9d9d9;border-top:none;box-sizing:border-box;position:relative;-moz-box-sizing:border-box;display:inline-block;padding:20px;margin-bottom:20px;border-radius:0 0 10px 10px;background-color:#ebebeb;box-shadow:0 6px 4px -4px #5f5f5f;}
#beginButtonCenter{position:absolute;margin-left:-60px}
.detailavt{position:relative;bottom:230px;left:230px;}
.oned{display:inline-block;height:300px;}
#spone{margin-left:20px;}
.imgone{display:inline-block;position:static;}
.ellipse{display:inline-block;position:relative;left:25px;top:160px;}
.twod{display:inline-block;position:relative;left:15px;bottom:40px;}
#imtwo{margin-left:20px;}
#imtwooo{position:relative;bottom:45px;right:35px;}
.detailkop{position:relative;left:75px;bottom:35px;display:inline-block;}
.detailkop td:first-child{width:225px;}
#pig{position:relative;left:35px;bottom:20px;}
#money{position:relative;left:55px;bottom:50px;}
#kopp{position:relative;bottom:30px;}
#koppstr{position:relative;right:25px;bottom:40px;}
#four{display:inline-block;position:relative;left:130px;bottom:15px;}
#fst1{position:relative;top:65px;right:40px;}
#fst2{position:relative;margin-right:10px;}
.five{position:relative;left:250px;margin-top:30px;width:600px;white-space:nowrap;}
#fimouns{margin-left:390px;}
.six{position:relative;width:500px;left:520px;}
.six img{position:relative;bottom:50px;}
.how{font-size:200px;font-family:Segoe UI;color:rgb(232, 71, 18);font-style:italic;position:relative;left:410px;bottom:px;width:400px;}
.jobfu{position:relative;left:470px;width:500px;}
#mashinn{color:#ae282b;}
.mashinn{color:#ae282b;margin-left:-60px;}
#theyy{padding-left:20px;}
.sevenn{margin-left:-100px;}
#beginn{position:relative;text-align:center;margin-top:40px;}
.buutt{position:relative;margin:0 auto;width:195px;margin-bottom:50px;padding:10px;overflow:hidden;}
.buutt a.butstart{display:inline-block;width:195px;height:52px;letter-spacing:1px;text-shadow:0.1em 0.1em 0.1em black;color:white;font:normal 400 0.54em/2.16em "MyriadPro2";vertical-align:middle;text-align:center;text-decoration:none;font-size:25px;border-top:0.05em solid #007cbf;background:#4b70a3;border-radius:0.3em;box-shadow:0em 0.1em 0em black;z-index:4;}
.buutt a:hover{border-top-color:#454545;background:#454545;color:#fcfcfc;cursor:pointer;}
.buutt a:active{border-top-color:#363636;background:#363636;}
.slideAbout img{width:100%;height:100%;z-index:0;min-height:396px;}
.slideAbout .textabout{font-size:16px;text-align:center;margin-top:10px;}
.aboutUsText{position:absolute;z-index:1;text-align:center;font-size:32px;text-shadow:none;font-weight:400;margin:0 auto;top:10%;color:#ffffff;line-height:1.1;}
.headerAbout{font-size:32px;}
.fullpageaboutus .block{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:400px;height:200px;margin:0;padding:0;background:#f2f2f2;border-radius:15px 15px 0 0;border-bottom:none;cursor:pointer;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}
.fullpageaboutus .selectedTab{-webkit-transform:translateY(-3px) scaleY(1.1);-moz-transform:translateY(-3px) scaleY(1.1);-o-transform:translateY(-3px) scaleY(1.1);-ms-transform:translateY(-3px) scaleY(1.1);transform:translateY(-3px) scaleY(1.1);background:#ebebeb;}
.fullpageaboutus + #aboutDetailMain{margin-top:0;}
.fullpageaboutus .title{color:#4682B4;font-size:30px;margin-top:20px;text-align:left;}
.fullpageaboutus .mainAbout{width:1200px;overflow:inherit;}
.fullpageaboutus .line1{margin-bottom:20px;}
.fullpageaboutus .icon{margin-top:10px;}
.tabcolumn{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:33%;padding-left:30px;padding-right:20px;display:inline-block;vertical-align:top;}
.imgtableft{margin:10px 10px 0 10px;float:left;}
.imgtabright{float:right;margin:10px 10px 0 10px;}
.img1{display:inline-block;margin:0 10px 0 10px;}
.img2{display:inline-block;margin-left:5px;}
.blueword{color:#4b75a4;}
.redword{color:#ad2b2b;}
.pinkword{color:#fa8394;}
.sunword{color:#ff8a00;}
.blackword{color:#000000;}
.header1{font-size:24px;color:#4b75a4;margin-bottom:10px;}
.subheader1{font-size:20px;color:#3d4d60;display:inline-block;width:40%;}
.subheader2{font-size:18px;font-weight:bold;color:#4b75a4;padding-top:10px;}
.subheader3{font-size:18px;font-weight:bold;color:#4b75a4;padding-top:10px;}
.benefittitle h1{font-size:36px;color:#5b5b5b;margin:0 auto;display:table;font-weight:normal;padding-left:20px;}
.benefittitle{margin:50px 0 50px 0;line-height:0.9;}
.benefittitle table{border-bottom:3px solid #4b75a4;margin:0 auto;}
.benefit{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0 auto;width:1200px;border:2px solid #d9d9d9;position:relative;display:inline-block;margin-bottom:20px;border-radius:10px;background-color:#ebebeb;line-height:1.2;box-shadow:0 6px 4px -4px #5f5f5f;}
.benefitcolumn{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:33%;padding-left:30px;padding-right:20px;display:inline-block;vertical-align:top;font-size:18px;color:#5c5c5c}
h3.benefitheader{color:#4b75a4;font-size:20px;}
.imgleft{float:left;margin:0 10px 0 10px;}
.imgright{float:right;margin:0 10px 0 10px;}
.faqBox{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0 auto;width:1200px;border:2px solid #d9d9d9;border-top:none;position:relative;padding:20px 60px 60px 130px;margin-bottom:20px;border-radius:0 0 10px 10px;background-color:#ebebeb;box-shadow:0 6px 4px -4px #5f5f5f;font-size:18px;}
.faqimg{float:left;margin-right:20px;margin-top:5px;}
.faqBox table td{vertical-align:top;}
.faqBox table{border-spacing:0 15px;}
td.freelife{width:340px;}
.slide{height:100%;}
.slide div{height:100%;}