body .grid-view table.items td.editButton{
      height: 50px;
      margin-left: 15px; !important;
      margin-right: 15px; !important;
  }

body .grid-view table.items td.deleteButton{
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#enter_button_2 {
    margin-top: 80px;
    height: 15px;
    width: 150px;
    background: #4b70a3;
    border-radius:   10px;
    color: white;
    font: 16px/30px "MyriadPro";
    text-decoration: none;
    vertical-align:middle;
    display:table-cell;
    text-align:center;
    cursor: pointer;
}
#enter_button_2:hover {
    background: #454545;
}
#enter_button_2:active {
    background: #363636;
}
/*---------------Add new record (permissions/add)-------------------*/
#add{
    margin-top: 100px;
}
#idUser, #idResource{
    float:left;
}
#addAccess{
    display: none;
}
#submitButton{
    background: #4b70a3;
    border-radius:   10px;
    color: white;
    font: 16px/30px "MyriadPro";
    text-decoration: none;
    vertical-align:middle;
    display:table-cell;
    text-align:center;
    cursor: pointer;
    height: 35px;
    width: 150px;
}
.row{
    margin-left: 50px;
    display:inline-block;
}
#label{
    margin-left: 50px;
    color: green;
    font: 16px/30px "MyriadPro";
}
#listCheckBox{
    margin-left: 0px;
}
/*---------------Add new record (permissions/add)-------------------*/