table#accountTable {
    border: none;
    border-collapse: collapse;
}
table#accountTable tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table#accountTable td{
    border: none;
    border-collapse: collapse;
}

table#accountTable td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#count, #pdv, #all, #visaPlace{
    display:inline-block;
}
#count{
    margin-left: 370px;
}
.container-fluid{
    width:945px;
}
#printAccount {
    display: inline-block;
    width:160px;
    border-radius: 7px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    box-shadow:0 2px 0 #7f7f7f;
    font: normal     400 28px/50px "MyriadPro2";
    font-size: 14px;
    letter-spacing:1px;
    line-height: 32px;
    text-decoration: none;
}
#printAccount:hover {
    background: #454545;
    box-shadow:0 2px 0 #7f7f7f;
    cursor: pointer;
}