.CodeMirror {
    height:100%;
}
.CodeMirror-scroll {
    overflow: hidden !important;
}
.CodeMirror-vscrollbar {
    overflow-y: hidden;
}
.CodeMirror-hscrollbar {
    overflow-x: hidden;
}
.CodeMirror-lines {
    min-height: 180px;
}
.cm-s-rubyblue.CodeMirror {
    background: #202746;
    border-radius: 4px;
    color: white;
}