#coursesMainBox
{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
}
#miniConcept{display: none}
.courseInfo{
    display: table-cell;
    vertical-align: top;
}
.courseLogo{
    display: table-cell;
    vertical-align: top;
}
#coursesTable{
    display: table;
    width: 100%;
}
#coursesTable td{
}
#coursesHeader
{
    color: #ffffff;
    font-size:24px;
    text-align: center;
    margin-right: 35px;
}
.leftColumn, .rightColumn{
    vertical-align: top;
    display: table-cell;
    width:48%;
}
#coursesPart1
{
    position:relative;
    width:98%;
}
#coursesPart2
{
    position:relative;
    width:98%;
}
.courseBox
{
    display:table;
    width: 100%;
    position:relative;
    font-family:MyriadPro;
    margin-left:5px;
    margin-bottom:20px;
    font-size: 14px;
}
.courseBox2
{
    display:inline-block;
    position:relative;
    font-family:MyriadPro;
    font-size: 14px;
}
.courseBox > img
{
    border-radius: 50%;
}
.courseName
{
    position:relative;
    color:#4682B4;
    font-size:20px;
}
.courseName a
{
    color:#4682B4;
    font-size:20px;
    text-decoration: none;
}
.courseStatusBox
{
    clear: both;
}
.courseStatusBox img
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
#coursePriceStatus1 {
    color: #cc0000;
    text-decoration: line-through;
}
#coursePriceStatus2 {
    color: #333333;
    font-weight: bold;
}
.courseLevelBox2
{
    color:#696969;
}
.courseLevelImage
{
    margin-right:20px;
}
.courseLevelIndex
{
    position:relative;
    display:inline-block;
    float:right;
    height: 10px;
    top: 7px;
}
.courseLevelIndex img{
    position: relative;
    vertical-align: top;
}
.courseLevelImage{
    margin: 0;
}
.starLevelIndex img{
    position: relative;
    vertical-align: top;
    margin-left: 2px;
}
.courseLevel
{
    position:relative;
    color:#4682B4;
}
.courseLevel2
{
    position:relative;
    color:#696969;
}
.courseText
{
    display:inline-block;
    position:relative;
    font-size:14px;
    color: #000000;
}
.courseText2
{
    display:inline-block;
    position:relative;
    color:#696969;
    font-size:14px;
}
.courseText p
{
    margin-top:0;
    margin-bottom:0;
}
.coursesTextFooterBlock1
{
    display:inline-block;
    position:relative;
    width:450px;
    padding:20px;
}
.coursesTextFooterBlock2
{
    width:450px;
    margin-left:20px;
    top:52px;
    padding:20px;
}
.courseLang
{
    height: 20px;
    color: #333333;
}
#coursesLang{
    z-index: 6;
    position: relative;
    left: 70px;
    top:-22px;
}
#coursesLang #ru {
    border-left: 1px solid #999999;
    padding-left: 8px;
}
a#coursesLangs {
    background:none!important;
    border-left: 1px solid #999999;
    cursor: pointer;
    color: #4b70a4;
    font-size: 14px;
    margin-left:6px;
    font-family: "MyriadPro";
    text-decoration: none; !important;
    position:relative;
    padding-left: 8px;
}
#coursesLang .selectedLang,#coursesLangs .selectedLang {
    text-decoration: none;
    color: #999999;
}
#coursesLangs button{
    background:none!important;
    border:none;
    cursor: text;
    color: #4b70a3;
    font-size: 14px;
    font-family: "MyriadPro";
    position: relative;
    float: left;
}
.courseLang  a#coursesLangs:first-child{
    border: none;

}
.coursesline1  img {
    height: 3px;
    width: 1200px;
    position:relative;
    top: -15px;
}
#coursesMainBox h1 {
    display: inline-block;
    font-weight: inherit;
    color: #4B75A4;
    margin: 0 0 10px 0;
    line-height: 100%;
    font-size: 24px;
}
#coursesHeader h1{
    font-weight: inherit;
    color: #ffffff;
    line-height: 100%;
}
#courseText2 {
    position: relative;
    padding-left: 40px;
    color: #ffffff;
    display:inline-block;
    font-size: 14px;
}
.courseStatus p{
    position: relative;
    color: #000000;
}
.courseStatus0 p{
    position: relative;
    color: #696969;
}
#courseStatus1 {
    color: green;
}
.colorGreen{
    color: green;
}
#courseStatus0 {
    color: #cc0000;
}
.sourse{
    box-sizing: content-box;
    color:#4b75a4;
    font-size:16px;
    text-align: center;
    vertical-align: middle;
}
.sourse a{
    position: relative;
    color:#4b75a4;
    font-size:16px;
}
.sourse img{
    position: relative;
    top: 4px;
}
.bgBlue table {
    width: 100%;
}
#coursesMainBox .bgBlue table td{
   vertical-align: middle;
}
#coursesMainBox a:hover{
    color: #666666;
}
.bgBlue{
    background-color:#4B75A4;
    color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    display:inline-block;
    padding: 5px 10px 5px 10px;
    width: 100%;
}
.bgBlue img{
    padding-top: 10px;
    padding-left: 10px;
}
#sver{
    margin-left: 40px;
    background-color:#4B75A4;
    cursor: pointer;
    width: 200px;
}
#razv {
    padding-left: 40px;
    cursor: pointer;
}
#disabled {
    cursor: default;
    color: #696969;
}
#razv p{
    left: 40px;
    right: 20px;
    color: #ffffff;
    display:inline-block;
    font-size: 14px;
}

#coursesMainBox td{
     vertical-align: top;
 }
span.courseNum{
    display: inline-block;
    background: #4B75A4;
    color:white;
    border-radius: 2px;
    width: 22px;
    height: 18px;
    padding-right: 2px;
    text-align: center;
    line-height: 18px;
}
.selectedSelector a{
    color:#999999;
    text-decoration: none;
}
.selectedSelector .courseNum{
    color:#999999;
}
.coursesType{
    float: right;
}
.coursesType > div{
    display: inline-block;
    vertical-align: top;
}
.coursesHeader{
    margin-top: 20px;
}
#coursesFilter, #typeList{display: none}
@media only screen and (max-width: 800px) {
    #coursesTable{
        display: inline-block;
        width:100%;
    }
    .leftColumn, .rightColumn{
        display: block;
        width:100%;
    }
    #miniConcept{display: block}
    #largeConcept{display: none}
}
@media only screen and (max-width: 320px) {
    .spoilerTriangle {
        display: inline-block;
        color: #4b75a4;
        cursor: pointer;
    }
    .spoilerTriangle img{
        vertical-align: middle;
    }
    .spoilerTriangle:hover {
        color: #666666;
    }
    #trg{
        font-size: 8px;
    }
    #typeList .sourse{text-align:left}
    .coursesType .selectType,.coursesType .selectLine{display:none}
    .coursesType{float: none}
    #coursesFilter{display:inline-block}
}