#schema{
    border:none;
    border-collapse: collapse;
    border-spacing: 0px;
    padding:0px;
    font-family:MyriadPro;
}
#schema td{
    border:1px solid black;
    border-spacing: 0;
}
#schema td:first-child{
    width:180px;
}
#courseSchema{
    margin-left: 50px;
}
#courseName{
    text-align: center;
    background-color:#a4c2f4;
    height: 58px;
}
#schema td.monthTitle {
    text-align: right;
    border: none;
    color:#4b75a4;
    padding-right: 7px;
}
.fullMonthsCell{
    background-color:#cdffcc;
}
.emptyMonthsCell, .fullMonthsCell, .examCell, .trainee, .lastCell{
    width: 50px;
    height: 58px;
    text-align: center;
}
.monthsCell{
    width: 50px;
    height: 30px;
    text-align: center;
}
.examCell{
    background-color:#ffcccb;
    color:red;
}
.trainee{
    background-color: #ffcc80;
}
.lastCell{
    background-color:#f6f6f6;
}