#schema{
    border:none;
    border-collapse: collapse;
    border-spacing: 0;
    padding:0;
    font-family:MyriadPro;
}
#schema td{
    border:1px solid black;
}
#schema td:first-child{
    width:180px;
}
#courseSchema{
    margin-left: 50px;
}
#courseName{
    text-align: center;
    background-color:#a4c2f4;
    height: 58px;
}
#schema td.monthTitle {
    text-align: right;
    border: none;
    color:#4b75a4;
    padding-right: 7px;
}
.fullMonthsCell{
    background-color:#cdffcc;
}
.emptyMonthsCell, .fullMonthsCell, .examCell, .examCellE, .examCellP, .trainee, .lastCell{
    width: 50px;
    height: 58px;
    text-align: center;
}
.monthsCell{
    width: 50px;
    height: 30px;
    text-align: center;
}
.examCellE,.examCell{
    background-color:#ffcccb;
    color:red;
}
.examCellP{
    background-color:#4b75a4;
    color:blue;
}
.trainee{
    background-color: #ffcc80;
}
.lastCell{
    background-color:#f6f6f6;
}
#saveButton{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #9fb5ce;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    color:#ffffff;
    letter-spacing: 1px;
    margin-left: 250px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

#saveButton a{
    color: #ffffff;
    text-decoration: none
}
