/*header navigation*/
div.subNavBlockCourse {
    margin: 0 auto;
    width: 960px;
    clear: both;
    overflow: hidden;
}
div.subLinksCourse{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-bottom: 28px;
    float:left;
}
.subLinksCourse a{
    color: #666666;
}
/*Main Block*/

/*Short Info*/
.courseBlock
{
    margin: 0 auto;
    max-width: 1200px;
    width:95%;
    border-top: 1px solid #d8d8d8;
    color: #666666;
    overflow: hidden;
}
.spoilerBodyOffline, .spoilerBodyOnline {
    display:none;
}
span.spoilerLinks {
    cursor:pointer;
}
span#spoilerClickOnline, span#spoilerClickOffline:hover{
    cursor:pointer;
    color:#666666;
}
span#spoilerClickOnline, span#spoilerClickOffline {
    text-decoration:underline;
    color:#4b75a4;
}
.spoilerRow{
    display: none;
}
.spoilerBodyOffline, .spoilerBodyOnline{
    width: 100%;
}
.courseBlock a
{
    color: #4b75a4;
}
.courseTitle h1{
    font-weight: inherit;
    font-size: 36px;
    color: #4B75A4;
    margin: 24px 0 20px 0;
    line-height: 100%;
}
#firstBlock, #secondBlock, #thirdBlock{
    display: none;
}
img.courseImg{
    margin: 10px 30px 0 0;
    vertical-align: top;
    width: 115px;
    height: 115px;
    float: left;
}
div.courseShortInfo{
    display: block;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    font-size: 18px;
}
div.courseShortInf table {
    border-spacing: 0;
    vertical-align: middle;
}
div.courseShortInfoTable{
    vertical-align: top;
    margin-top: 10px;
    float: left;
    width: 70%;
    max-width: 500px;
}
.courseShortInfoTable table.courseLevelInfo{
    width: 100%;
    border: none;
    border-collapse:collapse;
    border-spacing: 0;
    padding: 0;
}
.courseShortInfoTable table.courseLevelInfo td{
    vertical-align: bottom;
    border: none;
    border-collapse:collapse;
    border-spacing: 0;
    padding: 0;
}
.courseLevel div{
    height: 20px;
}
.courseShortInfo div.courseLevelName {
    display: inline-block;
    margin-right: 80px;
}
.courseLevel{
    text-align: right;
    line-height: 18px;

}
/*Short Info*/

/*Course Info*/
.courseInfo {
    display:block;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
}
.courseInfo ul {
    vertical-align: top;
    margin-right: 35px;
    font-size: 16px;
}
.courseInfo p {
    margin-left: -15px;
}
/*Course Info*/

/*courseTeachers*/
.courseTeachers{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-right: 55px;
}
.courseTeachers h2, .courseModules h2{
    width: 310px;
    border-top: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: inherit;
    color: #4B75A4;
    display: inline-block;
}
.courseTeacher{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 7px;
    margin-bottom: 5px;
}
#spoilerPay + span{
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: #4b75a4;
    cursor: pointer;
}
.courseTeacher a{
    text-decoration: none;
}
#spoilerTriangle{
    font-size: xx-small;
    color: #4b75a4;
    margin-left: 3px;
    text-decoration: none;
}
.spoiler{
    text-decoration: underline;
}
/*teachers*/

.courseInfo{
    font-size: small;
}
.courseDetail span.colorP{
    display: inline-block;
}
span.readmore-js-toggle{
    margin-right: 100px;
}
#spoilerPay div span:first-child{
    display: inline-block;
    width: 150px;
}
#spoilerPay span{
    white-space: nowrap;
}
.colorP{
    color: #4b75a4;
}
.colorGrey{
    color: #666666;
}
.redStrike{
    color: #ff0000;
    text-decoration: line-through;
}
.courseInfo table{
    border-spacing: 0;
}
#tooltip{
    text-decoration: none
}
.courseTeacherDetail td{
    padding-left: 0;
    vertical-align: top;
    line-height: 1;
}
.courseTeacherDetail{
    margin-bottom: 7px;
    margin-left: -2px;
}
p.subCourseInfo, p.courseAboutTeacher{
    color: #4b75a4;
    margin-bottom: 0;
}
.courseInfo ul{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
}

/*modules*/
.courseModules {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}
.courseModules .grid-view table.items td {
    font-size: 16px;
    line-height: 16px;
}
.cModule {
    margin: -7px 0 10px -3px;
    font-size: 16px;
}
.cModule td{
    vertical-align: top;
}
.cModule a{
    text-decoration: none;
}
.cModule td > span{
    white-space: nowrap
}
/*modules*/
#addModuleButton{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}
#newModuleName{
    height: 25px;
    width: 500px;
}
#moduleForm{
    display: none;
}
.aliasColumn{
    white-space: nowrap;
background-color: white;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 0px;
}
.markCourse{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 40px;
    float: left;
}
.markCourse img{
    margin-left: 2px;
}
.startCourse{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
    float: right;
}
.startCourse a    {
    display: inline-block;
    position: relative;
    width:160px;
    border-radius: 7px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    font: normal     400 28px/50px "MyriadPro2";
    font-size:       14px;
    letter-spacing:1px;
    line-height: 32px;
    text-decoration: none;
}
.startCourse a:hover {
    background: #454545;
    box-shadow:0px 2px 0px #7f7f7f;
    cursor: pointer;
}
.markAndButton{
    vertical-align: middle;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.italic{
    font-style: italic;
}
.colorGreen{
    color: green;
}
#addModule{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #0080c2;
    border-style: none;
}
#addModule:hover{
    cursor: pointer;
    border-style: none;
}
#addModule:focus,#addModule:active{
    border-style: none;
}
#ajaxaddmodule-form input[type="submit"]{
    background-image: url('../images/editor/add_lesson.png');
}
#addLessonButton{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}

#editIco, #viewIco{
    float:right;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}

#lessonForm{
    display: none;
}
#formLabel{
    color:green;
    font-size: 16px;
}
#submitButton{
    height: 33px;
    width: 100px;
    background: #4b70a3;
    border-radius:   10px;
    border: 2px solid #ffffff;
    color: white;
    font: 16px/30px "MyriadPro";
    text-align:      center;
    text-decoration: none;
    float: left;
}
input[type="submit"][disabled]#submitButton {
    background: #666666;
}

#cancelButton {
    float: left;
    margin-left: 20px;
    height: 33px;
    width: 100px;
    background: #4b70a3;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: white;
    font: 16px/30px "MyriadPro";
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.controlButtons{
    width: 20px;
    height: 20px;
}
#PaymentPlan_value input{
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
}
#firstRadioOnline, #firstRadioOffline{
    display: none;
}
.icoCheck{
    display: none;
}
#paymentButton{
    display: inline-block;
    position: relative;
    width: 160px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #9fb5ce;
    color: #ffffff;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
    text-decoration: none;
}
#paymentButton:hover {
    background: #454545;
    cursor: pointer;
}
.moduleProgress{
    text-align: right;
    margin-top: 20px;
}
.disableModuleStyle .moduleLink{
    color:#666666;
    font-weight: 500;
}
/*modulesList*/
.modulesTitle {
    padding: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}
.moduleButtons{
    width: 70px;
}
.moduleButtons img{
    float:left;
    cursor: pointer;
}
#modulesList .modulesTitle a {
    width: 100%;
    word-wrap: break-word;
    text-decoration: none;
    float: left;
}
#modulesList img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
}
#modulesList .moduleOrder {
    color: #666666;
    font-weight: 500;
}
#modulesList .moduleLink{
    font-weight: 500;
}
#modulesList .disableModuleStyle>a{
    color: #666666;
}
#modulesList .disableModuleStyle,#modulesList .availableModuleStyle,#modulesList .inlineModuleStyle{
    background-color: #efefef;
    border-bottom: 1px solid #666666;
}
#modulesList .inProgressModuleStyle{
    background-color: #cce0eb;
    border-bottom: 1px solid #4b75a4;
}
#modulesList .inFinishedModuleStyle{
    background-color: #eaf5e5;
    border-bottom: 1px solid #339900;
}
#modulesList .inFinishedModuleStyle .greenFinished, .greenFinished {
    color: #339900;
}
#modulesList .inFinishedModuleStyle .redFinished, .redFinished {
    color: #bc1000;
}
#modulesList .inFinishedModuleStyle .moduleProgress,#modulesList .inProgressModuleStyle .moduleProgress {
    color: #7a8e98;
}
#modulesList .inlineModuleStyle .moduleProgress {
    color: #666666;
}
.modulesLoading{
    display: none;
}
.finishedCourse{
    position: relative;
    background-color: #ffffe0;
    border-bottom: 1px solid #e6b906;
}
.finishedCourse img{
    position: absolute;right: 5px;bottom: 5px
}
/*modulesList*/
.revisionIco{
    position: relative;
    vertical-align: top;
    text-align: right;
}
.revisionIco img{
    margin: 20px 5px 0 5px;
    vertical-align: bottom;
}
.revisionIco a:hover{
    text-decoration: none;
}
#courseTabs,.hideBlock{display: none}
.hideBlockLink{display:inline-block}
.courseShortInfoTable,.courseImg{display: table-cell}
#demo a{
    text-decoration: underline;
}
.paymentsOnlineSpoiler,.paymentsOfflineSpoiler{text-decoration: underline;color: #4b75a4;cursor:pointer}
.cssSlideUp {
    transition: 2s linear all;
    height: 20px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}
.headerScheme .discount{
    margin-left:5px;
}
.courseDetail span {
    white-space: nowrap;
}
.courseShortInfoTable table.mainPay,.courseShortInfoTable table.mainPay table{
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1;
}
.courseShortInfoTable table.mainPay td {
    position: relative;
    vertical-align: top;
}
.courseShortInfoTable table.mainPay img {
    margin-top: 5px;
    margin-right: 5px;
}
.courseShortInfoTable table.mainPay table img {
    margin-top: 0;
}
@media only screen and (max-width: 800px) {
    #modules,.hideBlockLink,.courseModules>h2{display:none}
    .courseModules{margin-top: 10px}
    #courseTabs{display:block}
    .courseTeachers,.courseModules {
        width: 100%;
        margin-right:0;
    }
    .hideBlock{display:block}
    img.courseImg {
        margin: 5px 10px 0 0;
    }
    div.courseShortInfoTable {
        width:inherit;
    }
    .courseLevelInfo {white-space: nowrap}
    .courseDetail span {
        white-space: inherit;
        vertical-align: top;
    }
    .courseShortInfoTable {display:inline-block}
}
