.formatted-form
{
    width: 100%;
    margin: 0 auto;
}
.formMargin{
    margin-left: 15%;
}
#extseach-form, #extteacherseach
{
    margin-left: 20px;
}
.formatted-form label,#extseach-form label, #extteacherseach label
{
    display: block;
}
.formatted-form .required
{
    color: #229922;
}
.formatted-form textarea, #extseach-form textarea, #extteacherseach textarea
{
    width: 500px;
    resize: none;
}
.formatted-form input,.formatted-form select, #extseach-form input, #extteacherseach input
{
    width: 500px;
}
.formatted-form input[type="submit"], #extseach-form input[type="submit"], #extteacherseach input[type="submit"]
{
    width: 150px;
    margin-top: 20px;
}
#adminTeacherList img{
    width:150px;
}
.row.buttons{
    margin: 0;
}
#forWhomEn, #whatYouLearnEn, #whatYouGetEn, #forWhomRu, #whatYouLearnRu, #whatYouGetRu, #forWhomUa, #whatYouLearnUa, #whatYouGetUa{
    resize: none;
}