.formatted-form
{
    width: 75%;
    margin: 0 auto;
}
#extseach-form, #extteacherseach
{
    margin-left: 20px;
}
.formatted-form label,#extseach-form label, #extteacherseach label
{
    display: block;
}
.formatted-form .required
{
    color: #229922;
}
.formatted-form textarea, #extseach-form textarea, #extteacherseach textarea
{
    width: 350px;
    resize: none;
}
.formatted-form input,.formatted-form select, #extseach-form input, #extteacherseach input
{
    width: 350px;
}
.formatted-form input[type="submit"], #extseach-form input[type="submit"], #extteacherseach input[type="submit"]
{
    width: 150px;
    margin-top: 20px;
}
#adminTeacherList img{
    width:150px;
}
.row.buttons{
    margin: 0;
}