.formatted-form
{
    width: 75%;
    margin: 0 auto;
}
.formatted-form label
{
    display: block;
}
.formatted-form .required
{
    color: #229922;
}
.formatted-form textarea
{
    resize: none;
}
.formatted-form input,.formatted-form textarea
{
    width: 350px;
}
.formatted-form input[type="submit"]
{
    width: 150px;
}