.graduateBlock{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.graduates {
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #d8d8d8;
}
.graduates h1{
    font-size: 30px;
    color: #4B75A4;
    margin-bottom: 0;
}
table.graduatesFilter{
    display: inline-block;
    vertical-align: middle;
}
.GraduatesBlock {
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    box-sizing:border-box;
    margin-bottom: 28px;
    word-break:break-word;
}
.GraduatesBlock a{
    color: #4B75A4;
}
.text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #999999;
}
.text span{
    color: #4B75A4;
}
.text1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    color: #666666;
}
.text2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #666666;
}
.span {
    color: #4B75A4;
}
.colorP {
    color: #4B75A4;
    border-bottom: 1px solid #d8d8d8;
}
.profileMyRatting {
    margin-top: 10px;
}

.lessonBlock {
    margin: 0 auto;
}
.spoilerBody {
    display:none;
}
.lessonText {
    position: relative;
    width:45%;
    z-index: 0;
}
.lessonBlock span {
    font-weight: bold;
}
span.spoilerLinks,span.spoilerLinksHidden {
    cursor:pointer;
}
span.spoilerClick:hover{
    cursor:pointer;
    color:#666666;
}
.spoilerLinksHidden{
    margin-left: 44px;
}
span.spoilerClick {
    padding-left: 10px;
    text-decoration:underline;
    color:#4b75a4;
    font-size: 14px;
    font-weight: normal;
}
span.spoilerTriangle {
    font-size: 14px;
    color: #4b75a4;
    margin-left: 3px;
}
.one{
    width:49%;
    float:left;
}
.two{
    width:49%;
    float:right;
}
.spoiler-body {
    display:none;
    border: 1px #666666 solid;
    border-radius: 15px;
    padding: 0px 10px 10px 25px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
    height: 0;
    transition: heigth 2s;
}
div.spoiler-body.opened {
    height: auto;
    text-decoration: none;
}
.spoiler-body img{
    float: right;
    padding-top: 5px;
    display: block;
}
.spoiler-body img:hover{
    cursor:pointer;
}
.spoiler-title{
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    cursor:pointer;
    text-decoration:none;
    color:#4b75a4;
}
.spoiler-title span{
    text-decoration: underline;
}
.spoiler-title:hover{
    color: #666666;
}
.opened {
    display: block;
}
.closed {
}
.graduateAvatar img {
    width: 65px;
    height: 65px;
}
.rat {
    margin-top: 0;
    margin-bottom: 0;
    color: #999999;
}
.rat img{
    margin-left:2px;
}
.graduatesFilter td{
    padding: 0 10px 0 10px;
    border-left: 1px solid #4b75a4;
}
.graduatesFilter td a{
    font-size: 14px;
    color:#4b75a4;
}
.graduatesFilter td a:visited{
    color:#4b75a4;
}
.graduatesFilter td a:hover{
    color:#999999;
}
.graduatesFilter td:first-child{
    border-left: none;
}
.graduatesFilter td a.selectedFilter{
    color:#999999;
    text-decoration: none;
}
.graduatesTable{display: table;width: 100%}
.graduatesTd{display: table-cell}
.graduateInfo{padding-left: 10px;width: 80%}
.graduateAvatar{vertical-align: top;width: 10%}
.graduateHeaderMini{display: none}
@media only screen and (max-width: 800px) {
    .one,.two{  width:99%;
        float:none;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 360px) {
    .graduatesTable {
        display:block;
    }
    .graduateAvatar{
        display: table;
        width:inherit;
    }
    .graduateAvatar img, .graduateAvatar .graduateHeaderMini{
        display: table-cell;
        vertical-align: top;
        margin-bottom: 5px;
    }
    .graduateAvatar img{
        margin-right: 5px;
    }
    .graduatesTd{padding-left: 0}
    .graduateName, .graduateDate{display: none}
    .graduateInfo{display: block;width:inherit}
}

/*celebre*/
div .diploma_link_style {
}
div .diploma_link_style>div {
    display: inline-block;
}
div .diploma_link_style>div:first-child {
    vertical-align: top;
}
div .diploma_link_style>div a {
    display: block;
}
div.modal-body, div.modal-footer {
    padding: 0;
}
div.modal-footer {
    border-top: none;
}
.modal-body>button.close {
    color: #000;
    opacity: 1;
    font-size: 30px;
    /*margin-top: 0;*/
    margin-right: -20px;
    font-weight: 100;
    text-shadow: none;
}
.modal-body>button.close:hover {
    color: #fff;
}

.modal-content {
    max-width: 800px;
    margin: 30px auto;
}

.diploma-container {
    background: url('../images/diploma/intita_diploma1.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;

    color: #3f7896;
    padding-bottom: 20%;
    width:100%;
    height:100%;
    font-size: 100%;
}
.logo-academy {
    color: #7f7f7f;
}
.diploma-logo {
    padding-top: 10%;
    margin-left: 28%;
}
.img-diploma {
    max-width: 30%;
    height:auto;
}
.diploma-header {
    margin: 10% 0;
    color: #4b74a0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5em;
}
.certificate {
    color: #3f7896;
    text-align: center;
    font-size: 1.4em;
}
.diploma-owner-name {
    color: #c3350d;
    text-align: center;
    font-size: 1.94em;
    font-weight: bold;
    line-height: 0.1;
}
.diploma-owner-name span{
    text-transform: uppercase;
}
.student_achievements, .course {
    color: #3f7896;
    font-style: italic;
    margin-top: 3.5%;
    font-size: 1.4em;
    text-align: center;
}
.student_achievements span{
    text-transform: uppercase;
}
.course {
    margin-top: 1.7%;
}
.sign {
    margin-top: 25%;
    text-align: right;
    margin-right: 2.8%;
}
.sign ul {
    display: inline-block;
    margin-right: 1.7%;
    list-style-type: none;
    text-align: left;
    vertical-align: bottom;
}
.sign ul li, .diplom-number {
    line-height: 2.5;
    font-size: 1.1em;
}
.diplom-number {
    color: #3f7896;
    padding-right: 2.8%;
}
#print-diploma {
    float: right;
    margin-right: -80px;
}
@media (min-width: 992px) {
    div.modal-dialog {
        width: 100%;
    }
    .diploma-header {
        /*font-size: 3em;*/
    }
}
@media (min-width: 768px) {
    div.modal-dialog {
        width: 85%;
    }
    .diploma-header {
        /*font-size: 2.5em;*/
    }
}
/*style for pagination*/

.pager {
    height: 50px;
    width: 300px;
    float: right;
}
.one {
    margin-bottom: 60px;
}
/*style for pagination*/
/*celebre*/