/* stylesheet for lesson top */
.lessonBlock a, #lessonHumMenu a,.lessonBlock button,
.lessonBlock input[type="submit"], #lessonHumMenu button,
#lessonHumMenu input[type="submit"]{
    outline: none;
}
#lessonBlock a:hover{
    color: #666666;
}
.lectureMainBlock {
    border-bottom: solid 2px #DCDCDC;
    width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}

img {
    max-width: 730px;
}

.redactor-editor img {
    max-width: 730px;
}

.lectureImageMain {
    position: absolute;
}

.titlesBlock {
    float: left;
    left: 0px;
    display: inline-block;
    position: relative;
    margin-left: 102px;
    margin-top: 0px;
    padding-left: 15px;
    width: 500px;
}

.titlesBlock ul {
    display: inline-block;
    padding: 0px;
    margin-top: 3px;
    list-style: none;
    margin-left: 0px;
    width: 100%;
    word-wrap: break-word;
}

.titlesBlock ul li {
    line-height: 135%;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 8px;
}

#subTitle {
    display: inline-block;
}

#lectionTypeText {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#lectionTypeImage {
    display: inline-block;
    margin-left: 12px;
}

#lectureTimeText {
    display: inline-block;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#lectureTimeImage {
    display: inline-block;
    margin-left: 12px;
}

#iconImage {
    display: inline-block;
    width: 20px;
}

#counter {
    display: inline-block;
    margin-bottom: -20px;
    margin-top: -6px;
}

.lectureMainBlock p {
    border: solid 0px black;
    left: 50%;
    height: 17px;
    display: inline-block;
    margin-top: -10px;
}

.lectureMainBlock a {
    color: #4682B4
}

.teacherBlock {
    border: solid 0px #DCDCDC;
    left: 52%;
    top: 8px;
    width: 455px;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -10px;
    padding-bottom: 0px;
}

.teacherBlock span {
    border-left: solid 2px #DCDCDC;
    left: 102px;
    top: 0px;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    padding-left: 15px;
}

.teacherBlock ul {
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    margin-bottom: -20px;
    margin-left: 0px;
}

.lectureMainBlock {
    word-wrap: break-word;
}

.teacherBlock ul li {
    line-height: 131%;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.teacherTitle {
    color: #4682B4
}

#teacherSkype {
    display: inline-block;
    font-weight: bold;
}

.teacherBlock img {
    display: block;
}

.teacherBlock > a {
    display: inline-block;
    width: 88px;
    text-align: center;
    font-size: small;
    line-height: 100%;
}

.teacherBlock a:hover {
    color: #666666;
}

.teacherBlock input[type="submit"] {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font-size: medium;
    margin-top: 20px;
}

.teacherBlock input[type="submit"]:hover {
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
    cursor: pointer;
}

/*----Edit toolbar----*/
.editToolbar {
    /*position: absolute;*/
    /*margin-top: -25px;*/
    /*float: left;*/
}

.editToolbar img {
    cursor: pointer;
}

.editButton {
    float: right;
    display: inline;
    cursor: pointer;
}

.addTextBlock {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}

#editIco {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#textBlockForm {
    display: none;
}

.formLabel {
    text-decoration: none;
}
#blockFormCode input,#blockForm input {
    margin-top: 5px;
}

.teacherBlock div.photobg {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    overflow: hidden;
}

.teacherBlock img.teacherphoto {
    position: relative;
    display: inline-block;
    width: 90px;
}

.teacherBlock img.mask {
    position: absolute;
    z-index: 1;
    display: inline-block;
}

#addTask, #addSkipTask, #addTest, #divAddVideo {
    display: none;
}

#addTask textarea {
    width: 100%;
}

.editTask textarea {
    width: 100%;
}

.taskSubmit :disabled {
    background: #dddddd;
    color: #333333;
}

#newTextBlock, #header, #etalon, #taskFooter, #condition {
    resize: none;
}
#divAddFormula {
    display: none;
}

#text, #quiz, #video {
    box-sizing: border-box;
    resize: none;
    height: 400px;
    border: 1px solid #335379;
    border-top: none;
    border-radius: 0 0 0 10px;
}

#video {
    padding: 10px 5px 10px 5px;
}

#text, #quiz {
    overflow: auto;
    padding: 0;
}

#quiz {
    word-wrap: break-word;
    border-top: 3px solid #ffffff;
    background: #dbe3ed;
    background-image: -webkit-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -moz-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -o-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#becdde', endColorstr='#dbe3ed', GradientType=1);  / / Ie6-9
}

.addTest, .removeTest, .editRemoveTest, .editAddTest, .answerAddRemove {
    cursor: pointer;
    color: #4b75a4;
}

#buttonsTextListPanel{
    display: block;
    clear: both;
}

.addTest:hover, .removeTest:hover, .editRemoveTest:hover, .editAddTest:hover {
    color: #666666;
}

.tabswidgets .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc;
    color: #222222;
    font-weight: bold;
}

.container {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.source {
    min-width: 310px;
    height: 30px;
    resize: none;
}

.lectureProgress {
    position: relative;
}

.lectureProgress a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 5px 0;
    margin-right: 3px;
}
div.spotDone {
    background: #4b75a4;
    display: inline-block;
    width: 32px;
    height: 8px;
    cursor: pointer;
}

div.spotDisabled {
    background: #cecece;
    display: inline-block;
    width: 32px;
    height: 8px;
    cursor: pointer;
}
a.pageDone, a.pageNoAccess, a#pagePressed, div.spotDisabled, div#pagePressed  {
    display: inline-block;
    cursor: pointer;
}

div.spotDone:hover {
    background: #003366;
}

#tooltip {
    /*border-bottom: 1px solid #335379;*/
    display: none;
}
div.lastAccessPage {
    background: green;
}

.noAccess {
    font-size: 14px;
    color: #ff3333;
}

#arrowCursor {
    position: absolute;
    display: none;
}

#pointer {
    position: absolute;
    display: none;
}

.text, .codeExample {
    padding: 10px;
}

.text, .codeExample, .code {
    overflow: hidden;
}

.lessonText fieldset {
    padding-left: 0;
    padding-right: 0;
}

#tooltip {
    /*border-bottom: 1px solid #335379;*/
    display: none;
    vertical-align: bottom;
    line-height: 1;
    margin-bottom: 5px;
}

.lessonPart {
    border-bottom: 1px solid #335379;
    height: 65px;
    line-height: 50px;
    margin-bottom: 10px;
}
.lessonEdit .lessonPart{
    height: auto;
}
.lessonEditPart{
    display: inline-block;
    height: auto;
    width: 100%;
    word-wrap: break-word;
}
.lessonEditPart a{
    word-break: break-all;
}
.lectureVerify{
    text-align: right;
}
.lessonPart div {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    margin-bottom: 5px;
    width: 100%;
}

#labelBlock p, #tooltip p {
    /*display: inline-block;*/
    font-size: 22px;
    color: #4b75a4;
    margin: 0;
}
h4.labelBlock a{
    white-space: normal;
}

h1.lessonPartEdit p img {
    cursor: pointer;
}

.lessonPartEdit a {
    font-size: 24px;
    font-weight: normal;
}

#tooltip p.titleNoAccess {
    color: #999999;
    display: inline-block;
}

.spoilerBody a.pageAccess {
    color: #4b75a4;
}

.startVideo, .startVideoHover {
    position: absolute;
    margin-left: 315px;
    margin-top: 177px;
    cursor: pointer;
}

.startVideoHover {
    opacity: 0;
}

.video {
    position: absolute;
    background: #072152;
    width: 750px;
    height: 380px;
    max-width: 770px;
    cursor: pointer;
}

.redactor-box .redactor-editor hr {
    margin-bottom: 0;
}

.redactor-box .redactor-editor {
    min-height: 100px;
}

#bar1 .toolbar_wrapper:first-child {
    display: none;

}

.finishedShare {
    margin-top: 10px;
}

.finishedShare img {
    margin-right: 10px;
    cursor: pointer;
}
/*bootstrap tooltips css*/
#counter .tooltip.in {
    opacity: 1;
}
#counter .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #335379;
}
#counter .tooltip-inner {
    max-width: 300px;
    font-family: "MyriadPro";
    font-size: 14px;
    color:#335379;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #335379;
    border-radius:0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px 5px;
    text-align: left;
    line-height: 14px;
    opacity: 1;
}
.titleNoAccessMin{
    font-size: 14px;
    color: #666666;
    opacity: 1;
}
.noAccessMin{
    font-size: 12px;
    color: #ff3333;
}
/*tooltips css*/
/*sidebar lectures */
div.lectureAccess{
    display: inline-block;
    background: #4B75A4;
    width: 12px;
    height: 12px;
    border-radius: 150px;
}
div.lectureAccess:hover{
    background: #003366;
}
div.lectureDisabled{
    display: inline-block;
    background: #cccccc;
    width: 12px;
    height: 12px;
    border-radius: 150px;
}
a.lectureDisabled{
    cursor: default;
    pointer-events: none;
}
#sidebarLesson .spoilerBody a{
    font-weight: normal;
    font-size: 14px;
    pointer-events: none;
    cursor: default;
    color: #666666;
    display: block;
    word-wrap: break-word;
}
#counter a{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 1px;
    vertical-align: middle;
}
#sidebarLesson .spoilerBody a.pageAccess{
    font-weight: normal;
    pointer-events:inherit;
    cursor: pointer;
    color: #4B75A4;
}
#sidebarLesson .spoilerBody a.pageAccess:hover{
    color: #666666;
}
.helpHeader{
    color:#c54b37;
    font-size: 16px;
    margin-left: 15px;
}
.skypeAssistance{
    display: inline-block;
    width: 155px;
    height: 50px;
    border-radius: 10px;
    background: #4b75a4;
}
#consultationAssistance{
    display: inline-block;
    width: 182px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    background: #4b75a4;
}
.consultationLogos{
    margin-top: 9px;
    margin-left: 7px;
    vertical-align: top;
}
.consultationText{
    display: inline-block;
    color:#fff;
    margin-left: 30px;
    margin-top: 9px;
    vertical-align: top;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    width: 70px;
}
.mibewText{
    display: inline-block;
    color:#fff;
    margin-left: 20px;
    margin-top: 9px;
    vertical-align: top;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    width: 70px;
}
#consultationAssistance .consultationText{
    margin-left: 10px;
}
.consultationButtons,#mibew-agent-button{
    opacity: 1;
    float: left;
}
.consultationButtons:hover,#mibew-agent-button:hover{
    opacity: 0.7;
}
.lectureAccess.thisLecture{
    background: green;
}
/*sidebar lectures */
.videoDeleteButton{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.selectedButton{
    background: #4b75a4;
}
#addBlockSubmit[disabled],#addVideoButton[disabled],#addtests[disabled],input[type="submit"].buttonForm[disabled],#addTask input[type="submit"][disabled],#addSkipTask input[type="submit"][disabled]{
    background: #cccccc;
}
/*hide close and save in add block*/
#addBlock .cke_button__customsave, #addBlock .cke_button__close{
    display: none;
}
.cke_maximized .cke_button__close{
    display: none;
}
.cke_reset_all a.cke_combo_button {
    display: inline-block;
    width: 100px;
}
.cke_reset_all a.cke_combo_button .cke_combo_text{
    width: 70px;
}
.cke_dialog_tabs a.cke_dialog_tab {
    padding: 4px 1px;
}
/*hide close and save in add block*/
#addBlockForm{
    clear: both;
}
.lessonText hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
.answersCheckbox input[type='checkbox']{
    vertical-align: middle;
}
.cke_dialog_ui_input_file {
    width: 100%;
    height: 100px;
}
#lecturePage .cke_button__image_icon {
    background: url(../scripts/ckeditor/plugins/file.png) !important;
    width: 32px;
}
a.cke_dialog_ui_fileButton{
    margin-top: 80px;
}
.answerTable{
    width: 100%;
}
.answerTable td:first-child{
    width: 20px;
}
.answerTable td{
    vertical-align: top;
}
.ckeImg{
    display: inline-block;
    background: #5bc0de;
    cursor: pointer;
}
.answerCheck{
    display: inline-block;
}
/*CKE for answers input*/
#optionsList .cke_chrome {
    display: inline-block;
}
#optionsList .cke_top {
    padding: 0;
    margin: 0;
}
#optionsList .cke_reset {
    vertical-align: bottom;
}
.element .cke_toolbar:first-child{
    float: right;
}
/*CKE for answers input*/
.answerList{
    display: inline-block;
}
.answerList li{
    margin-bottom: 5px;
}
#addSkipTask .cke_button__skipword1,#addSkipTask .cke_button__skipword0{
    width: 64px;
}
#addSkipTask .cke_button__skipword0_icon,#addSkipTask .cke_button__skipword1_icon{
    width: 64px;
}
#cke_question .cke_button__skipword1,#cke_question .cke_button__skipword0{
    width: 64px;
}
#cke_question .cke_button__skipword0_icon,#cke_question .cke_button__skipword1_icon{
    width: 64px;
}
.cke_button_icon.cke_button__customsave_icon{
    background-size: 16px;
}
.instrTestImg div{
    margin: 10px 0 0 10px;
    width: 28px;
    height: 41px;
    background-image: url(../images/lecture/task.png);
}
.instrTestImg div.quizDone{
    background-image: url(../images/lecture/taskDone.png);
}
.emptyField{
    box-shadow: 0 0 4px #c72929;
    border: 2px solid #c72929;
}
#flashMsg{
    display: none;
    position: absolute;
    color: #c72929;
}
#flashMsg.emptyFlash{
    display: block;
}
#flashMsg.emptyFlash.hideFlash{
    display: none;
}
#lecturePage legend {
    width: auto;
}
.editTaskButton button{
    margin-top: 2px;
}
#ajaxLoad{
    position: absolute;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    left: 11%;
    right: 0;
}

/* highlight include */
/* Base16 Atelier Sulphurpool Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Sulphurpool Comment */
.hljs-comment,
.hljs-quote {
    color: #898ea4;
}

/* Atelier-Sulphurpool Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #c94922;
}

/* Atelier-Sulphurpool Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #c76b29;
}

/* Atelier-Sulphurpool Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #ac9739;
}

/* Atelier-Sulphurpool Blue */
.hljs-title,
.hljs-section {
    color: #3d8fd1;
}

/* Atelier-Sulphurpool Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #6679cc;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #202746;
    color: #979db4;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
.element img{
    vertical-align: inherit;
}
#taskVariables{
    display: none;
    font-size: smaller;
    background: #F2F2F2;
    border-radius: 5px;
    padding: 5px;
}
.pageTitleCke{
    font-size: 24px;
    margin-bottom: 5px;
}
.videoLink{
    font-size: 20px;
}
.videoLink input{
    display: inline-block;
}
#errorBox{
    margin: 10px 22px 10px 10px;
    border: 1px solid #335379;
    border-radius: 5px;
}
#errorBox > label{
    font-size: smaller;
    color: #4b75a4;
    cursor: pointer;
}
#errorBox > label:hover{
    color: #4b75a4;
}
#errorBox > span{
    font-size: smaller;
}