/* stylesheet for lesson top */

.lectureMainBlock {
    border-bottom: solid 2px #DCDCDC;
    width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}

img {
    max-width: 745px;
}

.redactor-editor img {
    max-width: 745px;
}

.lectureImageMain {
    position: absolute;
}

.titlesBlock {
    border-left: solid 2px #DCDCDC;
    float: left;
    left: 0px;
    display: inline-block;
    position: relative;
    margin-left: 102px;
    margin-top: 0px;
    padding-left: 15px;
    width: 500px;
}

.titlesBlock ul {
    display: inline-block;
    padding: 0px;
    margin-top: 3px;
    list-style: none;
    margin-left: 0px;
    width: 100%;
    word-wrap: break-word;
}

.titlesBlock ul li {
    line-height: 135%;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.titlesBlock ul li span {
    font-weight: bold;
}

#subTitle {
    display: inline-block;
}

#lectionTypeText {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#lectionTypeImage {
    position: absolute;
    display: inline-block;
    margin-left: 12px;
}

#lectureTimeText {
    display: inline-block;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#lectureTimeImage {
    display: inline-block;
    margin-left: 12px;
}

#iconImage {
    display: inline-block;
    margin-left: 10px;
}

#counter {
    display: inline-block;
    margin-bottom: -20px;
    margin-top: -6px;
}

.lectureMainBlock p {
    border: solid 0px black;
    left: 50%;
    height: 17px;
    display: inline-block;
    margin-top: -10px;
}

.lectureMainBlock a {
    color: #4682B4
}

.teacherBlock {
    border: solid 0px #DCDCDC;
    left: 52%;
    top: 8px;
    width: 455px;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -10px;
    padding-bottom: 0px;
}

.teacherBlock span {
    border-left: solid 2px #DCDCDC;
    left: 102px;
    top: 0px;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    padding-left: 15px;
}

.teacherBlock ul {
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    margin-bottom: -20px;
    margin-left: 0px;
}

.lectureMainBlock {
    word-wrap: break-word;
}

.teacherBlock ul li {
    line-height: 131%;
    margin-left: 0px;
    text-align: left;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.teacherTitle {
    color: #4682B4
}

#teacherSkype {
    display: inline-block;
    font-weight: bold;
}

.teacherBlock img {
    display: block;
}

.teacherBlock > a {
    display: inline-block;
    width: 88px;
    text-align: center;
    font-size: small;
    line-height: 100%;
}

.teacherBlock a:hover {
    color: #666666;
}

.teacherBlock input[type="submit"] {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font-size: medium;
    margin-top: 20px;
}

.teacherBlock input[type="submit"]:hover {
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
    cursor: pointer;
}

/*----Edit toolbar----*/
.editToolbar {
    position: absolute;
    margin-top: -20px;
    float: left;
}

.editToolbar img {
    cursor: pointer;
}

.editButton {
    float: right;
    display: inline;
    cursor: pointer;
}

.addTextBlock {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}

#editIco {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#textBlockForm {
    display: none;
}

.formLabel {
    text-decoration: none;
}

#cancelButton {
    margin-top: 10px;
}

.teacherBlock div.photobg {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    overflow: hidden;
}

.teacherBlock img.teacherphoto {
    position: relative;
    display: inline-block;
    width: 90px;
}

.teacherBlock img.mask {
    position: absolute;
    z-index: 1;
    display: inline-block;
}

#addTask {
    display: none;
}

#addTask textarea {
    width: 100%;
}

.editTask textarea {
    width: 100%;
}

#addTest {
    display: none;
}

#addTest fieldset input[type="text"] {
    width: 95%;
}

.taskSubmit :disabled {
    background: #dddddd;
    color: #333333;
}

#newTextBlock, #header, #etalon, #taskFooter, #condition {
    resize: none;
}
#sidebarLesson .calendar{
    margin: 5px 0;
}
#sidebarLesson .calendar a{
    text-decoration: underline;
    font-weight: normal;
}

#divAddFormula {
    display: none;
}

#divAddVideo {
    display: none;
}

#text, #quiz {
    resize: none;
    height: 400px;
    border: 1px solid #335379;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#quiz {
    border-top: 3px solid #ffffff;
    background-color: #dbe3ed;
    overflow: hidden;
    background-image: -webkit-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -moz-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -o-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#becdde', endColorstr='#dbe3ed', GradientType=1);  / / Ie6-9
}

#video {
    resize: none;
    height: 400px;
    border: 1px solid #335379;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 10px 5px 10px 5px;
}

#text, #quiz {
    overflow: auto;
    padding: 0;
}

.addTest, .removeTest, .editRemoveTest, .editAddTest {
    cursor: pointer;
    color: #4b75a4;
}

.addTest:hover, .removeTest:hover, .editRemoveTest:hover, .editAddTest:hover {
    color: #666666;
}

.tabswidgets .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc;
    color: #222222;
    font-weight: bold;
}

.container {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.source {
    min-width: 310px;
    height: 30px;
    resize: none;
}

.lectureProgress {
    position: relative;
}

.lectureProgress a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 5px 0;
}
div.spotDone {
    background: #4b75a4;
    display: inline-block;
    width: 32px;
    height: 8px;
}

div.spotDisabled {
    background: #cecece;
    display: inline-block;
    width: 32px;
    height: 8px;
    cursor: pointer;
}
a.pageDone, a.pageNoAccess, a#pagePressed,div.spotDone, div.spotDisabled, div#pagePressed  {
    display: inline-block;
    cursor: pointer;
}

div.spotDone:hover {
    background: #003366;
}

.labelBlock {
    /*border-bottom: 1px solid #335379;*/
}

#tooltip {
    /*border-bottom: 1px solid #335379;*/
    display: none;
}
div.lastAccessPage {
    background: green;
}

.noAccess {
    font-size: 14px;
    color: #ff3333;
}

#arrowCursor {
    position: absolute;
    display: none;
}

#pointer {
    position: absolute;
    display: none;
}

.text, .codeExample {
    padding: 10px;
}

.text table {
    margin: 0;
    margin-bottom: 15px;
    border: none;
    background: none;
    box-shadow: none;
    width: 100%;
}

.text table td {
    padding: 5px;
    border: 1px solid #ddd;
    vertical-align: top;
    height: 16px;
}

.lessonText fieldset {
    padding-left: 0;
    padding-right: 0;
}

/*.labelBlock{*/
/*border-bottom: 1px solid #335379;*/
/*}*/
#tooltip {
    /*border-bottom: 1px solid #335379;*/
    display: none;
    vertical-align: bottom;
    line-height: 1;
    margin-bottom: 5px;
}

.lessonPart {
    border-bottom: 1px solid #335379;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.lessonPart div {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    margin-bottom: 5px;
}

#labelBlock p, #tooltip p {
    display: inline-block;
    font-size: 26px;
    color: #4b75a4;
    margin: 0;
}

h1.lessonPartEdit p img {
    cursor: pointer;
}

.lessonPartEdit a {
    font-size: 24px;
    font-weight: normal;
}

#tooltip p.titleNoAccess {
    color: #999999;
    display: inline-block;
}

.spoilerBody a.pageAccess {
    color: #4b75a4;
}

.startVideo, .startVideoHover {
    position: absolute;
    margin-left: 315px;
    margin-top: 177px;
    cursor: pointer;
}

.startVideoHover {
    opacity: 0;
}

.video {
    position: absolute;
    background: #072152;
    width: 770px;
    height: 400px;
    max-width: 770px;
    cursor: pointer;
}

.redactor-box .redactor-editor hr {
    margin-bottom: 0;
}

.redactor-box .redactor-editor {
    min-height: 100px;
}

#bar1 .toolbar_wrapper:first-child {
    display: none;

}

.finishedShare {
    margin-top: 10px;
}

.finishedShare img {
    margin-right: 10px;
    cursor: pointer;
}
/*bootstrap tooltips css*/
#counter .popover {
    max-width: 300px;
    font-family: "MyriadPro";
    font-size: 14px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #335379;
    border-radius:0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
}
#counter .popover.top > .arrow {
    border-top-color: #335379;
    border-bottom-width: 0;
}
#counter .popover-content {
    padding: 2px 2px;
}
/*tooltips css*/
/*sidebar lectures */
div.lectureAccess{
    display: inline-block;
    width: 20px;
    height: 6px;
    background: #4B75A4;
}
div.lectureDisabled{
    display: inline-block;
    width: 20px;
    height: 6px;
    background: #cccccc;
}
a.lectureDisabled{
    cursor: default;
    pointer-events: none;
}
#sidebarLesson .spoilerBody a{
    font-weight: normal;
    font-size: 14px;
    pointer-events: none;
    cursor: default;
    color: #666666;
}
#sidebarLesson .spoilerBody a.pageAccess{
    font-weight: normal;
    pointer-events:inherit;;
    cursor: pointer;
    color: #4B75A4;
}
/*sidebar lectures */