/*header navigation*/
.subNavBlock {
    margin: 0 auto;
    width: 1200px;
    clear: both;
    overflow: hidden;
}
div.subLinks{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-top: 40px;
    margin-bottom: 28px;
    float:left;
}
/*header navigation*/
.lessonBlock {
    margin: 0 auto;
    width: 1200px;
    padding-left: 20px;
    position: relative;
}
.lessonBlock p{
    word-wrap: break-word;
    color:#333333;
}
.lessonBlock h3{
    margin-top: 20px;
}
.lessonVisb2, .lessonVisb3 {
}
.spoilerBody {
    display:none;
}
.lessonText {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    float: left;
    width:66%;
    z-index: 0;
    word-wrap: break-word;
    border-right: solid 2px #DCDCDC;
    margin-top: 8px;
}
.lessonTheme{
    color: #4b75a4;
    font-size:28px;
    line-height: 28px;
    font-weight: normal;
    display: inline-block;
    width: 100%;
}
h1.lessonPart p{
    color: #4b75a4;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}
span.listTheme{
    font-size: 20px;
    font-weight: normal;
}
span.spoilerLinks,span.spoilerLinksHidden {
    cursor:pointer;
    font-size: 14px;
}
span.spoilerClick:hover{
    cursor:pointer;
    color:#666666;
}
.spoilerLinksHidden{
    margin-left: 44px;
}
span.spoilerClick {
    color:#4b75a4;
    font-size: 14px;
    font-weight: bold;
}
div.spoilerTriangle {
     display: inline-block;
     font-size: 12px;
     color: #4b75a4;
     margin-left: 2px;
     white-space: nowrap;
 }
#trg{
    font-size: 8px;
}
span.spoilerTitle{
    text-decoration:underline;
    color:#666666;
}
span.subChapter{
    color: #4b75a4;
    font-weight: normal;
    font-size: larger;
}
.spoilerBody p {
    margin:0;
}
.spoilerBody a{
    text-decoration: none;
    color: #666666;
}
div.code {
    background-color: #d6ebe0;
    color: #114988;
    padding: 7px 0px 7px 20px;
}
.code p{
    color:#114988;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content {
    display: inline-block;
    float: right;
    width: 89%;
}
.contentTest{
    display: inline-block;
    width: 90%;
    padding: 0 10px 0 20px;
}
.contentTest .testSubmit{
    float: right;
}
.ui-widget input.answer{
    margin: 3px 3px 0 3px;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
}
.contentTest label{
    font-size: 16px;
    line-height: 16px;
    margin: 3px 3px 3px 3px;
    vertical-align: bottom;
    display: inline;
    font-weight: normal;
}
div.lessonBG {
    border-top:3px solid #ffffff;
    background-color: #dbe3ed;
    overflow:hidden;
    background-image: -webkit-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -moz-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: -o-linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    background-image: linear-gradient(left,
    #becdde 0%,
    #becdde 11%,
    #dbe3ed 11%,
    #dbe3ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#becdde', endColorstr='#dbe3ed',GradientType=1 );//Ie6-9
}
span.colorO {
    color:#de5940;
}
span.colorBP {
    color: #114988;
}
span.colorBlack {
    color: #000000;
    font-size: 16px;
}
span.colorGreen {
    color: #45ad45;
}
.lessonText > p {
    text-indent: 20px;
}
.instrTaskImg {
    display: inline-block;
    width: 10%;
    height: 100%;
    float:left;
}
.instrTaskImg img{
    margin: 10px 0 0 10px;
}
.instrTaskText {
    display: inline-block;
    width: 95%;
    margin: 20px 0 0 10px;
}
.instructionText {
    display: inline-block;
    width: 95%;
    margin: 20px 0 0 10px;
}
.instrTaskText ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: num; /* Задаём имя счетчика */
    margin: 15px 0px 15px 0px ;
}
.instrTaskText li::before {
    content: counter(num) '. '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    font-weight:bold;
}
.instrTskText li {
    margin-bottom:10px;
}
span.colorAlert {
    background-color: #ff560c;
    color:#ffffff;
}
div.lessonInstr{
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}
div.lessonTask {
    position: relative;
    margin-top: -2px;
    margin-bottom: 40px;
}
img.lessonBut  {
    position: absolute;
    left:44%;
    top:-15px;
    width: 90px;
}
.lessonLine{
    border: 1px solid #4b75a4;
}
.lessonButName {
    position: absolute;
    color:#ffffff;
    left:44%;
    top:-15px;
    width: 90px;
    text-align: center;
    font-size: 14px;
    font-family: "MyriadPro";
    line-height: 30px;
}
img.lessonButFinal  {
    position: absolute;
    left:40%;
    top:-16px;
    width: 164px;
    height:32px;
}

div.lessonButFinal
{
    position: absolute;
    color:#ffffff;
    left:40%;
    top:-16px;
    width: 164px;
    height:32px;
    text-align: center;
    padding-top: 4px;
}
.sendAnswer {
    margin: 10px 22px 10px 10px;
    overflow:hidden;
}
.sendAnswer textarea {
    height: 130px;
    width: 99%;
    resize: none;
}
#taskSubmit {
    width: 90px;
    height:28px;
    border-radius: 10px;
    color:#ffffff;
    background-color:#4b75a4;
    margin: 10px 30px 20px 30px;
    float:right;
    border:none;
    cursor:pointer;
}

#taskSubmit {
    margin-right: 0;
  }
#taskSubmit:hover {
    cursor: pointer;
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
}

/*vertical navigation*/
#sidebarLesson {
    /*display: none;*/
    display: inline-block;
    /*position: fixed;*/
    margin: 5px 0 20px 10px;
    z-index: 1;
    width: 380px;
    /*top: 0;*/
}
#sidebarLesson div.titlesBlock
{
    width: 390px;
}
#sidebarLesson p{
    margin-left: 10px;
}

#sidebarLesson input[type="submit"] {
    width: 170px;
    height:30px;
    border-radius: 5px;
    border:none;
    color:#ffffff;
    background-color:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    font-size: medium;
}
#sidebarLesson input[type="submit"]:hover {
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
    cursor: pointer;
}
#sidebarLesson a {
    text-decoration: none;
    color: #4B75A4;
    display: inline-block;
}
#sidebarLesson .titlesBlock{
    margin-bottom: 10px;
    margin-left: 0;
}
div.download {
    /*display: block;*/
    display: none;
}
#do1{
    margin-left: 83px;
}
.download a {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff;
    border-radius: 7px;
    border: 1px solid #4B75A4;
    vertical-align: middle;
    font: 14px/30px "MyriadPro";
    text-align: center;
    text-decoration: none;
color:#4b75a4 ;
    bottom: 23px;
}
#do1 a{
    background: #4b75a4;
    color: #ffffff;
}
#do2 a{
    top: 5px;
    margin-left: 455px;
}
#do1 img{
    position: relative; top: 7px; padding-right: 5px;
}
#do2 img{
    position: relative; top: 4px; margin-right: 5px;
}
#do3 img{
    position: relative; top: 7px; padding-right: 5px;
}
#do4 img{
    position: relative; top: 8px; padding-right: 1px;
}

pre.prettyprint {
    margin-bottom: 20px;
}
pre {
    display: block;
    margin: 0 0 10px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}
/*Test Block*/
div.lessonTest {
    position: relative;
}
.instrTestImg {
    display: inline-block;
    width: 10%;
    height: 100%;
    float:left;
}
.instrTestImg img{
    margin: 10px 0 0 10px;
}
.instrTestText {
    margin: 20px 0 0 0;
}
.ui-widget button.testSubmit {
    width: 120px;
    height:30px;
    border-radius: 5px;
    color:#ffffff;
    background-color:#4b75a4;
    margin: 20px 0 10px 0;
    float:right;
    border:none;
}
.tabsWidget .ui-widget button.testSubmit {
    font-size: 16px;
    cursor: pointer;
}
.ui-widget button.testSubmit:hover{
    cursor: pointer;
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
}
.ui-widget button.testSubmit:focus {
    outline: none;
}
.ui-widget button.taskSubmit {
    width: 120px;
    height:30px;
    border-radius: 5px;
    color:#ffffff;
    background-color:#4b75a4;
    margin: 20px 22px 20px 30px;
    float:right;
    border:none;
}
.tabsWidget .ui-widget button.taskSubmit {
    font-size: 16px;
    cursor: pointer;
}
.ui-widget button.taskSubmit:hover{
    cursor: pointer;
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
}
.ui-widget button.taskSubmit:focus {
    outline: none;
}
.ansnumber{
    display:inline-block;
    width: 25px;
    text-align: right;
}
#addFormula textarea{
    resize: none;
}
.element textarea{
    resize: none;
}
.element{
    font-family: "MyriadPro";
    word-wrap: break-word;
}
.element table{
    /*border-collapse: collapse;*/
}
.element table {
    border-collapse: inherit;
    width: 100%;
}
.element table td, .element table th {
    padding: 3px;
    border: 1px solid black;
    text-align: inherit;
}
#addBlockForm .re-save, #addBlockForm .re-close, #addBlockForm .re-closefullscreen{
     display: none;
}
.redactor-box-fullscreen .redactor-toolbar li a.re-close, .redactor-toolbar .re-closefullscreen{
    display: none;
}
.redactor-box-fullscreen .redactor-toolbar .re-closefullscreen{
    display: block;
}
.hideInput{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.imageUpdateForm{
    text-align: center;
    font-size: 14px;
}
.imageUpdateForm a{
    cursor: pointer;
    color: #4B75A4;
    text-decoration: underline;
}
.imageUpdateForm a:hover{
    color: #264b73;
}
.imageUpdateForm input[type="submit"] {
    height: 30px;
    width: 90px;
    background: #4b70a3;
    border-radius:   10px;
    border: 1px solid #ffffff;
    color: white;
    vertical-align: middle;
    text-align:      center;
    cursor: pointer;
}
.imageUpdateForm input[type="submit"]:hover {
    background: #454545;
}
#avatarInfo{
    width: 90px;
}
.lectureImageMain img{
    width: 90px;
    height: 90px;
    border-radius: 150px;
    border:1px solid #4B75A4;
}

#discussionHeader {
    position: relative;
    display: none;
    width: 60px;
    height: 30px;
    margin-left: 15px;
    color: #4B75A4;
    font-size: 17px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px solid #335379;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #fff;
    padding: 4px 2px 4px 2px;
}
div#discussionHeader {
    background: #fff;
    z-index: 2;
}
#discussion {
    position: relative;
    display: none;
    height: 150px;
    margin: -1px 0 0 15px;
    overflow: auto;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #335379;
    border-radius: 0 0 0 10px;
    padding: 6px 6px 4px 6px;
    z-index: 0;
    background: #fff;
}

.post {
    padding: 3px 7px;
    margin-bottom: 4px;
    background: #E1EBF2;
    border-radius: 5px;
}

.author {
    font-size: 10px;
}

.author span {
    color: #4B75A4;
    font-weight: bold;
}

.postText {
    font-size: 13px;
    line-height: 18px;
}

blockquote {
    background: #EBEADD;
    border: #DBDBCE 1px solid;
    font-size: 0.95em;
    margin: 5px 0 5px 10px;
    overflow: hidden;
    padding: 1px 5px;
}

blockquote.uncited {
    padding-top: 20px;
}

blockquote cite {
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
    display: block;
    font-size: 0.9em;
}

.codebox {
    padding: 3px;
    border: #C9D2D8 1px solid;
    background: #FFF;
    margin: 2px 0;
}

.codebox code {
    overflow: auto;
    display: block;
    height: auto;
    max-height: 200px;
    white-space: normal;
    padding-top: 5px;
    font: 12px Monaco,"Andale Mono","Courier New",Courier,mono;
    margin: 2px 0;
    color: #2E8B57;
}

.postText ul, ol{
    margin: 2px 0;
}

a.postlink {
    color: #368AD2;
    text-decoration: none;
    border-bottom: #368AD2 1px solid;
    padding-bottom: 0;
}

#addPlainTask
{
    display: none;
}

.plainTaskCondition
{
    border-width: 2px;
    resize: none;
    width: 600px;
    height: 300px;
}
.codeBut{
    margin: 5px 5px 0 0;
}