.MainTable {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.MainTable tr {
    vertical-align: top;
}

#TextAreaLinkCode {
    width: 536px;
    height: 124px;
    color: #333333;
}

#MathOutput {
    margin-top: 5px;
    font-size: 14px;
    width: 700px;
    height: 251px;
    overflow: auto;
    border: 1px solid #999999;
    text-align: center;
}

#CommandButtons {
    position: absolute;
    color: #2955A0;
    font-size: 11px;
    margin-top: 5px;
    margin-left: 5px;
}

#AD {
    position: absolute;
    margin-top: 174px;
    margin-left: 105px;
}

#ForLatext {
    margin-top: 55px;
}

#ForASC {
    margin-top: 55px;
}

.SingleButton {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
}

#divURL {
    margin-top: 7px;
    border: 1px solid #999999;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#divMathML {
    margin-top: 7px;
    border: 1px solid #999999;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.2em;
    white-space: pre;
}

#TextAreaLinkCode {
    width: 697px;
    height: 80px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    margin-top: 2px;
    padding-top: 8px;
    border: 1px solid #999999;
}

.CodeMirror {
    height: 205px;
    width: 100%;
    margin-top: 0px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-color: #999999 #999999 #999999 #999999;
    line-height: 1.6em;
    font-size: 16px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: Black;
    letter-spacing: 0.12em;
}

.CodeMirror-scroll {
    overflow: auto;
    width: 700px;
    height: 180px;
    position: relative;
}

.cm-s-default span.cm-atom {
    color: black;
}

.cm-s-default span.cm-bracket {
    color: blue;
}

.cm-s-default span.cm-tag {
    color: blue;
}

.CodeMirror-focused div.CodeMirror-selected {
    background: #3399FF;
}

.cm-s-default span.cm-comment {
    color: #a50;
    font-size: 12px;
}

#sendButton{
    margin-top: 80px;
    height: 15px;
    width: 150px;
    background: #4b70a3;
    border-radius:   10px;
    color: white;
    font: 16px/30px "MyriadPro";
    text-decoration: none;
    vertical-align:middle;
    display:table-cell;
    text-align:center;
    cursor: pointer;
}

#cancel{
    width: 200px;
    background: #4b70a3;
    border-radius:   10px;
    color: white;
    font: 16px/30px "MyriadPro";
    text-decoration: none;
    display:table-cell;
    text-align:center;
    cursor: pointer;
    margin-left: 200px;
    float: left;
    margin-top: -30px;
}

