.modalContent p{
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgb( 130, 130, 130 );
    text-align: left;
    margin-left:0px;
    font-size:18px;
}
p.sharingText{
    color: #349700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.modalBody{
    margin-left: 60px;
    position: relative;
}
.modalBody h1{
    margin: 0 0 0 25px;
    color: #339900;
    font-size: x-large;
    font-weight: normal;
}
.modalError .modalBody h1{
    color: #cc0000;
}
.modalBody table td{
    padding-top: 5px;
    vertical-align: top;
}
.modalButton{
    position: relative;
    float: right;
    margin-top: 40px;
}
.modalBody .modalButton{
    width:195px;
    height:52px;
    border-radius: 10px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    box-shadow:0 2px 0 #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 25px;
    letter-spacing:1px;
    text-shadow:1px 2px 1px rgba(0,0,0,.5);
    text-decoration: none;
    text-align: center;
    outline: none;
    margin-bottom: 15px;
}
.modalBody .modalButton:hover {
    background: #454545;
    box-shadow:0 2px 0 #7f7f7f;
    cursor: pointer;
}
.nextLecture .modalBody .modalButton{
    width:300px;
}
/* -- stars rating -- */
.glyphicon-star, .glyphicon-star-empty {
    color:#017ebc;
    font-size: 24px;
}
span .glyphicon-star {
    cursor: pointer;
}
.modalContent :focus {
    outline: none !important;
    /*outline: thin dotted !important;*/
}
