.ModuleBlock
{
    margin: 0 auto;
    width: 1200px;
    color: #666666;
    font-size:18px;
    overflow: hidden;
}
img.moduleImg{
    width: 90px;
    padding-right: 20px;
    border-right: 1px solid #cccccc;
}
img.time{
    padding-left: 5px;
    padding-right: 5px;
}
#titleModule{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
#oldPrice {
    color: #ff0000;
    text-decoration: line-through;
}
.leftModule{
    float:left;
    width:740px;
}
.lessonModule{
    border-top: 1px solid #cccccc;
    padding-left: 115px;
    font-size: 16px;
}
.lessonModule h2
{
    color:#4682B4;
    font-weight: inherit;
    font-size:24px;
}
.lessonModule td {
    padding-left: 0;
    vertical-align: top;
}
.leftModule a {
    color: #4b75a4;
    text-decoration:none;
    }
a:link {color:#4b75a4;}
a:hover {color:#5b5b5b; text-decoration:underline;}
.rightModule{
    float:right;
    width:440px;
}
.teacherBox{
}
.teacherBox table{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-top: 40px;
}
.teacherBox td{
    padding-right: 15px;
}
.teacherBox h2{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
.teacherBox img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 1px solid #4b75a4;
}
.rightModule a {
    color: #4b75a4;
    font-size:14px;
    vertical-align: top;
}
a:link {color:#4b75a4;}
a:hover {color:#5b5b5b; text-decoration:underline;}
.teacherBoxLeft{
    text-align: center;
    line-height: 1;
}
.teacherBoxRight{
    border-left: 1px solid #cccccc;
    padding-left: 15px;
}
#enter_button_2 {
    margin-top: 80px;
    margin-left: 150px;
    z-index: 6;
    height: 15px;
    width: 150px;
    background: #4b70a3;
    border-radius:   10px;
    color: white;
    font: 16px/30px "MyriadPro";
    text-decoration: none;
    vertical-align:middle;
    display:table-cell;
    text-align:center;
}
#enter_button_2:hover {
    background: #454545;
}
#enter_button_2:active {
    background: #363636;
}


