.ModuleBlock
{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    color: #666666;
    font-size:18px;
    overflow: hidden;
}
img.moduleImg{
    width: 90px;
    height: 90px;
}
img.time{
    padding-left: 5px;
    padding-right: 5px;
}
#titleModule{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
#oldPrice {
    color: #ff0000;
    text-decoration: line-through;
}
.leftModule{
    float:left;
    width:59%;
}
.lessonModule{
    border-top: 1px solid #cccccc;
    padding-left: 115px;
    font-size: 16px;
    margin-top: 10px;
}
.lessonModule h2
{
    color:#4682B4;
    font-weight: inherit;
}
.lessonModule td {
    padding-left: 0;
    vertical-align: top;
}

.titleColumn a {
    color: #4b75a4;
    text-decoration:none;
    float:left;
    }

.rightModule{
    float:right;
    width:39%;
}
.teacherBox table{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-top: 20px;
}
.teacherBox td{
    padding-right: 5px;
}
.teacherBox h2{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
.rightModule a {
    color: #4b75a4;
    font-size:14px;
    text-align:center;
}
a:link {color:#4b75a4;}
a:hover {color:#5b5b5b; text-decoration:underline;}
.teacherBoxLeft a{
    display: inline-block;
    max-width: 90px;
    text-align: center;
    line-height: 1;
}
.teacherBoxLeft div.photobg{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}
img.teacherphoto{
    position: relative;
    display: inline-block;
    width: 90px;
    min-height: 90px;
}
img.mask{
    position: absolute;
    z-index: 1;
    display: inline-block;
}
.teacherBoxRight{
    border-left: 1px solid #cccccc;
    padding-left: 5px;
    height: 105px;
}
#enter_button_2 {
     margin-top: 80px;
     margin-left: 150px;
     z-index: 6;
     height: 15px;
     width: 150px;
     background: #4b70a3;
     border-radius:   10px;
     color: white;
     font: 16px/30px "MyriadPro";
     text-decoration: none;
     vertical-align:middle;
     display:table-cell;
     text-align:center;
 }
#enter_button_2:hover {
    background: #454545;
}
#enter_button_2:active {
    background: #363636;
}
#addLessonButton{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}

#editIco, #requestBth, #viewIco{
    float:right;
    margin-top: 20px;
    margin-right: 40px;
}
#requestBth{
    height: 33px;
    width: 100px;
    background: #4b70a3;
    border-radius:   10px;
    border: 2px solid #ffffff;
    color: white;
    font: 16px/30px "MyriadPro";
    text-align:      center;
    text-decoration: none;
}

#lessonForm{
    display: none;
}

#formLabel{
    color:green;
    font-size: 16px;
}

#newLectureName{
    width: 530px;
    height: 25px;
}

.editToolbar img{
    width: 25px;
    height: 25px;
}
#submitButton{
    height: 33px;
    width: 100px;
    background: #4b70a3;
    border-radius:   10px;
    border: 2px solid #ffffff;
    color: white;
    font: 16px/30px "MyriadPro";
    text-align:      center;
    text-decoration: none;
    float: left;
}

#cancelButton {
    float: left;
    margin-left: 20px;
    height: 33px;
    width: 100px;
    background: #4b70a3;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: white;
    font: 16px/30px "MyriadPro";
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#submitButton:hover, #cancelButton:hover{
    background: #454545;
    cursor: pointer;
}
.controlButtons{
    width: 20px;
    height: 20px;
}
.grid-view table.items{
    border:none;
}
body .grid-view table.items td{
    font-size: 16px;
    background-color: white;
}

body .grid-view table.items td.button-column{
    background-color: white;
    min-width: 70px;
}

body .grid-view table.items td.aliasColumn{
    white-space: nowrap;
    background-color: white;
    width: 1%;
    margin-left: 0px;!important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
body .grid-view table.items td.aliasColumn img{
    position: relative;
    vertical-align: bottom;
    margin-right: 5px;
}
body .grid-view table.items td.titleColumn{
    vertical-align: top;
    background-color: white;
    padding-left: 0;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;!important;
    word-wrap: break-word;
}
.grid-view table.items tr.odd,.grid-view table.items tr.even{
    background: #ffffff;
}

.grid-view table.items tr.odd:hover, .grid-view table.items tr.even:hover{
    background: #ffffff;
}
.grid-view table.items td.titleColumn a{
    max-width: 100%;
    word-wrap: break-word;
}
.grid-view{
    padding-top: 0;
}
div.ratico{
    display: inline-block;
    float: right;
    margin-left: 20px;
}
#addLecture{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #0080c2;
    display: none;
    border-style: none;
}
#addLecture:hover{
    cursor: pointer;
    border-style: none;
}
#addLecture:focus,#addLecture:active{
    border-style: none;
}
#ajaxaddlecture-form input[type="submit"]{
    background-image: url('../images/editor/add_lesson.png');
}
td.button-column{
    display: table-cell;
    white-space: nowrap;
}
.lessonModule .grid-view table.items td {
    font-size: 18px;
    line-height: 18px;
}
.startCourse, .startModule{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
}
.headerLeftModule div.startModule{
    margin-left: 110px;
    float: left;
}
.headerLeftModule div.startCourse{
    float:right;
}
#paymentButtonModule, #paymentButtonCourse{
    display: inline-block;
    position: relative;
    width: 160px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #9fb5ce;
    color: #ffffff;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
    text-decoration: none;
}
#paymentButtonModule:hover,  #paymentButtonCourse:hover {
    background: #454545;
    cursor: pointer;
}
.moduleTitle h1, #modulesHeader{
    font-weight: inherit;
    font-size: 36px;
    color: #4B75A4;
    margin: 24px 0 20px 0;
    line-height: 100%;
    word-wrap: break-word;
}
#modulesHeader{
    margin-left: 115px;
}
.colorGreen{
    color: green;
}
.headerLeftModule table{
    table-layout: auto;
    width: 100%;
}
.headerLeftModule table td:first-child {
    width: 1%;
    white-space: nowrap;
}
.moduleRating img{
    margin-left: 2px;
}
.hideInput{
     position: absolute;
     opacity: 0;
     z-index: -1;
 }
.imageUpdateForm{
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
}
.imageUpdateForm a{
    cursor: pointer;
    color: #4B75A4;
    text-decoration: underline;
}
.imageUpdateForm a:hover{
    color: #264b73;
}
.imageUpdateForm input[type="submit"] {
    height: 30px;
    width: 90px;
    background: #4b70a3;
    border-radius:   10px;
    border: 1px solid #ffffff;
    color: white;
    vertical-align: middle;
    text-align:      center;
    cursor: pointer;
}
.imageUpdateForm input[type="submit"]:hover {
    background: #454545;
}
#errorMessage{
    width: 90px;
    word-wrap: break-word;
    white-space: normal;
    color: red;
}
#imgButton[disabled]{
    background: #666666;
}
#avatarInfo{
    width: 90px;
    word-wrap: break-word;
    white-space: normal;
}
/*addlesson validation*/
#addLessonForm input.ng-invalid.ng-dirty, #addLessonForm input.ng-invalid.ng-dirty:focus{
    box-shadow: 0 0 4px #c72929;
    border:1px solid #c72929;
}

#addLessonForm .clientValidationError{
    margin-left: 215px;
    color: red;
    font-size: 0.9em;
}
#addLessonForm input[type="submit"][disabled]{
    background: #666666;
}
/*addlesson validation*/
#logo {
    color:#4b75a4;
    cursor: pointer;
    background: #fff;
}
#logo_img #logo {
    background: inherit;
}
#logo:hover {
    color: #454545;
}
.fileform {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.btnChat{
    height:20px;
    width: 40px;
    border-radius:10px;
    border:none;
    border-top:1px solid #9fb5ce;
    background:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    margin-top:10px;
    text-decoration: none;
    padding: 3px 0 6px 0;
    margin-bottom: 6px;
}
.disablesLink{
    cursor: pointer;
}
.revisionIco{
    position: relative;
    vertical-align: top;
    text-align: right;
}
.revisionIco img{
    margin: 20px 5px 0 5px;
    vertical-align: bottom;
}
.revisionIco a:hover{
    text-decoration: none;
}
.paymentsButtons{overflow: hidden;min-height: 40px;}
.moduleInfoTable{display: table}
.moduleInfoTd{display: table-cell;}
.moduleParam{padding-left: 15px; border-left: 1px solid #cccccc;}
@media only screen and (max-width: 800px) {
    .leftModule,.rightModule{width: 100%;float: none;margin: 0 auto}
    .teacherBox table {width: 100%}
    .teacherBox table td:first-child{width: 30%;text-align:center}
    .teacherBox table td:last-child{width: 70%}
    .teacherBoxLeft div.photobg {
        margin: 0 auto;
    }
    .lessonModule {
        padding-left: 0;
    }
}
@media only screen and (max-width: 500px) {
    .headerLeftModule div.startModule, .headerLeftModule div.startCourse{
        display: block;
        float: none;
        margin-left: 110px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 360px) {
    .moduleInfoTable{display: block}
    .moduleInfoTd{display: block}
    .moduleLogo{text-align: center}
    #avatarInfo {
        width: 100%;
        word-wrap: break-word;
        white-space: normal;
    }
    .moduleParam{border-left:none;padding: 0}
    .moduleTitle h1{margin-bottom: 2px}
}