/*.operation2 {*/
    /*width: 640px;*/
    /*min-height: 600px;*/
    /*position: relative;*/
/*}*/

/*.operation2 > input {*/
    /*display: none;*/
/*}*/

/*.operation2 > div {*/
    /*position: absolute;*/
    /*box-sizing: border-box;*/
    /*top: 30px;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*border-radius: 10px;*/
    /*padding: 0px 1em;*/

    /*z-index: 0;*/
    /*background-color: #666;*/

    /*transition: all 0.5s ease 0s, z-index 0s 0.5s;*/
/*}*/

/*.operation2 > div > *:first-child {*/
    /*display: block;*/
    /*position: absolute;*/
    /*box-sizing: border-box;*/
    /*top: -30px;*/
    /*width: 150px;*/
    /*height: auto;*/

    /*font-size: 13px;*/

    /*border-radius: 10px 10px 0px 0px;*/
    /*background-color: inherit;*/

    /*color: #fff;*/
    /*line-height: 28px;*/
    /*cursor: pointer;*/
    /*text-align: center;*/

    /*transition: all 0.5s ease 0s;*/
/*}*/

/*.operation2 > div > *:not(:first-child) {*/
    /*opacity: 0;*/
    /*transition: all 0.5s ease 0s;*/
/*}*/

/*.operation2 > div:nth-of-type(1) > *:first-child { left: 20px; }*/
/*.operation2 > div:nth-of-type(2) > *:first-child { left: 170px; }*/
/*.operation2 > div:nth-of-type(3) > *:first-child { left: 320px; }*/
/*.operation2 > div:nth-of-type(4) > *:first-child { left: 470px; }*/

/*.operation2 > input:nth-of-type(1):checked ~ div:nth-of-type(1),*/
/*.operation2 > input:nth-of-type(2):checked ~ div:nth-of-type(2),*/
/*.operation2 > input:nth-of-type(3):checked ~ div:nth-of-type(3),*/
/*.operation2 > input:nth-of-type(4):checked ~ div:nth-of-type(4) {*/
    /*z-index: 10;*/
    /*background-color: #ccc;*/
    /*transition: all 0.5s ease 0.5s, z-index 0s 0.5s;*/
/*}*/

/*.operation2 > input:nth-of-type(1):checked ~ div:nth-of-type(1) > *:first-child,*/
/*.operation2 > input:nth-of-type(2):checked ~ div:nth-of-type(2) > *:first-child,*/
/*.operation2 > input:nth-of-type(3):checked ~ div:nth-of-type(3) > *:first-child,*/
/*.operation2 > input:nth-of-type(4):checked ~ div:nth-of-type(4) > *:first-child {*/
    /*color: #333;*/
    /*transition: all 0.5s ease 0.5s;*/
/*}*/

/*.operation2 > input:nth-of-type(1):checked ~ div:nth-of-type(1) > *:not(:first-child),*/
/*.operation2 > input:nth-of-type(2):checked ~ div:nth-of-type(2) > *:not(:first-child),*/
/*.operation2 > input:nth-of-type(3):checked ~ div:nth-of-type(3) > *:not(:first-child),*/
/*.operation2 > input:nth-of-type(4):checked ~ div:nth-of-type(4) > *:not(:first-child) {*/
    /*opacity: 1;*/
    /*transition: all 0.5s ease 0.5s;*/
/*}*/
.searchCriteria{
    width: 250px;
    display: inline-block;
}

.operationCreate{

}

.operationPanel{
    display: inline;
    /*border-width: 3px;*/
}

.findOffer{
    display: block;
    /*margin: 10px;*/
}
.findOperation{
    display: none;
}
.list{
    display : none;
    margin-left: 75px;
}
#operationForm1
{
    min-width: 600px;
}
.formatted-form
{
    width: 600px;
}
.ajax-formatted-form{
    width: 568px;
}
.mainOperation
{
    width: 600px;
    background-color:#d3d3d3;
}