.searchCriteria{
    width: 250px;
    display: inline-block;
}

.operationCreate{

}

.operationPanel{
    display: inline;
}

.findOffer{
    display: block;
}
.findOperation{
    display: none;
}
.list{
    display : none;
    margin-left: 75px;
}
#operationForm1
{
    margin-left: 50px;
    min-width: 600px;
}
.formatted-form
{
   min-width: 600px;
}
.ajax-formatted-form{
    /*width: 568px;*/
}
.mainOperation
{
    width: 700px;
    background-color:#a7b6a2;
}
#operationForm2{
    margin-left: 50px;
    min-width: 600px;
}
#operationForm3{
    margin-left: 50px;
    min-width: 600px;
}

.operationMargin{
    margin-left: 50px;
}