.formStudProf
{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}
.formStudProf a span.colorP:hover{
    color: #666666;
}
.formStudProf a{
    color: #4b75a4;
}
.formStudProf a:hover,.formStudProf a:active{
    color: #666666;
}
.formStudProf h1 {
    color: #4b75a4;
    margin: 0px;
    font-size: xx-large;
    font-weight: normal;
    line-height: 100%;
}
span.colorP {
    position: relative;
    color: #4b75a4;
}
span.networkLink {
    position: relative;
    color: #4b75a4;
    margin-left: 10px;
}
div.regLinks{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-top: 40px;
    margin-bottom: 28px;
    float:left;
    border: 1px solid;
}
.regLinks a{
    color: #666666;
}

.profileActivity{
    display:inline-block;
    float: right;
    width: 62%;
}
.studProfInf{
    display:inline-block;
    float:left;
    width: 35%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
table.titleProfile{
    margin:20px 0 0 24px;
    display:inline-block;
    font-size: smaller;
    line-height: 120%;
    width: 90%;
}

table.titleProfile td{
    width:100%;
}

table.titleProfile td:last-child{
    margin-right: 10px;
}

.titleProfile a:hover{
    color:#666666;
}
.titleProfile h2{
    color: #4b75a4;
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.studProfInf img.avatarimg{
    width:220px;
    margin-left: 5%;
    display: block;
}
table.profileInfo {
    margin: 10px 10px 100px 5%;
}
table.profileInfo div {
    word-wrap: break-word;
}
table.profileInfo div span.interestBG{
    word-wrap: break-word;
}
.profileInfo span{
    display: block;
}
span.interestBG{
    display: inline-block;
    background-color: #edf1f6;
    margin-right: 5px;
    border-radius: 5px;
}
/*TABS*/
/* стили секций с содержанием */
.tabs {
    display: block;

}
.tabs > ul{
    margin:15px 0 0 22px;
    padding:0;
}
.tabs > ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
}
.tabs > ul li{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #666666;
    width: 140px;
    height: 35px;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    margin:0;
    cursor:pointer;
    display:block;
    float:left;
    padding:0;
    border-radius: 5px 5px 0 0;
    background:#fff;
}
.tabs > ul li.active{
    color:#cccccc;
    -webkit-transform:translateY(-3px) scaleY(1.2);
    -moz-transform:translateY(-3px) scaleY(1.2);
    -o-transform:translateY(-3px) scaleY(1.2);
    -ms-transform:translateY(-3px) scaleY(1.2);
    transform: translateY(-3px) scaleY(1.2);
}
.tabs > ul li.active:hover{
      background:#ededed;
}
.tabs > ul li:hover{
    background:#ededed;
}
.profileActivity .tabsContent > div {
    display: none;
    padding: 10px 10px 15px 10px;
    border: 1px solid #d8d8d8;
    background: #fff;
    border-radius: 5px;
    margin-top: 14px;
    overflow: hidden;
}
hr.lineUnderTab{
    border-top: 1px solid #d8d8d8;
    margin-top: -5px;
}
/*TABS*/
p.tabHeader{
    font-size: 30px;
    color:#4b75a4;
    margin: 0 0 10px 0;
    font-weight: 500;
}
.profileCourse img{
    margin-left: 20px;
}
.profileCourse td{
    vertical-align: bottom;
}
.profileCourse td img{
    vertical-align: baseline;
}
.currentCourseTitle{
    border-bottom: 2px solid #d8d8d8;
}
/*My Course*/
#myCourse div{
     margin: 0 0 10px 0;
 }
.courseData{
    border-bottom:1px solid #d8d8d8;
}
#myCourse a{
    text-decoration: none;
}
.profileCourse table{
    margin-top: 20px;
}
.profileCourse p{
    margin-top: 0;
    margin-bottom: 0;
}
p.courseLevLang{
    font-size: small;
}
#myCourse div.profileCoursePay{
    border-bottom:none;
    margin-bottom: 5px;
}
.profileCoursePay .studPay p{
    margin: 0 0 5px 0;
}
.profileCoursePay p {
    margin-bottom: 5px;
}
#myCourse .studPay p{
    color: #e10000;
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 100%;
}
#myCourse div.studPay {
    border-bottom:none;
}
.profileModule {
    padding-left: 20px;
}
.profileLesson {
    padding-left: 30px;
}
.profileLesson p, .colorP p,.profileCoursePay > p,.profileModule p{
    color: #666666;
}
/*My Course*/
/*Timetable*/
#timetable{
    padding-left: 0;
    padding-right: 0;
}
#timetable .tabHeader{
    margin-left: 30px;
}
table.exmCons{
    margin-left: 10px;
}
table.exmCons img{
    margin: 2px;
    display: block;
}
table.exmCons span{
    border-right:1px solid #8b8b8b;
    padding-right: 5px;
}
table.exmCons td:last-child span{
    border-right: none;
}
table.exmCons span{
    font-size: 12px;
    cursor:pointer;
}
table.timeTable{
    margin-top: 10px;
    font-size: 14px;
    border-spacing: 0 10px;
}
table.timeTable td{
    color:#666666;
    border-top: 1px solid #cccccc;
    padding: 10px 0 0 0;
}
table.timeTable div{
    border-right: 1px solid #cccccc;
    padding: 0 7px 0 7px;
    vertical-align: bottom;
    line-height: 1;
}
table.timeTable tr:first-child td{
    color:#999999;
}
.timeTable tr > td:last-child div {
    border-right: none;
}
.timeTable tr > td:first-child{
    white-space: nowrap;
}
.timeTable tr:first-child div {
    border: none;
}
.timeTable tr:first-child td{
    border-top: none;
}
div#consultation-grid.grid-view td{
    max-width: 250px;
}
#consultation-grid table.items{
    margin-top: 10px;
    font-size: 14px;
    border-spacing: 0 10px;
    text-align: center;
    word-wrap: break-word;
}
#consultation-grid table.items td{
    color:#666666;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 5px 5px 5px 5px;
}
#consultation-grid table.items thead th, #consultation-grid table.items thead th a{
    color:#999999;
    background: #ffffff;
    text-align: center;
}
#consultation-grid table.items tbody tr > td:first-child{
    border-left:1px solid #ffffff;
}
#consultation-grid table.items tbody tr > td:last-child{
    border-right:1px solid #ffffff;
}
#consultation-grid table.items tbody tr:last-child > td{
    border-bottom:1px solid #ffffff;
}

#consultation-grid table.items thead th{
    border-bottom: 1px solid #cccccc;
}
#consultation-grid table.items tr > td:last-child {
    border-right: none;
}
#consultation-grid table.items tr > td:first-child{
    white-space: nowrap;
}
#consultation-grid table.items tr:first-child td{
    border-top: none;
}
#consultation-grid table.items img{
    display: block;
}
#consultation-grid table.items a.delete{
    display: inline-block;
}
#consultation img{
    display: block;
}
#consultation-grid table.items tr td:first-child {
    min-width: 20px;
    white-space: nowrap;
}
#consultation-grid table.items td.dateColumn{
    width:70px;
    white-space: nowrap;
}
#consultation-grid table.items td.timeColumn{
    width:70px;
    white-space: nowrap;
}
#consultation-grid table.items td.nameColumn{
    width:150px;
    word-wrap: break-word;
}
#consultation-grid table.items td.themeColumn{
    width:250px;
    word-wrap: break-word;
}
.formStudProf .selectedTab {
    text-decoration: none;
    color: #999999;
}
.formStudProf .selectedTab .unselectedTab {
    text-decoration: underline;
    color: #4b75a4;
}
.formStudProf .unselectedTab:hover {
    text-decoration: none;
}
.profileMyRatting {
    border-bottom: 1px solid #d8d8d8;
}
.disabledModul {
    border-bottom: 1px solid #d8d8d8;
}
.ButtonRatting {
    width: 120px;
    height: 70px;
    color:#ffffff;
    background:#4b70a3;
    border-radius: 10px;
    text-align: center;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
.linkFinances {
    border-right: 1px solid gray;
}
.borderF {
    border-bottom: 1px solid #d8d8d8;
}
.studPay p{
    color: #e10000;
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 100%;
}
    /*Timetable*/
/*consultation*/
/*-----ЗАВАНТАЖЕННЯ-----ЗАВАНТАЖЕННЯ-----ЗАВАНТАЖЕННЯ-----ЗАВАНТАЖЕННЯ-----ЗАВАНТАЖЕННЯ-----ЗАВАНТАЖЕННЯ-----*/
.download_tabs {
    width:100%;
    display:inline-block;
}
.download_tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.download_tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.download_tab-links a {
    padding:9px 10px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.download_tab-content {
    padding:10px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.download_tab {
    display:none;
}

.download_tab.active {
    display:block;
}
li.active a, li.active a:hover {
    background: white;
    color: #4b70a3;
}


.downlT {
    color: #4b70a3;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 40px;
}
.downlT1 {
    color: #4b70a3;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.downlT2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.downlT3 {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.downlT4 {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 85px;
}
.downlT5 {
    color: black;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 85px;
}
.ModLess {
    border-bottom: 1px solid #d8d8d8;
}

/*------------------------------------------------------------------------------------------*/


/***ЛИСТУВАНЯ----ЛИСТУВАНЯ----ЛИСТУВАНЯ----ЛИСТУВАНЯ----ЛИСТУВАНЯ----ЛИСТУВАНЯ----ЛИСТУВАНЯ***/
#mylettersSend label
{
    display: inline-block;
    width: 90px;
    height: 40px;
    vertical-align: top;
    text-align: right;
    line-height: 40px;
    color: #999999;
    margin: 10px 20px 10px 5px;
}
#mylettersSend input[type="submit"].sendletter {
    width: 180px;
    height:50px;
    border:none;
    color:#ffffff;
    background:#4b75a4;
    margin-bottom: 30px;
    font-size: 18px;
    margin-left: 440px;
    margin-top: 20px;
}
#mylettersSend input[type="submit"].sendletter:hover {
    background: #454545;
    cursor: pointer;
}
.box_tabs {
    width:100%;
    display:inline-block;
}
.box_tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.box_tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.box_tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:1px 1px 1px 1px;
    background:rgba(0,0,0,0.15);
    font-size:16px;
    font-weight:600;
    color: grey;
    transition:all linear 0.15s;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.15)
}

.box_tab-links a:hover {
    color: #4b70a3;
}
.box_tab-links a.createLetter:hover {
    color: white;
}

li.active_box a, li.active_box a:hover {
    background: white;
    color: #4b70a3;
    border-color: rgba(0,0,0,0.15);
}
li.active_box a {
    background: white;
    color: #4b70a3;
    border-color: rgba(0,0,0,0.15);
    -webkit-transform:translateY(-3px) scaleY(1.2);
    -moz-transform:translateY(-3px) scaleY(1.2);
    -o-transform:translateY(-3px) scaleY(1.2);
    -ms-transform:translateY(-3px) scaleY(1.2);
    transform: translateY(-3px) scaleY(1.2);
}
li.active_box a.createLetter{
    color: white;
    border-color: rgba(0,0,0,0.15);
    background: #4b70a3;
    -webkit-transform:translateY(-3px) scaleY(1.2);
    -moz-transform:translateY(-3px) scaleY(1.2);
    -o-transform:translateY(-3px) scaleY(1.2);
    -ms-transform:translateY(-3px) scaleY(1.2);
    transform: translateY(-3px) scaleY(1.2);
}
.box_tab-content {
    border-bottom: 1px solid #d8d8d8;
    background:#fff;
}

.box_tab {
    display:none;
}

.box_tab.active_box {
    display:block;
}

.Btn_Msg {
    width: 150px;
    height: 50px;
    color:#ffffff;
    background:#4b70a3;

}
/*------------------------------------------------------------------------------------------*/
/*send letter*/
.box_tab-links li{
    margin-right: 0px;
    margin-left: 0px;
    height: 40px;
}
.box_tab-links a{
    width: 160px;
    text-align: center;
}
.createLetter{
    width: 110px; text-align:center; background: #4b70a3; color: white;
}
.createLetter img{
    display: inline-block;
    vertical-align: top;
    height: 18px;
    margin-right: 10px;
}
a.createLetter{
    width: 160px; text-align:center; background: #4b70a3; color: white;
}
#flashinfo{
    color: red;
    text-align: center;
}
.letter .spoilerBody {
    display:none;
    word-wrap: break-word;
}
.letter{
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #d8d8d8;
}
.letter a div:hover{
    cursor: pointer;
}
.letter div{
    color: #000000;
}
span.addressee {
    display: inline-block;
    width: 20%;
    overflow: hidden;
}
.addressee{
    width: 30%;
    text-align: center;
    overflow: hidden;
}
.theme{
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    padding-left: 10px;
    overflow: hidden;
    border-left:1px solid #d8d8d8;
}
.timeletter{
    display: inline-block;
    width: 30%;
    float: right;
    text-align: center;
    overflow: hidden;
    border-left:1px solid #d8d8d8;
}
.spoilerLinks:hover{
    cursor: pointer;
}
.letter div.completed{
    color: #c2bcbc;
}
.letter.completed div{
    color: #c2bcbc;
}
.letterrow{
    border-bottom: 1px solid #d8d8d8;
}
#mylettersSend textarea
{
    width: 77%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 10px 0 10px 5px;
    resize: none;
    padding-left: 5px;
}
#mylettersSend textarea.letterresponse{
    width: 98%;
    margin: 0;
}
#mylettersSend input[type="text"]
{
    width: 77%;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin: 10px 0 10px 5px;
    padding-left: 5px;
}
#mylettersSend select {
    width: 78%;
    height: 40px;
    margin: 10px 0 10px 5px;
    line-height: 40px;
}
.letter img{
    width: 60px;
    height: 60px;
    vertical-align: top;
}
table.letterinfo{
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
}
table.letterinfo td{
    vertical-align: top;
}
table.letterinfo table div{
    width: 580px;
    word-wrap: break-word;
}
div.letterbody{
    margin: 10px 10px 10px 10px;
    white-space: pre-wrap;
}
div.errorMessage{
    color: #c72929;
    margin-left: 125px;
    margin-bottom: 5px;
}
.letter div.errorMessage{
    margin-left: 0;
}
.responseletter{
    margin: 0 0 10px 50px;
    border-bottom:1px solid #d8d8d8;
}
/*send letter*/
/*finance*/
#finances{
    word-wrap: break-word;
}
.payments {
    color: #666666;
    font-size: 18px;
}
.payInfo {
    margin-bottom: 5px;
    font-size: 16px;
}
.payInfo .selectedTab {
    text-decoration: none;
    color: #666666;
}
.payInfo .unselectedTab {
    text-decoration: underline;
    color: #4b75a4;
    cursor: pointer;
}
.completely a.coursename,.partly a.modulename{
    color: #4b75a4;
    font-size: 18px;
    margin-bottom: 2px;
    text-decoration: none;
}
.price{
    font-size: 14px;
    color: #4b75a4;
    margin-top: 0;
}
.FinancesPay {
    padding: 0 0 0 20px;
    line-height: 100%;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
}
.ButtonFinances {
    width: 125px;
    height: 30px;
    color:#ffffff;
    background:#4b70a3;
    border-radius: 7px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
    float:right;
    cursor:pointer;
}
/*mymark*/
.mymark{
    word-wrap: break-word;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
a.teachername{
    margin-right: 10px;
    text-decoration: none;
}
div.stars{
    display: inline-block;
    float:right;
}
.stars img{
    margin-left: 2px;
}
/*myrating*/
.myrating{
    word-wrap: break-word;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.mainrating{
    word-wrap: break-word;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}
.spoiler,.spoilerMini,.userNameMini{display: none}
body .grid-view table.items td{
    font-size: 16px;
    background-color: white;
}
@media only screen and (max-width: 800px) {
    table.titleProfile {
        margin-top: 0;
    }
    .spoiler{display: inline-block}
    .spoiler {
        display: inline-block;
        color: #4b75a4;
        cursor: pointer;
    }
    .spoiler:hover {
        color: #666666;
    }
    #trg1,#trg2{
        font-size: 8px;
        display: inline-block;
    }
    #spoilerContent{display: none}
    .studProfInf, .profileActivity{
        display: block;
        float: none;
        width: 100%;
    }
    .studProfInf{border:none}
    .studProfInf img.avatarimg, .profileInfo{display: inline-block;vertical-align: top}
    table.profileInfo {
        margin-top:0;
        margin-bottom:0;
        width: 60%;
    }
    .studProfInf{
        margin-bottom: 20px;
    }
    .studProfInf img.avatarimg {
        width: 25%;
    }
    .tabs > ul li{
        width: inherit;
        padding: 4px;
    }
}
@media only screen and (max-width: 360px) {
    .studProfInf img.avatarimg {
        width: 65px;
        display: inline-block;
    }
    /*.editLink{display:none}*/
    .formStudProf div.studProfInf table,.formStudProf div.studProfInf img{margin-left:0}
    .userNameMini{display: inline-block;}
    .userNameMini h1{font-size: 20px}
    .userName,.spoiler{display: none}
    #spoilerContent{display: block}
    #spoilerContentMini{display: none}
    .spoilerMini {
        display: block;
        color: #4b75a4;
        cursor: pointer;
    }
    .spoilerMini:hover {
        color: #666666;
    }
    .profileInfo{display:table;}
    .studProfInf{border-bottom: 1px solid #d8d8d8;border-radius: inherit}
    .lineUnderTab{display: none}
    .tabs > ul{
        margin:0;
        padding:0;
    }
    .tabs > ul:after{
        content:"";
        display:block;
        clear:both;
        height:5px;
    }
    .tabs > ul li{
        white-space: nowrap;
        height: 35px;
        border-bottom:1px solid #d8d8d8;
        border-radius:inherit;
    }
    .tabs > ul li.active{
        color:#cccccc;
        -webkit-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -ms-transform:none;
        transform:none;
    }
    .profileActivity .tabsContent > div {
        border:none;
        border-radius: inherit;
        margin-top: 0;
    }
    /*celebre*/
    #lineProgress ul li{
        margin-right: 2px;
        width: 20px;
    }
    /*celebre*/
}
@media only screen and (min-width: 361px) {
    #spoilerContentMini {
        display: block!important;
    }
}
@media only screen and (min-width: 801px) {
    #spoilerContent{display: block!important;}
    #spoilerContentMini{display: block!important;}
}


/*celebre - profileActivity*/
.profileActivity {
    padding: 10px 10px 15px 10px;
    border: 1px solid #d8d8d8;
    background: #fff;
    border-radius: 5px;
    margin-top: 14px;
    overflow: hidden;
}
#lineProgress ul{
    margin: 10px 0;
}
#lineProgress ul li{
    display: inline-block;
    list-style-type: none;
    background: grey;
    margin-right: 3px;
    width: 25px;
    height: 7px;
}
#lineProgress ul {
    margin-bottom: -23px;
}
#lineProgress {
    margin-bottom: 23px;
}
#lineProgress ul:first-child li {
    background: #780000;
}
#lineProgress ul:nth-child(2) li {
    background: #ee0000;
}
#lineProgress ul:nth-child(3) li {
    background: #ff3030;
}
#lineProgress ul:nth-child(4) li {
     background: #e76600;
 }
#lineProgress ul:nth-child(5) li {
    background: #009aff;
}
#lineProgress ul:nth-child(6) li {
    background: #30309d;
}
#lineProgress ul:nth-child(7) li {
    background: #009a00;
}
#lineProgress ul:nth-child(8) li {
    background: #00cd0d;
}
#lineProgress ul:nth-child(9) li {
    background: #00ff00;
}
#lineProgress ul:last-child li {
    background: #ffcd0d;
}
.percentOfProgress {
    text-align: left;
}
#lineProgress {
    margin-left: -40px;
    position: relative;
}
.corona {
    padding: 0 13px;
    background: url("../images/icons/crowns.png") -25px 0;
    margin-left: 285px;
    position: relative;
    top: -25px;
}

@media only screen and (max-width: 345px) {
    #lineProgress ul li{
        margin-right: 2px;
        width: 20px;
        height: 6px;
    }
    .corona {
        margin-left: 225px;
    }
    #lineProgress ul {
        margin-bottom: -25px;
    }
    #lineProgress {
        margin-bottom: 25px;
    }
}
/*celebre - profileActivity*/

.studentProject {
    margin-bottom: 5px;
    margin-top: 5px;
}