.regFormBG{
    /*position: relative;*/
    padding-bottom: 100px;
    min-width: 1200px;
    background:url('images/formfon.jpg') repeat-x;
    background-position: top center;
    margin-top: 0;
    height:100%;
    padding-top: 40px;
}
.regFormBox{
    margin:0 auto;
    width:1200px;
    text-align: center;
}
.signInForm{
    background:#ffffff;
    margin:0 auto;
    width:540px;
    min-height:420px;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(24, 37, 51, .5);
    text-align:center;
    overflow: hidden;
}
.rowemail input,.rowpass input{
    padding-left:8px;
    width:444px;
    height:50px;
    border-radius:5px;
    border:1px solid #d8d8d8;
    font-size: 1em;
    font-weight:400;
}
.rowPass input{
     padding-left:8px;
     width:444px;
     height:50px;
     border-radius:5px;
     border:1px solid #d8d8d8;
     font-weight:400;
 }
.rowChPass input{
    margin-bottom: 28px;
}
.signInForm input:hover{
    border-color: #1287bf;
    box-shadow: 0 0 2px #1287bf;
    cursor:pointer;
}
.signInEmail{
    margin-top:50px;
}
.signInPass{
    margin-top: 8px;
}
input[type="submit"]#signInButton    {
    width:195px;
    height:52px;
    border-radius: 10px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    margin-top: 25px;
    box-shadow:0px 2px 0px #7f7f7f;
    font: normal     400 28px/50px "MyriadPro2";
    font-size:       25px;
    letter-spacing:1px;
    text-shadow:1px 1px 1px black;
    text-shadow:1px 2px 1px rgba(0,0,0,.5);
}
input#signInButton:hover {
    background: #454545;
    box-shadow:0px 2px 0px #7f7f7f;
    cursor: pointer;
}
input#signInButton::-moz-focus-inner {
    padding:0;
    border:0;
}
div.linesignInForm{
    margin:0 auto;
    width:444px;
    font-size: 18px;
    border-top:1px solid #4b75a4;
    padding:10px 0 10px 0;
    color:#b0b0b0;
}
.rowButtons{
    margin-bottom:25px;
    position: relative;
}
div.image{
    margin:0 auto;
    width:444px;
}
/****************registration***********/
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
#regCheckbox input {
    margin: 13px 3px 0 0;
    width: 15px;
    height: 15px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
#regCheckbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
#regCheckbox:not(checked) {
    position: absolute;
    opacity: 0;
}
#regCheckbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 42px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
#regCheckbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 26px;
    height: 14px;
    border-radius: 13px;
    background: #FFF;
    border:1px solid #4B75A4;
    transition: all .3s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
#regCheckbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #FFF;
    border:1px solid #4B75A4;
    transition: all .3s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
#regCheckbox:checked + label:before {
    background: #4B75A4;
    border:1px solid #4B75A4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
#regCheckbox:checked + label:after {
    left: 16px;
    border:1px solid #FFF;
}
/* Показываем получение фокуса.*/
#regCheckbox:focus + label:before {
    box-shadow: 0 0 1px #1287bf;
}
#regCheckbox:hover + label:before {
    box-shadow: 0 0 1px #1287bf;
}
.regCheckboxW{
    width:452px;
    margin:0 auto;
    overflow: hidden;
}
.regCheckbox{
    position: relative;
    text-align: left;
    float: left;
    padding-bottom: 5px;
}
.regCheckbox  label{
    color:#4B75A4;
}
.regCheckbox  label:hover{
    color:#666666;
}
.rowemail input:focus,.rowpass input:focus{
    cursor: text;
}
/* PassEye */
.passEye {
    position:relative;
    display:inline-block;
}
.passEye input {
    padding-right:0px;
}
.passEye input::-ms-reveal, .passEye input::-ms-clear {
    display:none
}
.passEye .eye {
    position:absolute;
    right:10px;
    top:50%;
    margin-top:0;
    display:block;
    height:10px;
    width:18px;
    cursor:pointer;
    background:url('images/passEye.png') no-repeat left 2px;
}

.passEye .openEye {
    background-position:left bottom;
}
/* PassEye */
/* SingIn Form */
.signIn{
    text-align: center;
}
.signInEmailM{
    margin-top:0;
}
.signInPassM{
    margin-top: 8px;
}
.forgotPass{
    margin: 0 auto;
    width: 448px;
    overflow: hidden;
}
#signInButtonM{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 27px;
}
a#forgotPass{
    color:#4b75a4;
    float: left;
    font-size: 16px;
}
a#registration{
    color:#4b75a4;
    float: right;
    font-size: 16px;
}
a#forgotPass:hover, a#registration:hover{
    color: #666666;
}
input[type="submit"]#signInButtonM    {
     width:195px;
     height:52px;
     border-radius: 10px;
     border:none;
     border-top:1px solid #9fb5ce;
     color:#ffffff;
     background:#4b75a4;
     box-shadow:0px 2px 0px #7f7f7f;
     font: normal     400 28px/50px "MyriadPro2";
     font-size:       25px;
     letter-spacing:1px;
     text-shadow:1px 1px 1px black;
     text-shadow:1px 2px 1px rgba(0,0,0,.5);
 }
input#signInButtonM:hover {
    background: #454545;
    box-shadow:0px 2px 0px #7f7f7f;
    cursor: pointer;
}

div.error input,
div.error textarea,
div.error select,
input.error,
textarea.error,
select.error
{
    box-shadow: 0 0 4px #c72929;
}
.signIn .errorMessage {
    float:left;
    margin: 10px 0 5px 30px;
    color: #c72929;
    font-size: 16px;
    font-family: "MyriadPro";
}
.signInForm .errorMessage {
    float:left;
    clear: right;
    margin: 10px 0 5px 45px;
    color: #c72929;
    font-size: 16px;
    font-family:"MyriadPro";
}
#studentreg-form{
    padding-bottom: 30px;
    overflow: hidden;
}
#quick-form{
    padding-bottom: 20px;
}
.signIn .image{
    margin-bottom: 20px;
}
.forminfo{
    margin: 0 auto;
    width: 448px;
    overflow: hidden;
    text-align: left;
    margin: 0 0 5px 45px;
    color: #c72929;
    font-size: 16px;
    font-family:"MyriadPro";
}/* PassEye */

 /*Slider Registration Form */
#uLogin, #uReg {
    margin: 0 auto;
    width: 100%;
}
#uLogin ul,#uReg ul {
    margin: 0 auto;
    width: 390px;
    padding: 0;
    list-style: none;
 }
#uLogin ul li,#uReg ul li {
	float: left;
	margin-left: 1.5px;
	margin-right: 1.5px;
}
#uLogin img,#uReg img {
  width: 75px;
  height: 75px;
  filter: Alpha(Opacity=40);/*IE7 fix*/
  opacity: 0.4;
 }
#uLogin img:hover,#uReg img:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1.0;
    cursor: pointer;
 }

 /*Slider Registration Form */
.modalHeader h1{
    text-align: center;
    color: #4b75a4;
    margin-top: 0;
    padding-top: 0;
}
#recovery-form p, #resetemail-form p{
    text-align: justify;
}
#recovery-form div.rowRecovButt,#resetemail-form div.rowRecovButt {
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 20px;
}
#recovery-form .errorMessage, #resetemail-form .errorMessage{
    margin-bottom: 0;
}
/*validation regForm css*/
input:focus {
    outline: none;
}
input.ng-invalid.ng-dirty, input.ng-invalid.ng-dirty:focus{
    box-shadow: 0 0 4px #c72929;
    border:1px solid #c72929;
}
.clientValidationError{
    color: #c72929;
    font-size: 16px;
    font-family: "MyriadPro";
}
.studProf .clientValidationError, .formStudProf .clientValidationError{
    margin-left: 215px;
}
.formStudProf .rightProfileColumn .clientValidationError{
    margin-left: 0;
    margin-bottom: 15px;
}
input[type="submit"][disabled],input[type="submit"][disabled]#signInButtonM,input[type="submit"][disabled]#signInButton {
    background: #666666;
}

#studentreg-form .clientValidationError{
    text-align: left;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.signIn .clientValidationError{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*validation form css*/