#revisionMainBox {
    margin: 0 auto;
    width: 1200px;
    overflow: visible;
}
.editIco{
    cursor: pointer;
}
.dropdown-menu a{
    cursor: pointer;
}
.lessonText {
    padding-right: 20px;
}
a,a:active,a:focus,button,button:active,input[type="submit"],input[type="submit"]:active{outline:none;!important;}
@-moz-document url-prefix(){a:focus{;outline:none;!important;}}
html, body{margin:0;padding:0;height:100%;font-family:"MyriadPro";box-sizing:border-box;}
.lectureInfo{
    width: 33%;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
}
.lectureInfo table.table {
    table-layout: fixed;
}