#revisionMainBox {
    margin: 0 auto;
    width: 1200px;
    overflow: visible;
    position: relative;
    word-wrap: break-word;
}
.editIco{
    cursor: pointer;
}
.dropdown-menu a{
    cursor: pointer;
}
.lessonText {
    padding-right: 20px;
}
#revisionMainBox a,#revisionMainBox a:active,#revisionMainBox a:focus,#revisionMainBox button,
#revisionMainBox button:active,#revisionMainBox input[type="submit"],
#revisionMainBox input[type="submit"]:active{outline:none;!important;}
@-moz-document url-prefix(){a:focus{;outline:none;!important;}}
html, body{margin:0;padding:0;height:100%;font-family:"MyriadPro";box-sizing:border-box;}
.lectureInfo{
    width: 33%;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
}
.lectureInfo table.table {
    table-layout: fixed;
}
#pages.table{
    table-layout: fixed;
}
#pages.table a,#pages.table td{
    cursor: pointer;
    width: 10%;
    /*text-align: center;*/
}
#pages.table td.quizType{
    width: 15%;
}
#pages.table tr:hover{
    background:#F2F2F2;
}
#pages.table tr:first-child:hover{
    background:none;
}
#pages.table tr:first-child td{
    cursor: default;
}
#pages.table td.titleCell{
    width: 70%;
    /*text-align: left;*/
}
.lectureInfo table.table td:first-child {
    width: 35%;
}
.editButtons img{
    float: right;
    display: inline;
    cursor: pointer;
    margin: 5px
}
.pageRevision{
    word-wrap: break-word;
}
.pageRevision #lecturePage{
    margin-top: 0;
}
.icons{
    text-align: right;
}
.icons img{
    width: 32px;
    cursor: pointer;
}
#revisionMainBox .lessonPart{
    height: 70px;
}
#revisionMainBox #labelBlock p, #revisionMainBox #tooltip p {
    width: inherit;
}
.editPageIco{
    float: right;
}
.editPageIco img{
    position: absolute;
    width: 32px;
    right: 0;
    cursor: pointer;
}
#loaderContainer{
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.modal {
    z-index: 9999;
}
.modal-backdrop {
    z-index: 9998;
}
.dropdown.treeview-dropdown{
    position: absolute;
    top: 0;
    left: 95%;
    margin: 5px 0 0 0;
}
.list-group-item.node-tree{
    padding-right: 70px;
    word-wrap: break-word;
}
#pageVideo{
    z-index: 3;
}
#addBlock{
    display: none;
}
#currentPage .spotDone{
    background: green;
}
.btnSend{
    display: inline-block;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    border: none;
    border-top: 1px solid #9fb5ce;
    background: #4b75a4;
    box-shadow: 0 2px 0 #7f7f7f;
    margin-top: 10px;
    text-decoration: none;
    padding: 3px 0 6px 0;
    text-align: center;
}
#filterSpoiler{
    cursor: pointer;
    color: #4b75a4;
}
#filterSpoiler:hover{
    color: #666;
}
#checkboxFilter>div{
    display: inline-block;
    border-radius: 4px;
    border:1px solid #ccc;
    padding: 5px;
    width: 1200px;
}

/*module revisions*/
.ico{
    cursor: pointer;
    font-size: x-large;
}
.ico:hover{
    color:#4b75a4;
}
.showMore{
    color:#4b75a4;
    display: inline-block;
    cursor: pointer;
}
.showMore:hover{
    color: #666;
}
.showMore span{
    font-size: 14px;
}
div.revisionTable{
    display: inline-block;
    vertical-align: top;
    width: 48%;

}
.revisionsList {
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 5px;
    border:1px solid #ccc;
    border-radius: 5px;
}
div#loading-bar-spinner{
    left:49%;
}
img.moduleImg {
    width: 90px;
    height: 90px;
    vertical-align: top;
    margin-right: 10px;
}
.imageUpdateForm {
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
}
#logo:hover {
    color: #454545;
}
#logo {
    color: #4b75a4;
    cursor: pointer;
    background: #fff;
}
.fileform {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.hideInput {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#avatarInfo {
    width: 90px;
    word-wrap: break-word;
    white-space: normal;
}
#errorMessage {
    width: 100px;
    word-wrap: break-word;
    white-space: normal;
    color: red;
}
.cancelled{
    color: red;
}
#addLessonForm{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.notActive{
    pointer-events: none;
    cursor: default;
    color:inherit;
}
.tagCloud {
    cursor: text;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    overflow: hidden !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.tagCloud ul{
    padding: 2px;
    margin: 2px;
    min-height: 30px;
}
.tagCloud li, .tagCloud label{
    display: inline-block;
    cursor: pointer;
    background: #efefef;
    border-color: #ebebeb;
    margin: 2px 4px 2px 0;
    padding: 2px;
    vertical-align: middle;
    white-space: normal;
    border-radius: 2px;
}
.tagCloud li:hover, .tagCloud label:hover{
    background: #ccc;
}
.tags.tagCloud {
    border:none;
}
.tags.tagCloud li{
    cursor: default;
}
.tags.tagCloud li:hover{
    background: #efefef;
}