.header{
    font-size: 15px;
    text-align: left;
    color: #4b75a4;
    margin-left: 75px;
}
.atts{
    font-size: 20px;
    margin-left: 30px;
    color: #4b75a4;
}
.params{
    font-size: 18px;
    margin-left: 60px;
}
.attsValue{
    margin-left: 30px;
    color: darkviolet;
    font-style: italic;
}
.custom img
{
    width: 100px;
}

.linkedList
{
    margin-right: 30px;
    float: right;
}
.myGrid
{
    cursor: pointer;
}