.header{
    font-size: 24px;
    text-align: left;
    color: #4b75a4;
    margin-left: 75px;
}
.atts{
    font-size: 20px;
    margin-left: 30px;
    color: #4b75a4;
}
.params{
    font-size: 18px;
    margin-left: 60px;
}
.attsValue{
    margin-left: 30px;
    color: darkviolet;
    font-style: italic;
}