.spoilerBody {
    display:block;
}
span.spoilerLinks {
    cursor:pointer;
}
span#spoilerClick:hover{
    cursor:pointer;
    color:#666666;
}
span#spoilerClick {
    text-decoration:underline;
    color:#4b75a4;
}
.spoilerRow{
    display: none;
}
.spoilerBody{
    width: 100%;
}
#spoilerPay + span{
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: #4b75a4;
    cursor: pointer;
}
#spoilerTriangle{
    font-size: xx-small;
    color: #4b75a4;
    margin-left: 3px;
    text-decoration: none;
}
.spoiler{
    text-decoration: underline;
}
#spoilerPay div span:first-child{
    display: inline-block;
    width: 250px;
}
#spoilerPay span{
    white-space: nowrap;
}

#PaymentPlan_value input{
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
}
input.paymentPlan_value{
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
}
.paymentsListEven{
    width: 450px;
    height: 75px;
    background: #ececec;
    white-space: nowrap;
}
.paymentsListOdd{
    width: 450px;
    height: 75px;
    white-space: nowrap;
}
#firstRadio{
    display: block;
}
.rowRadio input:checked+span > .mainPay,#rowRadio input:checked+span > .mainPay{
    color: #264b73;
}
.icoCheck{
    display: none;
}
#paymentButton{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 30px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #9fb5ce;
    color: #ffffff;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
}
#paymentButton:hover {
    background: #454545;
    cursor: pointer;
}
.paymentsListOdd table.mainPay, .paymentsListEven table.mainPay{
    display: inline-block;
}

#payments-form table.mainPay,#payments-form table.mainPay table{
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1;
}
#payments-form table.mainPay td {
    position: relative;
    vertical-align: top;
}
#payments-form table.mainPay img {
    margin-top: 5px;
    margin-right: 5px;
}
#payments-form table.mainPay table img {
    margin-top: 0;
}
.colorGreen{
    color: green;
}
.coursePriceStatus {
    color: #e41818;
    text-decoration: line-through;
}
.coursePriceStatus1 {
    color: #e41818;
    text-decoration: line-through;
}
.coursePriceStatus2 {
    color: #666666;
    font-weight: bold;
}
.discount{
    color: #078a0d;
    margin-left: 85px;
}