[ng\:cloak],[ng-cloak],.ng-cloak{display:none!important;}
a{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
body{margin:0 auto;}
img{border-style:none;}
html, body{margin:0;padding:0;height:100%;font-family:"MyriadPro";box-sizing:border-box;font-size:inherit!important;}
a, button, input[type="submit"]{outline:none;}
a:hover{color:#666666;}
#main-wrapper{box-sizing:border-box;min-height:100%;}
.main{position:relative;width:95%;margin:0 auto;}
h1, h2, h3, h4, html{font-family:"MyriadPro";color:#333333;font-weight:normal;}
p{font-family:"MyriadPro";color:#666666;}
#mainheader{border-bottom:2px solid #4b75a4;width: 100%;margin:0 auto;}
#navigation{border-collapse: collapse;display:table;max-width:1200px;width:100%;height:100px;margin:0 auto;background-color:white;box-sizing:content-box;}
#navigation.down{height:60px;}
#navigation.downmain{height:60px;}
#menulist ul{float:right}
#navigation.downmain div#menulist{width:940px;margin:0 auto;text-align:center;}
#navigation ul{display:inline-block;margin-bottom:0;padding:0;}
#navigation.down ul{display:inline-block;margin-top:0;float:right;margin-bottom:0;}
#navigation.downmain ul{float:none;display:inline-block;margin:0 auto;margin-top:16px;}
#navigation li{display:inline;}
#navigation li a{white-space:nowrap}
#navigation ul a{text-decoration:none;font-family:"MyriadPro";font-size:18px;font-weight:normal;color:black;padding:10px 8px;}
/*#navigation ul li:last-child a{padding-right:0;}*/
#navigation ul a:hover{color:#003399;}
#logo_img{margin-top:13px;padding-left:10px;padding-right: 10px}
#logo_img img{max-width:232px;max-height:75px;}
#logo_img.down{margin-top:7px;}
#logo_img.downmain{margin-top:7px;max-height:46px;max-width:142px;}
#logo_img.down img{max-height:46px;max-width:142px;margin-left:40px;}
#logo_img.downmain img{max-height:46px;max-width:142px;margin-left:40px;}
#logo_img.downmain a{display:block;height:0;}
#enterButton, .enterButton{display:inline-block;position:relative;height:33px;width:70px;}
#enterButton.downmain, .enterButton.downmain{margin-right:23px;}
#navigation.down #enterButton{width:100px;text-align:center;margin-right:0}
#button_border, .button_border{position:absolute;border:2px solid #4b70a3;border-radius:10px 10px 0 0;margin-left:89px;margin-top:74px;z-index:6;height:20px;width:74px;}
#button_border.down, .button_border.down{display:none;}
#button_border.downmain, .button_border.downmain{display:none;}
#enter_button, .enter_button{position:absolute;margin-left:91px;margin-top:76px;height:33px;width:70px;background:#4b70a3;border-radius:10px;border:2px solid #ffffff;color:white;vertical-align:middle;font:16px/30px "MyriadPro";text-align:center;text-decoration:none;z-index:7;cursor:pointer}
#navigation.down #enter_button{position:inherit;}
#enter_button:hover, .enter_button:hover{background:#454545;}
#enter_button:active, .enter_button:active{background:#363636;}
#enter_button.down, .enter_button.down{display:inline-block;margin-left:0;z-index:6;height:33px;width:70px;background:#4b70a3;border-radius:10px;border:2px solid #ffffff;color:white;vertical-align:middle;font:16px/30px "MyriadPro";text-align:center;text-decoration:none;margin-top:6px;}
#enter_button.downmain, .enter_button.downmain{position:absolute;float:right;margin-left:0;margin-top:14px;height:33px;width:70px;background:#4b70a3;border-radius:10px;border:2px solid #ffffff;color:white;vertical-align:middle;font:16px/30px "MyriadPro";text-align:center;text-decoration:none;z-index:6;}
#enter_button.down:hover, .enter_button.down:hover{background:#454545;}
#enter_button.downmain:hover, .enter_button.downmain:hover{background:#454545;}
#lang, .lang{position:relative;margin-top:13px;margin-right:5px;z-index:6;}
#lang.down{display:inline-block;position:relative;margin-top:16px;margin-right:5px;z-index:6;}
#lang.down .languageRow{margin-bottom:0}
#lang.downmain{display:none;}
#lang a{border-left:1px solid #999999;padding-left:6px;padding-right:6px;}
#lang a:first-child{border-left:none;}
#lang a{background:none!important;cursor:pointer;color:#4b70a3;font-size:18px;font-family:"MyriadPro";text-decoration:underline;}
#lang a:hover{color:#666666;}
#lang a.selectedLang{text-decoration:none;color:#999999;}
#headerUnderline.downmain{height:100px;}
#mainfooter{display: block;padding-top:5px;border-bottom:1px solid #44bdf6;width:100%;margin:0 auto;margin-bottom:5px;clear:both;box-sizing:content-box;overflow:hidden}
.footercontent{display:table;max-width:1200px;margin:0 auto;overflow:hidden;width:100%;border-left:1px solid #44bdf6;border-right:1px solid #44bdf6;}
.leftfooter{display:table-cell;vertical-align:top;position:relative;width:14%;border-right:1px solid #44bdf6;}
#mainfooter .leftfooter table{margin:0 auto;border-collapse:separate;border-spacing:2px 2px;margin-top:10px;}
#mainfooter .leftfooter table img{vertical-align:middle;}
#mainfooter .leftfooter table img:hover{border-radius:50px;box-shadow:0 0 10px #4b75a4;}
.centerfooter{display:table-cell;position:relative;width:74%;padding-left:10px;color:#4b75a4;padding-right: 5px}
#mainfooter .centerfooter div{display:inline-block;position:relative;}
#mainfooter .footerlogo img{width:140px;display:block;margin-top:12px;}
#mainfooter div.footerlogo{margin-left:20px;vertical-align:top;}
#mainfooter div.footercontact{display:inline-block;position:relative;}
#mainfooter .footercontact p{line-height:14px;margin-left:15px;color:#114988;font-size:14px}
#mainfooter .centerfooter .leftpart{display:table-cell;width: 48%}
#mainfooter .centerfooter .footermenu{display:table-cell;position:relative;font-size:1em;margin-top:5px;width: 48%;vertical-align: top;}
#mainfooter .footermenu ul{margin-top:10px;margin-left:0;padding-left:0;}
#mainfooter .footermenu li{display:inline;padding:8px;}
#mainfooter .footermenu li a{text-decoration:none;font-family:"MyriadPro";font-size:15px;color:#336699;white-space: nowrap}
#mainfooter .footermenu li a:hover{color:#666666;}
.rightfooter{display:table-cell;vertical-align:top;position:relative;width:8%;border-left:1px solid #33ccff;}
#mainfooter .rightfooter img{width:40px;position:relative;display:block;margin:0 auto;top:23px;cursor:pointer;}
.fon{width:auto;height:675px;position:relative;margin-top:0px;margin-left:auto;margin-right:auto;border:none;z-index:2;}
#fon{z-index:0;}
.textFon{position:absolute;width:390px;height:100px;margin-top:5px;margin-left:468px;padding-top:0px;line-height:1;text-align:center;font-family:Calibri;color:#ffffff;}
.formFon{position:absolute;width:548px;height:428px;margin-top:145px;margin-left:408px;}
.zagolovok{font-size:35px;letter-spacing:1px;margin:0;padding:0;color:#ffffff;line-height:100%;}
.zagolovok2{font-weight:300;font-size:21px;margin-top:0;padding-top:0;margin-bottom:35px;color:#ffffff;}
.email-password{width:440px;height:110px;margin-left:50px;margin-top:50px;}
.email1{float:left;width:440px;height:50px;margin-bottom:10px;border:1px solid #999;border-radius:7px;padding-left:20px;font:22px Arial, Helvetica, sans-serif;color:black;font-size:16pt;}
.password1{float:left;width:440px;height:50px;border-radius:7px;border:1px solid #999;padding-left:20px;font:22px Arial, Helvetica, sans-serif;color:black;font-size:16pt;}
.email1:hover{box-shadow:0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;}
.email1:focus{outline:none;box-shadow:0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 10px rgba(35,146,243,.5);transition:.2s linear;}
.password1:hover{box-shadow:0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;}
.password1:focus{outline:none;box-shadow:0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 10px rgba(35,146,243,.5);transition:.2s linear;}
.extendedRegistration{width:440px;height:25px;background-color:#ffffff;margin-top:15px;font:18px Arial, Helvetica, sans-serif;font-size:14pt;margin-left:50px;padding-left:20px;}
.extendedRegistration a{color:#4b75a4;text-decoration:none;}
.extendedRegistration a:hover{outline:none;color:#114988;transition:.2s linear;}
.button1{width:195px;height:52px;border-radius:10px;border:none;border-top:1px solid #9fb5ce;color:#ffffff;background:#4b75a4;margin-bottom:30px;box-shadow:0px 2px 0px #7f7f7f;font:normal 400 28px/50px "MyriadPro";font-size:25px;letter-spacing:1px;margin-left:177px;margin-top:15px;padding-top:0px;padding-right:30px;text-shadow:1px 1px 1px black;}
input[type="submit"]::-moz-focus-inner{padding:0;border:0;}
.button1:hover{background:#454545;cursor:pointer;}
.lineForm{width:440px;height:161px;margin-left:50px;margin-top:15px;}
.social{width:400px;height:16px;margin-left:70px;margin-top:-150px;font:16px Arial, Helvetica, sans-serif;color:#959595;}
.image{width:410px;margin-left:70px;margin-top:20px;}
.breadcrumbs{position: relative;max-width: 1200px;margin: 0 auto}
.my-cool-breadcrumbs{padding-bottom:24px;display:inline-block;margin-top:40px;color:#264b73;width:70%;word-wrap:break-word;}
.my-cool-breadcrumbs a{color:#4b75a4;text-decoration:underline;}
.my-cool-breadcrumbs a:hover{color:#264b73;}
div.profileStatus{position:absolute;top:10px;right:0;float:right;display:block;z-index:1;}
.profileStatus a{text-decoration:none;}
div.minavatar{width:70px;height:70px;float:right;margin-right:10px;overflow:hidden;}
.profileStatus .minavatar img{width:70px;min-height:70px;}
.profileStatus div{float:right;color:#4b75a4;font-family:MyriadPro;font-weight:normal;font-size:18px;line-height:1;height:70px;}
.infoblock{margin:0 auto;margin-bottom:40vh;width:540px;border:1px solid #d8d8d8;border-radius:5px;padding:20px 20px 20px 20px;text-align:center;}
.infoblock h2{text-align:center;color:#4b75a4;}
.errorblock{margin:0 auto;margin-bottom:37vh;width:540px;border:1px solid #d8d8d8;border-radius:5px;padding:20px 20px 40px 20px;text-align:center;}
.errorblock h1{text-align:center;text-transform:uppercase;color:#4b75a4;}
#teacher-view img{width:150px;}
#mydialog, #forgotpass, #changePasswordDialog,#changeemail,#mydialog2,#mydialog3, #dialogNextLecture{display:none;}
.forumLink{cursor:pointer;}
div#rocket{display:none;width:7%;position:absolute;z-index:2000;}
div#exhaust{display:none;width:45%;position:absolute;z-index:2000;}
#exhaust img, #rocket img{width: 100%}
#sharing .share42-counter,#sharingMain .share42-counter{display:block;margin:0;padding:0;text-align:center;background:#FFF;border:1px solid #d1d1d1;border-top:none;border-radius:0 0 5px 5px;height:20px;line-height:20px;}
#sharing .share42-counter:before,#sharingMain .share42-counter:before{background:none;}
#module-grid .grid-view table.items td{width:100px;}
.languageRow{white-space:nowrap;margin-bottom:40px}
.emptyTd{display: none}
.dateInput{margin-bottom:0px}
.dateFilter {display:block; z-index: 400; position: absolute; min-height:290px;right:55px}
.mailTemplate > .modal-dialog {width: 80% !important;}
#hamburgerMini{display:none}
#emailVerification-form {
    margin: 50px auto;
    width: 540px;
}
#emailVerification-form p{
    text-align: justify;
}
#emailVerification-form .errorMessage{
    margin-bottom: 0;
    margin-left: 45px;
}
input#identityButton:hover {
    background: #454545;
    box-shadow: 0px 2px 0px #7f7f7f;
    cursor: pointer;
}
input#identityButton {
    width: 195px;
    height: 52px;
    border-radius: 10px;
    border: none;
    border-top: 1px solid #9fb5ce;
    color: #ffffff;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
}
#identityButton {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 27px;
}
#emailVerification-form .clientValidationError {
    margin-left: 45px;
}
input[type="submit"][disabled]#identityButton{
    background: #666666;
}
.emailVerButt{
    margin-top: 15px;
}
.nameNAN{
    color: #cccccc;
}
.pager .next>a{
    float: none;
}
.statusColor {
    color:#33cc00;
}
body.ie8 #hambMenu {
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color=#999999);
}
.authorizePage{
    padding-top: 20px;
}
.authorizePage .signInForm{
    border:1px solid #F2F2F2;
    box-shadow:0px 0px 2px rgba(24, 37, 51, .5);
}
.authorizePage div{
    text-align: center;
    margin: 0 auto;
}
div.modal-dialog {
    max-width: 50%\0/;
    margin: 10px auto\0/;
}
#share42{top:110px}
/*adaptive*/
@media only screen and (max-width: 800px) {
    #sharing{display:none}
    #share42{top:60px}
    /*breadcrumbs and status*/
    .my-cool-breadcrumbs {
        padding-bottom: 2px;
        margin-top: 2px;
    }
    div.profileStatus{
        display: none;
    }
    /*breadcrumbs and status*/
    /*main header*/
    #logo_img{padding-left:inherit;padding-right:inherit}
    #navigation {
        max-width: 800px;
        background-color: #f3f3f3;
    }
    #menulist{
        display: none;
    }
    #navigation{height:60px;}
    #navigation ul{display:inline-block;margin-top:16px;float:right;margin-right:75px;margin-bottom:0;}
    #logo_img{margin-top:7px;text-align:right;width: 60%}
    #logo_img img{max-height:46px;max-width:142px;}
    #button_border, .button_border{display:none;}
    #enter_button, .enter_button{border:none;position:inherit;display:inline-block;margin-left:0;z-index:6;height:33px;width:70px;background:#4b70a3;border-radius:10px;color:white;vertical-align:middle;font:16px/30px "MyriadPro";text-align:center;text-decoration:none;margin-top:0;}
    #enter_button:hover, .enter_button:hover{background:#454545;}
    #lang{margin-top:0;margin-right:5px;z-index:6;text-align:right}
    .languageRow{margin-bottom:0;width: 100px}
    #enterButton{width:100px;text-align:center}
    #headerUnderline.downmain{min-height:60px;height: auto}
    /*#headerUnderline{min-height:100px;height: auto}*/
    .emptyTd{display:table-cell;width:90px;}
    #enterButton, #lang{
        display: inline-block;
        vertical-align: middle;
        margin-right:0;
        margin-left:0;
        margin-top: 10px;
    }
    #hamburgerMini{display:block}
    #hamburger{display:none}
    #enter_button.down{
         border: none;
    }
    /*main header*/
    /*main footer*/
    #mainfooter{
        background-color: #5a74a1;
    }
    .footercontent {
        max-width: 800px;;
        width: 100%;
        border: none;
    }
    .leftfooter{
        border-right: none;
    }
    .centerfooter{
        border-left: none;
        width: 84%;
        padding-left: 0;
    }
    .rightfooter {
        border-left: none;
        width: 12%;
        float:none;
        padding-right: 5px;
    }
    #mainfooter .centerfooter .footermenu{
        display: none;
    }
    #mainfooter .footercontact p {
        color: #fff;
        font-size: 18px;
        line-height: 18px;
    }
    #mainfooter .footercontact p {
        position: inherit;
        margin-left: 0;
    }
    #mainfooter .footerlogo #footerLogo{
        display: none;
    }
    /*main footer*/
    /*registration form*/
    .ui-dialog.ui-widget.ui-widget-content{
        max-width: 95%;
    }
    /*registration form*/
}
@media only screen and (max-width: 360px) {
    /*header*/
    .emptyTd,#enterButton,#lang,#lang.down{display:none}
    #logo_img{text-align:center;}
    #hamburgerMini{display:block}
    #hamburger{display:none}
    /*header*/
    /*footer*/
    .rightfooter {
        /*display: none;*/
    }
    #mainfooter div.footerlogo {
        display: block;
        margin: 0;
    }
    .centerfooter{display: inline-block;vertical-align: top;}
    #footerLogo800 {margin: 0 auto;margin-top: 0}
    #mainfooter .footercontact{max-width: 150px}
    #mainfooter .footercontact p{font-size: 14px;line-height: 1}
    #mainfooter .footercontact p span{white-space: nowrap}
    /*footer*/
}
@media only screen and (min-width: 801px) {
    /*footer*/
    #mainfooter .footerlogo #footerLogo800 {
        display: none;
    }
    /*footer*/
}
/*adaptive*/

/*style in active page*/
#menulist .current_page_active a {
    color: #999;
}
#menulist .current_page_active a:hover {
    cursor: default;
    color: #999;
}
#mainfooter .footermenu .current_page_active a {
    color: #666;
}
#mainfooter .footermenu .current_page_active a:hover {
    cursor: default;
    color: #666;
}
/*style in active page*/