
.TeacherProfiletitles
{
    position: relative;
    color:#4B75A4;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.TeacherProfilemainBlock
{
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}
.TeacherProfileblock1
{
    float:left;
    width:583px;
}
.TeacherProfileblock1 table td:last-child{
    width: 100%;
}

td img.icons {
    height: 20px;
    width: 20px;
}

.TeacherProfileblock1 img
{
    display: block;
    width: 140px;
    height: 170px;
    padding-right: 20px;
}
.TeacherProfileblock2
{
    float:right;
    width:584px;
}
.TeacherProfilename
{
    color:#4B75A4;
    font-size:26px;
    margin-bottom:0px;
}

.TeacherProfilename a
{
    color:red;
    font-size:26px;
    margin-bottom:0px;
}

.TeacherProfilesectionText
{
    margin-top:-20px;
    margin-left:65px;
}
.TeacherProfilesectionText p
{
    margin-top:-12px;
}
.TeacherProfilecourse {
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 20px;
    background-color: rgba(75,117,164,0.2);
    color:#467c98;
}
.TeacherProfilecourse a {
    color:#467c98;
}
a:link {font-size:16px; color:#4B75A4;}
a:visited {font-size:16px;}
a:hover {font-size:16px; color:#4b75fa}
div.aboutMore{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #4B75A4;
}
/*-------------------------*/
.txtMsgFirst, .txtMsgSecond{
    font-weight: inherit;
    font-size: 16px;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.sm{
    font-weight: inherit;
    font-size: 11px;
    color: #4B75A4;
    margin: 0 0 0px 0;
    line-height: 100%;
}
div.border{
    padding-bottom: 0px;
    border-bottom: 1px solid #4B75A4;
}
/*----Response----*/
div.responseBG {
    border-top:3px solid #ffffff;
    background-color: rgba(75,117,164,0.2);
    overflow:hidden;
}

#updateButton{
    width:165px;
    height:52px;
    border-radius: 10px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    margin-bottom: 0px;
    box-shadow:0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro";
    font-size: 25px;
    letter-spacing:1px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 30px;
    text-shadow:1px 1px 1px black;

}
