.TeacherProfiletitles
{
    position: relative;
    color:#4B75A4;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.TeacherProfiletitles img
{
    margin-left: 2px;
}
.TeacherProfilemainBlock
{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    overflow: hidden;
}
.TeacherProfileblock1
{
    float:left;
    width:48%;
}
.teacherTable{
    display: table;
}
.teacherTable>div{
    display: table-cell;
    vertical-align: top;
}
.TeacherProfileblock1 .redactor-editor {
    padding: 5px;
}
.TeacherProfileblock1 table td:last-child{
    width: 100%;
}

td img.icons {
    height: 20px;
    width: 20px;
}

#teacherImg {
    display: block;
    width: 140px;
    padding-right: 20px;
}
.TeacherProfileblock2
{
    float:right;
    width:48%;
}
.TeacherProfilename
{
    color:#4B75A4;
    font-size:26px;
    margin-bottom:0px;
}

.TeacherProfilename a
{
    color:red;
    font-size:26px;
    margin-bottom:0px;
}

.TeacherProfilesectionText
{
    margin-top:-20px;
    margin-left:65px;
}
.TeacherProfilesectionText p
{
    margin-top:-12px;
}
.TeacherProfilecourse {
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 20px;
    background-color: rgba(75,117,164,0.2);
    color:#467c98;
}
.TeacherProfilecourse a {
    color:#467c98;
}
a:link {font-size:16px; color:#4B75A4;}
a:visited {font-size:16px;}
a:hover {font-size:16px; color:#4b75fa}
div.aboutMore{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #4B75A4;
}
/*-------------------------*/
.txtMsgFirst, .txtMsgSecond{
    font-weight: inherit;
    font-size: 16px;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
}
.txtMsg{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.txtMsg ul{
    margin-top: 0;
}
div.sm{
    font-weight: inherit;
    font-size: 11px;
    color: #4B75A4;
    margin: 0 0 0px 0;
    line-height: 100%;
}
div.border{
    padding-bottom: 0px;
    border-bottom: 1px solid #4B75A4;
}
/*----Response----*/
div.responseBG {
    border-top:3px solid #ffffff;
    background-color: rgba(75,117,164,0.2);
    overflow:hidden;
}
.info{
    color:red;
}
.responseError{
    color:red;
    text-align: center;
}
div.lessonTask {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.lessonLine{
    border: 1px solid #4b75a4;
}

img.lessonBut  {
    position: absolute;
    left:43%;
    top:-15px;
    width: 90px;
}
.lessonButName {
    position: absolute;
    color:#ffffff;
    left:43%;
    top:-15px;
    width: 90px;
    text-align: center;
    line-height: 30px;
}
.lessonTask table{
    margin-bottom: 20px;
}
.BBCode {
    margin: 30px 30px 10px 30px;
    overflow:hidden;
}
.BBCode textarea {
    height: 130px;
    width: 99%;
    resize: none;
}
.BBCode input[type="submit"] {
    width: 90px;
    padding: 7px 0;
    border-radius: 10px;
    color:#ffffff;
    background-color:#4b75a4;
    margin: 10px 0px 20px 0px;
    float:right;
    border:none;
    font-size: 14px;
}
.BBCode input[type="submit"]:hover {
    cursor: pointer;
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
}
.modelerrors{
    color: red;
    text-align: center;
}
.editableText p{
    margin: 2px 0;
}
.editableText {
    word-break: break-word;
}
.hideInput{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.avatarUpdateForm{
    text-align: center;
    padding-right: 20px;
    width: 140px;
}
.avatarUpdateForm a{
    cursor: pointer;
    color: #4B75A4;
    text-decoration: underline;
}
#errorMessage{
    word-wrap: break-word;
    white-space: normal;
    color: red;
}
#imgButton[disabled]{
    background: #666666;
}
.avatarUpdateForm a:hover{
    color: #264b73;
}
.avatarUpdateForm input[type="submit"] {
    padding: 7px 0;
    width: 90px;
    background: #4b70a3;
    border-radius:   10px;
    border: 1px solid #ffffff;
    color: white;
    vertical-align: middle;
    text-align:      center;
    cursor: pointer;
}
.avatarUpdateForm input[type="submit"]:hover {
    background: #454545;
}
#avatarInfo{
    word-wrap: break-word;
    white-space: normal;
}
.TeacherProfileblock1 .re-closefullscreen{
    display: none;
}
.redactor-box-fullscreen .redactor-toolbar li a.re-close{
    display: none;
}
#avatar {
    color:#4b75a4;
    cursor: pointer;
    background: #fff;
    text-decoration: underline;
}
#avatar:hover {
    color: #454545;
}
.fileform {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.btnChat img{
    text-align: center;
    height:26px;
    border-radius:10px;
    border:none;
    border-top:1px solid #9fb5ce;
    background:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    text-decoration: none;
    padding: 3px 7px 1px 7px;
}
.btnChatHidden{
    visibility: hidden;
}
.teacherName{display: none}
.teacherCourses ul li{
    word-break:break-word; ;
}
@media only screen and (max-width: 800px) {
    .TeacherProfileblock1,.TeacherProfileblock2 {
        float:none;
        width:99%;
    }
    .TeacherProfilecourse {
        padding-left:0;
    }
}
@media only screen and (max-width: 360px) {
    .teacherTable>div {display: inline-block}
    .teacherName,.teacherLogo{display: table-cell}
    .teacherTable{display: inherit}
    .teacherName
    {
        color:#4B75A4;
        font-size:26px;
        margin-bottom:0;
        vertical-align: top;
    }
    .TeacherProfilename{display:none}
}