/*header navigation*/
.subNavBlockTeachers {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    clear: both;
}
div.subLinksTeachers{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-bottom: 28px;
    float:left;
    width: 30%;
}
div.ifYouTeachers{
    float:right;
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display:inline-block;
    margin-bottom: 20px;
    padding:20px;
    padding-right:32px;
    background:#4B75A4;
    overflow: hidden;
}
div.ifYouTeachers label{
    min-width: 80px;
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #FFF;
    font-weight: normal;
}
div.ifYouTeachers input {
    float: right;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    padding-left: 7px;
}
div.ifYouTeachers textarea {
    float: right;
    width: 70%;
    height: 160px;
    border:none;
    border-radius: 5px;
    box-shadow: none;
    resize: none;
    padding-left: 7px;
}
.ifYouTeachers .row{
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}
.ifYouTeachers div{
    border: none;
}
div.ifYouTeachers label.courseslabel{
    line-height: 20px;
}
.ifYouTeachers .errorMessage{
    display: inline-block;
    color: darkred;
    margin-left: 30%;
}
.ifYouTeachers div.error input, .ifYouTeachers div.error textarea{
    border: 1px solid darkred;
}
.ifYouTeachers .clientValidationError {
    color: darkred;
    margin-left: 30%;
}
.ifYouTeachers .row>label+span{font-size: 18px;color:#fff}
.subLinksTeachers a{
    color: #666666;
}
/*Main Block*/
.teachersList
{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    overflow: hidden;
}
/*Title*/
div.titleTeachers {
    padding: 0;
    margin-bottom: 30px;
}
.titleTeachers h1,h2 {
    display: inline-block;
    font-weight: inherit;
    color: #4B75A4;
    margin: 0 0 10px 0;
    line-height: 100%;
}
/*teacher Column*/
.leftTeacher{
    float:left;
    width:49%;
}
.rightTeacher{
    float:right;
    width:49%;
}
/*teacher Profile Block*/
.teacherBlock {
    margin-bottom: 40px;
    clear: both;
}
.teacherTable{
    display: table;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0;
}
.teacherTable>div{display: table-cell;vertical-align: top}
.teacherBlock p, .teacherBlock ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
div.avatarsize{
    width: 112px;
    overflow: hidden;
}
.avatarsize img.teacherAvatar{
    width: 112px;
}
.teacherBlock span{
    font-weight: bold;
}
.teacherBlock ul {
    padding-left: 20px;
}
.teacherCourses {
    padding:1px 10px;
    background-color: rgba(75,117,164,0.2);
    color:#467c98;
}
.teacherCourses a {
    color:#467c98;
}
div.aboutMore{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #4B75A4;
}
.aboutMore img{
    margin-left: 2px;
}
.profileTeacher{
    text-align: center;
    padding: 0 20px 0 0;
    width: 112px;
}
.profileTeacher a{
    display: inline-block;
    font-size: small;
    line-height: 100%;
}
.teacherBlock a:hover {
    color: #666666;
}
#formTeacher3 {
    color: #ffffff;
}
#send_btn {
    width: 110px;
    height:30px;
    border-radius: 10px;
    border:none;
    color:#467c98;
    background-color:#FFF;
    font-size: medium;
    margin-top: 20px;
    clear: both;
    font-weight: 600;
    cursor: pointer;
}
.teachersList a{
    color: #4b75a4;
}
.teachersList a:hover{
    color: #666666;
}
.btnChat{
    height:20px;
    width: 40px;
    border-radius:10px;
    border:none;
    border-top:1px solid #9fb5ce;
    background:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    margin-top:10px;
    text-decoration: none;
    padding: 3px 0 6px 0;
}
.btnChatHidden{
    visibility: hidden;
}
.teacherTable .teacherName{display: none}
#minTeacherForm{display:none}
.teacherBlock ul li{
    word-break:break-word; ;
}
.teacherInfo{width: 100%}
#send_btn:disabled{
    background: #B4ACAC;
}
@media only screen and (max-width: 800px) {
    .leftTeacher,.rightTeacher{width: 98%}
    #minTeacherForm{display:block}
    #maxTeacherForm{display:none}
}
@media only screen and (max-width: 360px) {
    .teacherTable>div {display: inline-block}
    .teacherTable .teacherName,.teacherTable .profileTeacher{display: table-cell}
    .teacherTable{display: inherit}
    .adaptiveTeacherName, div.ifYouTeachers{display:none}
    div.aboutMore{
        float:inherit;
        border-bottom: 1px solid #d8d8d8;
    }
}