<div class="row progress-block" ng-repeat="row in data">
    <label class="progress-labe col-sm-4" style="float: left;"><a
        ui-sref="students/courseProgress/:studentId/:courseId({studentId:row.user_id,courseId:row.content_id})">{{row.user}}
    <br><span style="color:cadetblue"><i> Курс: {{row.content_title}}</i></span></a>
</label>
    <div class="col-sm-6">
        <uib-progressbar
                max="row.progress.parts"
                value="row.progress.passed"
                ng-attr-type="{{((row.progress.passed/row.progress.parts *100) < 33) && 'danger' || ((row.progress.passed/row.progress.parts *100) < 66) && 'warning' || 'success' }}">
            {{(row.progress.isDone) && 'Завершено' || 'Пройдено модулів ' + row.progress.passed + ' з ' + row.progress.parts}}
            <span ng-if="row.progress.rating">Рейтинг: {{row.progress.rating*10 | limitTo:3}}/10</span>
        </uib-progressbar>
    </div>
</div>
<ul uib-pagination total-items="totalItems"
    ng-model="progress.currentPage"
    ng-change="progress.pageChanged()"
    first-text="Перша"
    max-size="5"
    boundary-links="true"
    last-text="Остання"
    force-ellipses="true"
    previous-text="Попередня"
    next-text="Наступна">
</ul>