# ignore files

.idea/*
protected/runtime/*
forum/cache/*
local.php
assets/*
/mail/*
files/course_schemas/*
protected/views/site/error.php
/protected/config/local.php
protected/config/local.php
protected/config/database.php
protected/config/databaseForum.php
content/*
/mail/
angular/bower_components/*
images/
images/*
files/
/protected/vendor/*
