<div class="formMargin" ng-controller="profileCtrl">

    <form id="graduateForm" novalidate>
        <div class="form-group">
            <input id="id" type="hidden" class="form-control" name="id" ng-model="project.id">
            <label>
                <strong>Назва проекту:</strong>
            </label>
            <input id="position" type="text" class="form-control" name="title"
                   size="90" required ng-model="project.title">
            <div class="error-info" ng-show="errors.title">{{errors.title[0]}}</div>
        </div>

        <div class="form-group">
            <label>
                <strong>Репозирорій:</strong>
            </label>
            <input id="repository" type="text" class="form-control" name="repository"
                   size="90" required ng-model="project.repository">
            <div class="error-info" ng-show="errors.repository">{{errors.repository[0]}}</div>
        </div>

        <div class="form-group">
            <label>
                <strong>Гілка в репозиторії</strong>
            </label>
            <input id="branch" type="text" class="form-control" name="branch"
                   size="90" required ng-model="project.branch">
            <div class="error-info" ng-show="errors.branch">{{errors.branch[0]}}</div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" ng-click="submitProjectData()">Створити</button>
        </div>
    </form><!-- form -->
</div>