<div class="row">
    <div class="col-xs-12">
        <div class="m-b-10">
            <a class="btn btn-primary" ui-sref="accountant.company.list">Усі компанії</a>
            <a class="btn btn-primary" ui-sref=".card">Компанія</a>
            <a class="btn btn-primary" ui-sref=".representatives.list">Представники</a>
            <a class="btn btn-primary" ui-sref=".checkingAccounts.list">Рахунки компанії</a>
            <a class="btn btn-primary" ui-sref=".services.list">Послуги компанії</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ui-view></ui-view>
    </div>
</div>