<div class="col-lg-2  value">
    <select class="selectpicker" ng-model="compareFull[$parent.$index][$index].first"  ng-options="first.value as first.index disable when (first.value%3==1 && !args[Math.round(first.value/3)-1].etalon_value[$parent.$index]) for first in indexes | filter: filterList('value', !finalResult.etalon)" ng-change="updateCompare(compareFull[$parent.$index][$index])"></select>
    <label>=</label>
    <select class="selectpicker" ng-model="compareFull[$parent.$index][$index].second"  ng-options="last.value as last.index disable when (last.value%3==1 && !args[Math.round(last.value/3)-1].etalon_value[$parent.$index]) for last in indexes | filter: filterList('value', !finalResult.etalon)" ng-change="updateCompare(compareFull[$parent.$index][$index])"></select>
</div>