<div class="col-lg-2 col-md-2 col-sm-2 value">
    <select class="selectpicker" ng-init="compareFull[$parent.$index][$index].first = indexes[0].value" ng-model="compareFull[$parent.$index][$index].first"  ng-options="first.value as first.index for first in indexes"></select>
    <label>=</label>
    <select class="selectpicker" ng-init="compareFull[$parent.$index].second = indexes[0].value" ng-model="compareFull[$parent.$index][$index].second"  ng-options="last.value as last.index for last in indexes"></select>
</div>