<div class="container" >
    <div class="row spoiler" spoiler-test >Приховати юніттест <i class="fa fa-expand"></i></div>
        <div>
        <!-- list of arguments-->
        <div class="row col value">
            <div ng-repeat="arg in args track by $index">
                <div class="col-md-2 col-sm-3 value">
                    <label>{{arg.arg_name}}</label>
                    <input type="text" class="form-control" placeholder='Знач. аргумента'
                           ng-pattern="arg.pattern" ng-model="arg.value[$parent.$index]" required>
                    <select class="selectpicker"
                            ng-model="arg.compare_mark[$parent.$index]"
                            ng-options="cArg.value as cArg.name for cArg in compare | filter:cArg.bool=(arg.type==2)"></select>
                    <input type="text" class="form-control" placeholder="Etalon value"
                           ng-pattern="arg.pattern" ng-model="arg.etalon_value[$parent.$index]">
                </div>
            </div>
        </div>
        <!-- list of compare blocks-->
        <div class="row col compare">
            <div class="button">
                <button ng-click="addDellCompare(0,$index)"  type="button" class="btn btn-default pull-right btnInterp" title="Додати порівняння змінних">
                    <span ng-class="'glyphicon-plus'" class="glyphicon glyphicon"
                          aria-hidden="true"></span>
                </button>
                <button ng-class="{'nonDelete': compareFull[$index].length==1}" ng-click="addDellCompare(1,$index)"  title="Видалити порівняння змінних" type="button" class="btn btn-default pull-right btnInterp">
                    <span ng-class="'glyphicon-minus'" class="glyphicon glyphicon"
                          aria-hidden="true"></span>
                </button>
            </div>
            <div ng-repeat="compare in compareFull[$index] track by $index">
                <compare-form/>
            </div>
        </div>
        <!-- result block-->
        <div class="row col result">
            <div ng-hide='finalResult.etalon' class="resultBlock">
                <div class="col-md-2 col-sm-3">
                    <input type="text" clean-model class="form-control" placeholder="Result value" ng-pattern=resultPattern ng-model="results[$index]" ng-required='!finalResult.etalon'>
                </div>
                <div>
                    <label class="ng-binding">Вихідне значення</label>
                </div>
            </div>
            <div class="resultBlock">
                <div class="col-md-2 col-sm-3">
                    <select class="col-md-2 col-sm-3 selectpicker"
                            ng-model="compare_marks[$index]" ng-options="c.value as c.name for c in compare | filter:c.bool=(function.type==2)">
                    </select>
                </div>
                <div>
                    <label class="ng-binding">Порівняння відповіді кода студента з відповідю викладача</label>
                </div>
            </div>

            <div class="col-sm-10">
                <textarea class="form-control" placeholder="tests_code" rows="2"
                          ng-init=tests_code_arr[$index]='' ng-model="tests_code_arr[$index]" disabled></textarea>
            </div>
            <button ng-if=!$first ng-click="addDellFormResult($index)" id="btn" type="button"
                    class="btn btn-default pull-right btnInterp">
                <span class="glyphicon-minus glyphicon glyphicon"
                      aria-hidden="true" title="Видалити юніттест"></span>
            </button>
        </div>
    </div>
</div>