<div ng-controller="addPaymentsSchemaCtrl">
    <!--
        todo из-за того, что выше по дереву находится элемент с id=pageWrapper, то тосты не видны - показываются за пределами экрана
        там конкретно мешают padding и margin - они сдвигают элемент влево. Как поправить - не знаю, но надо поправить и забрать инлайновые стили
     -->
    <toast style="left:0px"></toast>
    <!--user typeahead -->
    <div class="row m-b-20" ng-if="user.isSelect">
        <div class="col-md-4">
            <span class="control-label">Користувач</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span ng-show="!user.loading && !user.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span ng-show="user.loading" class="input-group-addon">
                    <i class="glyphicon glyphicon-refresh"></i>
                </span>
                <span ng-show="user.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
                <input
                    id="userTypeahead"
                    type="text"
                    ng-model="user.selected"
                    uib-typeahead="typeahead as user.label(typeahead) for typeahead in user.typeahead($viewValue)"
                    typeahead-loading="user.loading"
                    typeahead-no-results="user.noResults"
                    typeahead-on-select="user.onSelect($item, $model, $label, $event)"
                    class="form-control">
            </div>
        </div>
    </div>

    <div class="row m-b-20" ng-if="course.isSelect">
        <div class="col-md-4">
            <span class="control-label">Курс</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span ng-show="!course.loading && !course.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span ng-show="course.loading" class="input-group-addon">
                    <i class="glyphicon glyphicon-refresh"></i>
                </span>
                <span ng-show="course.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
                <input
                    id="courseTypeahead"
                    type="text"
                    ng-model="course.selected"
                    uib-typeahead="typeahead as course.label(typeahead) for typeahead in course.typeahead($viewValue)"
                    typeahead-loading="course.loading"
                    typeahead-no-results="course.noResults"
                    typeahead-on-select="course.onSelect($item, $model, $label, $event)"
                    class="form-control"
                    ng-disabled="paymentSchema.moduleId">
            </div>
        </div>
    </div>

    <div class="row m-b-20" ng-if="module.isSelect">
        <div class="col-md-4">
            <span class="control-label">Модуль</span>
        </div>
        <div class="col-md-8">
            <div class=" input-group">
                <span ng-show="!module.loading && !module.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span ng-show="module.loading" class="input-group-addon">
                    <i class="glyphicon glyphicon-refresh"></i>
                </span>
                <span ng-show="module.noResults" class="input-group-addon">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
                <input
                    id="moduleTypeahead"
                    type="text"
                    ng-model="module.selected"
                    uib-typeahead="typeahead as module.label(typeahead) for typeahead in module.typeahead($viewValue)"
                    typeahead-loading="module.loading"
                    typeahead-no-results="module.noResults"
                    typeahead-on-select="module.onSelect($item, $model, $label, $event)"
                    class="form-control"
                    ng-disabled="paymentSchema.courseId">
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4">
            <span class="control-label">Відсоток знижки</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="text"
                       class="form-control"
                       ng-disabled="paymentSchema.loan"
                       ng-model="paymentSchema.discount">
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4">
            <span class="control-label">Відсоток кредиту</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="text"
                       class="form-control"
                       ng-disabled="paymentSchema.discount"
                       ng-model="paymentSchema.loan">
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4">
            <span class="control-label">Кількість платежів</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="number" class="form-control" ng-model="paymentSchema.payCount">
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4">
            <span class="control-label">Кількість місяців оплати кредиту</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="number"
                       class="form-control"
                       ng-max="paymentSchema.payCount"
                       ng-model="paymentSchema.monthPay">
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4">
            <span class="control-label">Назва</span>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="text" class="form-control" ng-model="paymentSchema.name">
            </div>
        </div>
    </div>

    <div class="row m-b-20" ng-if="schemeType!=='default'">
        <div class="col-md-4">
            <span class="control-label">Дати початку і завершення</span>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default" ng-click="startDateOptions.open()"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                </span>
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup
                       ng-model="paymentSchema.startDate"
                       is-open="startDateOptions.popupOpened"
                       datepicker-options="startDateOptions"
                       clear-text='Очистити'
                       close-text='Закрити'
                       current-text='Сьогодні'>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default" ng-click="endDateOptions.open()"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                </span>
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup
                       ng-model="paymentSchema.endDate"
                       is-open="endDateOptions.popupOpened"
                       datepicker-options="endDateOptions"
                       clear-text='Очистити'
                       close-text='Закрити'
                       current-text='Сьогодні'>
            </div>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="button" class="btn btn-primary btn-block" value="Додати" ng-click="createSchema()"/>
        </div>
    </div>
    <pre>{{paymentSchema}}</pre>
</div>
