<table class="table table-hover table-bordered" style="width:50%">
    <tbody>
    <tr>
        <th>ID договору:</th>
        <td>{{agreementData.id}}</td>
    </tr>
    <tr>
        <th>Номер:</th>
        <td>{{agreementData.number}}</td>
    </tr>
    <tr>
        <th>Сервіс:</th>
        <td>{{agreementData.service_id.description}}</td>
    </tr>
    <tr ng-if="agreementData">
        <th>Статус:</th>
        <td ng-class="{'bg-warning': (agreementData.currentDate>=(agreementData.payment_date  | shortDate:'yyyy-MM-dd') && agreementData.currentDate<=(agreementData.expiration_date  | shortDate:'yyyy-MM-dd')),
        'bg-danger': (agreementData.currentDate>(agreementData.expiration_date  | shortDate:'yyyy-MM-dd') || agreementData.cancel_date),
        'bg-success': (agreementData.summa==agreementData.paidAmount)}">
            <span ng-if="agreementData.cancel_date">Скасовано</span>
            <div ng-if="!agreementData.cancel_date">
                <span ng-if="(agreementData.summa==agreementData.paidAmount)">Проплачено</span>
                <div ng-if="!(agreementData.summa==agreementData.paidAmount)">
                    <span ng-if="(agreementData.currentDate>=(agreementData.payment_date  | shortDate:'yyyy-MM-dd') && agreementData.currentDate<=(agreementData.expiration_date  | shortDate:'yyyy-MM-dd'))">Збігає термін проплати</span>
                    <span ng-if="(agreementData.currentDate>(agreementData.expiration_date  | shortDate:'yyyy-MM-dd'))">Термін проплати збіг</span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Дата створення:</th>
        <td>{{agreementData.create_date}}</td>
    </tr>
    <tr>
        <th>Користувач:</th>
        <td>
            <a ng-href="#/users/profile/{{agreementData.user_id.user_id}}">{{agreementData.user_id.fullName}} {{agreementData.user.email}}</a>
        </td>
    </tr>
    <tr>
        <th>Сума:</th>
        <td>{{agreementData.summa}}</td>
    </tr>
    <tr>
        <th>Сплачено:</th>
        <td>{{agreementData.paidAmount}}</td>
    </tr>
    <tr>
        <th>Наступна проплата до:</th>
        <td>{{agreementData.payment_date  | shortDate:'dd.MM.yyyy'}}</td>

    </tr>
    <tr>
        <th>Крайній термін сплати</th>
        <td>{{agreementData.expiration_date  | shortDate:'dd.MM.yyyy'}}</td>
    </tr>
    <tr>
        <th>Підтверджено користувачем:</th>
        <td>{{agreementData.approval_user.fullName}}</td>
    </tr>
    <tr>
        <th>Дата підтвердження:</th>
        <td>{{agreementData.approval_date}}</td>
    </tr>
    <tr>
        <th>Закрив договір:</th>
        <td>{{agreementData.cancel_user.fullName}}</td>
    </tr>
    <tr>
        <th>Дата відміни:</th>
        <td>{{agreementData.cancel_date}}</td>
    </tr>
    <tr>
        <th>Дата закриття:</th>
        <td>{{agreementData.close_date}}</td>
    </tr>
    <tr>
        <th>Схема оплати:</th>
        <td>{{agreementData.paymentSchema.title_ua}}</td>
    </tr>
    <tr>
        <th>Причина закриття:</th>
        <td>{{agreementData.cancel_reason_type}}</td>
    </tr>
    <tr data-title="'Управління'" style="text-align: center">
        <th>Скасувати:</th>
        <td>
            <a href="" ng-if="!agreementData.cancel_date && !agreementData.paidAmount" ng-click="cancel(agreementData.id)">
                <i class="fa fa-trash fa-fw"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>