<table ng-table="userSpecialOfferTable" class="table table-striped table-bordered table-hover">
    <tr ng-repeat="row in $data track by row.id">
        <td data-title="'Користувач'">{{row.user.fullName}}, {{row.user.email}}</td>
        <td data-title="'Курс'">{{row.course.title_ua}}</td>
        <td data-title="'Модуль'">{{row.module.title_ua}}</td>
        <td data-title="'Знижка'">{{row.discount}}</td>
        <td data-title="'Відсоток за кредитом'">{{row.loan}}</td>
        <td data-title="'Кількість платежів'">{{row.payCount}}</td>
        <td data-title="'Кількість місяців оплати'">{{row.monthpay}}</td>
        <td data-title="'Назва'">{{row.name}}</td>
        <td data-title="'Дата початку'">{{row.startDate | shortDate:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td data-title="'Дата завершення'">{{row.endDate | shortDate:'dd.MM.yyyy HH:mm:ss'}}</td>
    </tr>
</table>
