.modal-lg{
    width: 90%;
}
.kanban-navigation{
    display: none;
}

.kanbanButtons{
    text-align: center;
}
.kanbanButtons .fa{
    margin: 4px;
    font-size: 24px;
    padding: 0;
}
.crmBodyBlock{
    padding: 5px;
    border: 1px solid #ccc;
}
/*CSS for KANBAN*/

#kanban-container{
    text-align: center;
    padding-top: 10px;
}

.kanban-column {
    width: 24%;
    min-height: 850px;
    background: #FBFBFB;
    display: inline-block;
    box-shadow: 0px 0px 5px #848484;
    margin-right: 2px;
    box-sizing: content-box;
    padding-bottom: 2px;
    /*overflow: hidden;*/
    vertical-align: top;
    transition: all 1s;
}

.kanban-column h3{
    color: #ffffff;
    margin: 0;
    padding: 4px 0;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 2px black;
    background: #607D8B;
}

.kanban-column.concept h3{
    background: #607D8B;
}

.kanban-column.pending h3{
    background: #546E7A;
}

.kanban-column.develop h3{
    background: #455A64;
}

.kanban-column.approved h3{
    background: #37474F;
}

.kanban-column.rejected h3{
    background: #EF5350;
}

.kanban-column .cards-container{
    padding: 0 10px;
}

.kanban-column .cards-container .card{
    text-align: left;
    width: 100%;
    margin-top: 13px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35),0 1px 0px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    box-sizing: border-box;
    background: #FFFFFF;
    padding:5px;
    opacity: 1;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    transition: max-height 1s;
}
.kanban-column .cards-container .card h4{
    text-align: center;
}
.kanban-column .cards-container .card img{
    width: 24px;
}

.kanban-column .cards-container .card.expanded{
    max-height: 1000px;
}

.card .type{
    color: #BDBDBD;
}
.kanban-column .cards-container .bg-warning-kanban, .bg-warning-kanban,
.table-striped>tbody>tr.bg-warning-kanban{
    background-color: rgba(217, 102, 2, 0.6);
}
.kanban-column .cards-container .bg-danger-kanban, .bg-danger-kanban,
.table-striped>tbody>tr.bg-danger-kanban{
    background-color: rgba(217,82,82,.6);
}
.crmTaskTable tr.expect_to_execute, .card.expect_to_execute{
    border-left: 5px solid #ffbd0f;
}

.crmTaskTable tr.completed,.crmTaskTable tr.executed,.card.executed{
    border-left: 5px solid #4b75a4;
}

.card.completed{
    border-left: 5px solid #1B5E20;
}

.crmTaskTable tr.paused,.card.paused{
    border-left: 5px solid #e00820;
}
.fa.expect_to_execute{
    color: #ffbd0f;
}

.fa.executed{
    color: #4b75a4;
}

.fa.completed{
    color: #1B5E20;
}

.fa.paused{
    color: #e00820;
}

.fa.remove{
    color: rgba(131, 0, 13, 1);
}
.low{
    fill:green;
    font-size: 12px;
}
.medium{
    fill:#ffcf1e;
    font-size: 12px;
}
.high{
    fill: #ff7915;
    font-size: 12px;
}
.urgent{
    fill: #e00820;
    font-size: 12px;
}
button.expect_to_execute{
    background: rgba(255,189,15,0.8);
    color:white;
}

button.executed{
    background: rgba(75, 117, 164, 0.8);
    color:white;
}

button.completed{
    background: rgba(27,94,32,0.8);
    color:white;
}

button.paused{
    background: rgba(224,8,32,0.8);
    color:white;
}

button.remove{
    background: rgba(131, 0, 13, 0.8);
    color:white;
}

.kanban-column .cards-container .card .cover-img{
    width: 100%;
    max-height: 75px;
}

.card h4{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.card .description{
    font-size: 13px;
    padding: 0 15px;
}

.form-contain{
    margin-bottom: 40px;
}

[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.draggable-objects:after{
    display: block;
    content:"";
    clear:both;
}

[ng-drop].drag-enter{
    border: 1px dashed #C7C7C7;
    background: #E2E2E2;
}

.more-section{
    font-size: 14px;
}

.export-container{
    margin-bottom: 40px;
}

.cardInfo{
    font-size: smaller;
}
.card-title{
    font-size: 16px;
    text-align: center;
}
@media (max-width: 800px)
{
    #kanban-container, .dataTable_wrapper {
        overflow: scroll;
    }
    .kanban-column .cards-container .card, .dataTable_wrapper colgroup col {
        width: 260px;
    }
    .kanban-column{
        display: table-cell;
    }
}

.glyphicon.glyphicon-remove {
    cursor: pointer;
    padding: 0;
}

.check-list .fa{
    cursor: pointer;
    margin: 0 4px;
}
.check-list .editable:hover{
    border-bottom: 1px solid #ccc;
}
.crmRolesList li {
    margin: 0 5px;
    cursor: pointer;
    border-bottom: 1px dashed #000;
    text-decoration: none;
}
modal .modal-background {
    z-index: 1048;
}
modal .modal {
    z-index: 1049;
}
.openIco, .fa-minus, .fa-edit, .fa-remove, .fa-copy, .fa-trash{
    cursor: pointer;
    transition: width 2s, height 2s, transform 2s;
}
.fa-copy:hover{
    color: #4b75a4;
}
.fa-edit, .fa-remove{
    margin: 0 2px;
}
.openIco{
    fill:#4b75a4;
}
.openIco:hover{
    fill: #233ea4;
}
.fa-minus:hover{
    color: red;
}
.subTasksList li{
    margin: 10px;
}
.elementsList div{
    display: inline-block;
}
.elementsList .form-control{
    display: inline-block;
    width: inherit;
}
.svgContainer{
    display: flow-root;
    text-align: center;
}
.svgContainer div{
    display: inline-block;
    width: 24px;
}

.intitaCrm .elementsList textarea{
    width:100%;
}
.intitaCrm .checkListsActions{
    text-align: right;
    width:100%;
}
.line_through{
    text-decoration: line-through;
}

.file-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 150px;
}
.delete-button{
    color: red;
    margin-right: 4px;
}
.file-links-list, .uploadDocuments{
    display: flex;
}
.actualDocuments{
    padding: 5px;
}
