hr {
    height: 1px;
    border: none;
    color: grey;
    background: grey;
    margin-top: 0; /* устраняем начальный отступ для всех браузеров (в ие6 не работает) */
}
* html hr {/* хак для ие6 */
    margin: -7px 0; /* устраняем начальный отступ для ие6 */
}

