[ng\:cloak],[ng-cloak],.ng-cloak{display:none!important;}
a,a:active,button,button:active,input[type="submit"],input[type="submit"]:active,a:focus{outline:none;!important;}
#lang a{border-left:1px solid #999999;padding-left:6px;padding-right:6px;}
#lang a:first-child{border-left:none;}
#lang a{background:none!important;cursor:pointer;color:#4b70a3;font-size:18px;font-family:"MyriadPro";text-decoration:underline;}
#lang a:hover{color:#666666;}
#lang a.selectedLang{text-decoration:none;color:#999999;}
.navbar-top-links li.dropdown li.lang a{float: none;padding: 0 5px;display: inline-block;}
.navbar-top-links li.dropdown li.lang a.selectedLang{color: #cccccc;}
.navbar-top-links li.dropdown li.lang{float: none;text-align: center;margin: 0 0 5px 0;}
#dashboard{display: block;}
.tt-menu{
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#typeahead .empty-message {
    padding: 5px 10px;
    text-align: center;
}
.errorMessage
{
    color: #ff0000;
}

.imageClass img
{
    max-width: 100px;
    max-height: 100px;

}

.navbar-header .navbar-brand {
    height: auto;
}
.nav-tabs li a{
    border-color: white; !important;
}
.navbar li a.dropdown-toggle{
    padding-top: 15px;
    padding-bottom: 0;
    min-height: inherit;
}
.navbar-header a.navbar-brand{
    float: none;
    padding-top: 15px;
    padding-bottom: 0;
    min-height: inherit;
}
.navbar-header a.navbar-brand.logo{
     display: inline-block;
     padding:5px 0 0 20px;
}
.navbar-header a.navbar-brand.logoname{
    display: inline-block;
    padding:15px 0 0 5px;
    vertical-align: top;
}
.navbar.navbar-default.navbar-static-top{
    height: 50px;
}
#emailVerification-form {
    margin: 50px auto;
    width: 540px;
}
#emailVerification-form p{
    text-align: justify;
}
#emailVerification-form .errorMessage{
    margin-bottom: 0;
    margin-left: 45px;
}
input#identityButton:hover {
    background: #454545;
    box-shadow: 0px 2px 0px #7f7f7f;
    cursor: pointer;
}
input#identityButton {
    width: 195px;
    height: 52px;
    border-radius: 10px;
    border: none;
    border-top: 1px solid #9fb5ce;
    color: #ffffff;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro2";
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
}
#identityButton {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 27px;
}
#emailVerification-form .clientValidationError {
    margin-left: 45px;
}
input[type="submit"][disabled]#identityButton{
    background: #666666;
}
.emailVerButt{
    margin-top: 15px;
}
.nameNAN{
    color: #cccccc;
}
.pager .next>a{
    float: none;
}
.statusColor {
    color:#33cc00;
}
body.ie8 #hambMenu {
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color=#999999);
}
.authorizePage{
    padding-top: 20px;
}
.authorizePage .signInForm{
    box-shadow:0px 0px 2px rgba(24, 37, 51, .5);
}
.authorizePage div{
    text-align: center;
}
#label{
    color: green;
    font: 16px/30px "MyriadPro";
}
#searchBtn{
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
#searchBtn:hover {
    background-color: #e5e5e5;
    border-color: #b7b7b7;
}
.nav-tabs>li>a{
    background-color: #e0e0e0;
}
#userIdHidden, #columnHidden{
    visibility: hidden;
}
#userInfo{
    font-style: italic;
    color: blue;
}
.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    background-color: #d6e4f0;
}
table{
    table-layout: fixed;
}
td,th{
    /*white-space: nowrap; !* Запрещаем перенос строк *!*/
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
td button, td a{
    overflow: hidden;
    text-overflow: ellipsis;
}
td li{
    white-space: normal;
}
#mainSliderTable td,#mainSliderTable th,#aboutusSliderTable td,#aboutusSliderTable th,
#waitLecturesTable th, #verifiedLecturesTable th{
    white-space: normal;
}
.grid-view table{
    table-layout: inherit;
}
.grid-view td{
    white-space: normal;
}
.newMessages div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.updateTranslateForm .translateLanguage{
    pointer-events:none;
    background: #F2F2F2;
}
.imageClass{
    max-width: 100px;
}
.recall{white-space: pre-wrap;}
.tab-content .tab-pane
{
    display: none;
}

.tab-content .active
{
    display: block;
}
#agreements thead tr th,#invoices thead tr th,#operationsTable thead tr th{
    vertical-align: top;
    white-space: normal;
}
#agreements tr,#invoices tr,#operationsTable tr{
    text-align: center;
}
#ajaxLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    border-radius: 5px;
    z-index: 1001;
}
#mainSliderTable,#aboutusSliderTable{
    text-align: center;
}
.carouselImage{
    width: 300px;
}
#translateForm textarea{
    resize: none;
}
.dataTables_wrapper .row:last-child .col-sm-6:last-child{
    width: 100%;
}
.dataTables_wrapper .row:first-child .col-sm-6:first-child{
    float:right;
}
.dataTables_wrapper .pagination{
     width: 100%;
 }
ul.pagination {
    display: block;
}
.warningMessage{
    color: red;
}
.tt-open{
    white-space: nowrap;
    overflow: hidden;
}
/*slider aboutUS*/
#sliderContainer{
    position: relative;
    width: 1000px;
    height: 300px;
    padding-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}
#textPosition{
    white-space: nowrap;
    padding-top:30px;
    padding-bottom:30px;
    cursor:pointer;
    position: absolute;
    background: #fff;
    text-align: center;
    opacity: 0.7;
    border:2px solid #fff;
}
#textPosition div{
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 50px;
    border: 2px solid red;
    width: 2px;
    height: 2px;
}
.gLine{
    position: absolute;
    top:50%;
    background: #fff;
    width: 100%;
    margin: 0
}
.vLine{
    position: absolute;
    left:50%;
    top:0;
    width: 1px;
    background: #fff;
    height: 100%;
    margin: 0;
}
/*slider aboutUS*/
/* plain task */
.fieldsetFormat
{
    width: 80%;
    height: auto;
    word-wrap: break-word;
    padding: 10px;
    margin-left: 50px;
    display:block;
}
.textareaSettings
{
    padding: 10px;
    width: 80%;
    height: 200px;
    resize: none;
}
#content
{
    padding: 10px;
    width: 600px;
    height: auto;
}
#textareaSettingsbyId
{
    padding: 10px;
    height: 200px;
    resize: none;
    overflow-y: scroll;
}
/* plain task */
/* operation */
.searchCriteria{
    width: 250px;
    display: inline-block;
}

.operationPanel{
    display: inline;
}

.findOffer{
    display: block;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.no-blur:focus {
    outline: none;
}

.findOperation{
    display: none;
}
.list{
    display : none;
    margin-left: 75px;
}
#operationForm1
{
    margin-left: 50px;
    min-width: 600px;
}
.formatted-form
{
    min-width: 600px;
}
.ajax-formatted-form{
    /*width: 568px;*/
}
.mainOperation
{
    width: 700px;
    background-color:#a7b6a2;
}
#operationForm2{
    margin-left: 50px;
    min-width: 600px;
}
#operationForm3{
    margin-left: 50px;
    min-width: 600px;
}
div.col-sm-8{
    padding: 0;
}
#icon{
    width:15px;
}
/* operation */
/* messages */
#hidden {
    display: none;
}
#new{
    font-weight: bold;
}

.new{
    font-weight: bold;
}
img#avatar {
    height: 24px;
}
.typeahead_wrapper { display: block; max-height: 35px; margin-top: 10px; margin-bottom: 10px; }
.typeahead_photo { vertical-align:top; display:inline-block; max-width: 35px; max-height: 35px; margin-right: 5px; }
.typeahead_labels { display:inline-block; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }
.message{
    word-wrap: break-word;
}
div.dialog{
    float: none;!important;
    text-align: right;
    width: 100%;
}
#messageBlock em div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* messages */
/* graduate */
.view-label
{
    color: #000099;
}
/* graduate */
/* dashboard */
hr {
    height: 1px;
    border: none;
    color: grey;
    background: grey;
    margin-top: 0; /* устраняем начальный отступ для всех браузеров (в ие6 не работает) */
}
* html hr {/* хак для ие6 */
    margin: -7px 0; /* устраняем начальный отступ для ие6 */
}
/* dashboard */
/* consult */
#textAnswer{
    resize: none;
}
/* consult */
div#page-wrapper {
    overflow: inherit;!important;
}
/*offer*/
pre.offer{
    white-space: pre-wrap;
    word-break: normal;
}
a.requestList{
    overflow: hidden;
}
.errorValidation,.errorValidation:focus{
    border:1px solid #c72929;
    box-shadow: 0 0 4px #c72929;
}
.representativeErrorMessage{
    display: none;
    color:#c72929;
}
#studentTodayConsultationsTable td, #todayConsultationsTable td, #studentsTable td{
    white-space: normal;
}

div#loading-bar-spinner{
    display:none;
}
.dataTable_wrapper td a{
    cursor: pointer;
}
/*css for cloud tags*/
.tagCloud {
    cursor: text;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    overflow: hidden !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px;
    min-height: 30px;
}
.tagCloud ul{
    padding: 2px;
    margin: 2px;
    min-height: 30px;
}
.tagCloud li{
    display: inline-block;
    cursor: pointer;
    background: #efefef;
    border-color: #ebebeb;
    margin: 2px 4px 2px 0;
    padding: 2px;
    vertical-align: middle;
    white-space: normal;
    border-radius: 2px;
}
.tagCloud li:hover{
    background: #ccc;
}
.tags li{
    display: inline-block;
}
.tags ul{
    padding-left: 0;
}
/*css for cloud tags*/
#graduatesTable td img{
    width: 120px;
    height: 120px;
}
table a{
    box-sizing: inherit;
}
#addTeacherRole option:disabled{
    color:inherit;
}
#addTeacherRole option{
    color:#000;
}

div.loader {
    position: fixed;
    background-color: white;
    z-index: 1000;
    opacity: .75;
    width: 100%;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
}

div.loader > div {
    position: inherit;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#text{resize: none}
.ng-table th.sortable .sort-indicator {
    float: right;
    width: 100%;
}
.list-group-item .groupList{
    margin-bottom:0;
    background-color:inherit;
    border-radius:0;
    border:none;
    border-bottom:1px solid #ddd;
}
.schemesBlock{vertical-align:top;display:inline-block;width:48%;border:1px solid #ddd;border-radius:2px;padding:5px}
.schemesBlockButton{float: right;margin-top:10px}
.studentInformation{word-wrap:break-word}