#lang a{border-left:1px solid #999999;padding-left:6px;padding-right:6px;}
#lang a:first-child{border-left:none;}
#lang a{background:none!important;cursor:pointer;color:#4b70a3;font-size:18px;font-family:"MyriadPro";text-decoration:underline;}
#lang a:hover{color:#666666;}
#lang a.selectedLang{text-decoration:none;color:#999999;}
.navbar-top-links li.dropdown li.lang a{float: none;padding: 0 5px;display: inline-block;}
.navbar-top-links li.dropdown li.lang a.selectedLang{color: #cccccc;}
.navbar-top-links li.dropdown li.lang{float: none;text-align: center;margin: 0 0 5px 0;}
#dashboard{
    display: block;
}


.errorMessage
{
    color: #ff0000;

}

.form-group error
{
    color: #ff0000;
}

.imageClass img
{
    max-width: 100px;
    max-height: 100px;

}
.navbar-header .navbar-brand {
    height: auto;
}
.navbar li a.dropdown-toggle{
    padding-top: 15px;
    padding-bottom: 0;
    min-height: inherit;
}
.navbar-header a.navbar-brand{
    float: none;
    padding-top: 15px;
    padding-bottom: 0;
    min-height: inherit;
}
.navbar-header a.navbar-brand.logo{
     display: inline-block;
     padding:5px 0 0 20px;
}
.navbar-header a.navbar-brand.logoname{
    display: inline-block;
    padding:15px 0 0 5px;
    vertical-align: top;
}
.navbar.navbar-default.navbar-static-top{
    height: 50px;
}