#hidden {
    display: none;
}
#new{
    font-weight: bold;
}
img#avatar {
    height: 24px;
}
.typeahead_wrapper { display: block; max-height: 35px; margin-top: 10px; margin-bottom: 10px; }
.typeahead_photo { vertical-align:top; display:inline-block; max-width: 35px; max-height: 35px; margin-right: 5px; }
.typeahead_labels { display:inline-block; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }
.message{
    word-wrap: break-word;
}
div.dialog{
    float: none;!important;
    text-align: right;
    width: 100%;
}
#messageBlock em div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}