.fieldsetFormat
{
    width: 80%;
    height: auto;
    word-wrap: break-word;
    padding: 10px;
    margin-left: 50px;
    display:block;
}
.textareaSettings
{
    padding: 10px;
    width: 80%;
    height: 200px;
    resize: none;
}
#content
{
    padding: 10px;
    /*resize: vertical;*/
    width: 600px;
    height: auto;
}

