<table ng-table="commentsTableParams" class="table table-bordered table-striped table-condensed">
    <colgroup>
        <col width="19%"/>
        <col width="58%"/>
        <col width="8%"/>
        <col width="10%"/>
        <col width="5%"/>
    </colgroup>
    <tr ng-repeat="row in $data track by $index">
        <td data-title="'Автор'">
            <img style="width: 48px;height: 48px" ng-src="/images/avatars/{{row.idUser.avatar}}">
            <a ng-href="#/users/profile/{{row.id_user}}" target="_blank">{{row.idUser.fullName}}</a>
        </td>
        <td data-title="'Повідомлення'" class="commentMessage">
            <input type="hidden" ng-init="rowLimit[$index]=200" ng-model="rowLimit[$index]">
            <p ng-bind-html="row.message | limitTo : rowLimit[$index] "></p>
            <p style="text-align:center;margin-bottom:0">
                <a href="" ng-if="row.message.length>200 && rowLimit[$index]!='undefined'"  ng-click="rowLimit[$index]='undefined'" style="margin:0;padding:0" ><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></a>
            </p>
        </td>
        <td data-title="'Дата створення'">
            {{row.create_date}}
        </td>
        <td data-title="'Дата редагування'">
            {{row.change_date}}
        </td>
        <td data-title="">
            <a href="" ng-if="row.id_user==currentUser" ng-click="crmTask.removeCommentDialog(row.id)" title="Видалити">
                <i class="fa fa-trash fa-fw"></i>
            </a>
            <a href="" ng-if="row.id_user==currentUser" ng-click="crmTask.editComment($event, row.id, row.message)" title="Редагувати">
                <i class="fa fa-pencil-square-o fa-fw"></i>
            </a>
        </td>
    </tr>
</table>
<br>
<br>
<a href="" ng-show="!newComment" ng-click="crmTask.toggleComment();" >Додати коментар</a>
<div ng-show="newComment">
    <textarea ng-cloak ckeditor="ckeditorOptions" ng-model="comment.message" required></textarea>
    <br>
    <p style="clear: both">
        <button type="button" class="btn btn-success" ng-click="crmTask.addComment(comment)" >Додати</button>
        <button type="button" class="btn btn-default" ng-click="crmTask.toggleComment();" >Відміна</button>
    </p>
</div>