<div class="form-group" style="overflow: hidden;margin: 5px 0 0 0 ">
    <div class="col-xs-6 col-md-3 col-lg-3">
        <input class="form-control col-md-5" type="text" ng-keypress="applyTasksFilter($event)" ng-model="filter.name" placeholder="Пошук по назві"/>
    </div>
    <div class="col-xs-6 col-md-2 col-lg-2">
        <input class="form-control col-md-5" type="text" ng-keypress="applyTasksFilter($event)" ng-model="filter.id" placeholder="Пошук по ід"/>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <select class="form-control col-md-3" ng-model="filter.priority" ng-change="applyTasksFilter()">
            <option value="" selected>Усі приорітети</option>
            <option ng-repeat="priority in crmPrioritiesList track by $index" value="{{priority.id}}">{{priority.title}}</option>
        </select>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <select class="form-control col-md-3" ng-model="filter.type" ng-change="applyTasksFilter()">
            <option value="" selected>Усі категорії</option>
            <option ng-repeat="category in crmTypesList track by $index" value="{{category.id}}">{{category.title}}</option>
        </select>
    </div>
    <div class="col-xs-1 col-md-1 col-lg-1 pull-right" style="height: 32px;">
        <i class="fa fa-refresh" style="line-height: 32px; cursor: pointer" aria-hidden="true" title="Очистити" ng-click="clearFilter()"></i>
    </div>
</div>
<section id="kanban-container">
    <div class="kanban-column concept" ng-style="kanbanHeight" ng-repeat="stage in stages" ng-drop="true" ng-drop-success="onDrop($data,$event,stage)" ng-class="{'concept': stage.name == 'Очікує на виконання', pending: stage.name == 'Виконується', develop: stage.name == 'Призупинено', approved: stage.name == 'Завершено'}">
        <h3 class="kanbanStageHeader" ng-class="{'ex_to_ex': stage.id == 1, 'ex': stage.id == 2, 'cmp': stage.id == 4,
                 'psd': stage.id == 3}">{{stage.name}}</h3>
        <div class="cards-container">
            <div class="card" ng-drag="true" ng-drag-data="task"
                 ng-repeat="task in tasks" ng-if="task.stage_id == stage.id"
                 ng-class="{'expect_to_execute': task.stage_id == 1, 'executed': task.stage_id == 2, 'completed': task.stage_id == 4,
                 'paused': task.stage_id == 3, 'bg-warning-kanban': (task.stage_id !=4 && task.endTask && currentDate>=(task.endTask  | shortDate:'yyyy-MM-dd')),
                 'bg-danger-kanban': (task.stage_id !=4 && task.deadline && currentDate>(task.deadline  | shortDate:'yyyy-MM-dd'))}"
                 ng-drag-start="dragStart($event, task)" ng-init="task.dragging = false" draggable="task.dragging">
                <div>
                    <div class="row">
                        <div class="col-md-2">
                            <span style="color:#ccc">#{{task.id}}</span>
                        </div>
                        <div class="col-md-7">
                            <span class="card-title">{{task.title}}</span>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3 svgContainer">
                            <div class="openIco" ng-include="pathToCrmTemplates+'/svg/windows.svg'" title="Відкрити" ng-click="getTask(task.id)"></div>
                            <a ng-href="#task/{{task.id}}" target="_blank">
                                <div class="openIco" ng-include="pathToCrmTemplates+'/svg/new_window.svg'" title="Відкрити в новому вікні" ></div>
                            </a>
                            <div ng-class="task.priorityTitle" ng-include="pathToCrmTemplates+'/svg/priority.svg'" title="Пріоритет: {{task.priority}}"></div>
                        </div>
                    </div>
                    <div ng-show="showMore">
                        <div class="description">
                            <p ng-bind-html="task.description"></p>
                        </div>
                        <div class="cardInfo">
                            <div>
                                Постановник: <em><br><img ng-src="{{task.producerAvatar}}">{{task.producerName}}</em>
                            </div>
                            <div>
                                Відповідальний: <em><br><img ng-src="{{task.executantAvatar}}">{{task.executantName}}</em>
                            </div>
                            <div ng-show="task.changeDate">
                                Дата: <em>{{task.changeDate}}</em>
                            </div>
                            <br>
                            <div ng-if="task.stage_id != 1">
                                {{task.stage_id == 2?'Виконує':(task.stage_id == 3?'Призупинив':'Завершив')}}:
                                <em><br><img ng-src="{{task.lastChangeByAvatar}}">{{task.lastChangeBy}}</em>
                                <div>
                                    Дата: <em>{{task.lastChangeDate}}</em>
                                </div>
                            </div>
                            <div ng-show="task.spent_time">
                                Затрачений час: <em>{{task.spent_time | spentTime}}</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kanbanButtons">
                    <i ng-if="task.stage_id==1" class="fa fa-play fa-2x executed" aria-hidden="true" title="ПОЧАТИ" ng-click="changeKanbanState(task,2)" ng-disabled="isDisabled"></i>
                    <i ng-if="task.stage_id==3" class="fa fa-play fa-2x executed" aria-hidden="true" title="ПРОДОВЖИТИ" ng-click="changeKanbanState(task,2)" ng-disabled="isDisabled"></i>
                    <i ng-if="task.stage_id==2" class="fa fa-pause fa-2x paused" aria-hidden="true" title="ПРИЗУПИНИТИ" ng-click="changeKanbanState(task,3)" ng-disabled="isDisabled"></i>
                    <i ng-if="task.stage_id==2 || task.stage_id==3" class="fa fa-check-square-o fa-2x completed" aria-hidden="true" title="ЗАВЕРШИТИ" ng-click="changeKanbanState(task,4)" ng-disabled="isDisabled"></i>
                    <i ng-if="task.stage_id==4" class="fa fa-clock-o fa-2x expect_to_execute" aria-hidden="true" title="ВІДНОВИТИ" ng-click="changeKanbanState(task,1)" ng-disabled="isDisabled"></i>
                    <i ng-if="currentUser==task.createdBy" class="fa fa-remove fa-2x remove" aria-hidden="true" title="ВИДАЛИТИ" ng-click="cancelKanbanCrmTask(task)" ng-disabled="isDisabled"></i>
                </div>
                <div ng-click="showMore=!showMore"  style="text-align:center;">
                    <div style="width:30px;margin:0 auto" ng-include="pathToCrmTemplates+'/svg/more.svg'" title="Відкрити"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="kanban-navigation">
        <i class="fa fa-clock-o fa-2x expect_to_execute" aria-hidden="true" title="Очікують" ng-click="scrollTo('ex_to_ex')"></i><br>
        <i class="fa fa-play fa-2x executed" aria-hidden="true" title="Виконуються" ng-click="scrollTo('ex')"></i><br>
        <i class="fa fa-pause fa-2x paused" aria-hidden="true" title="Призупинені" ng-click="scrollTo('psd')"></i><br>
        <i class="fa fa-check-square-o fa-2x completed" aria-hidden="true" title="Завершені" ng-click="scrollTo('cmp')"></i><br>
    </div>
</section>