<div class="form-group">
    <label>Категорії користувачів</label><br>
    <span ng-if="crmTask.teacherMode">
        <label class="radio-inline">
            <input type="radio" name="category" ng-model="category.name" value="coworkers" checked="">Співробітники
        </label>
        <label class="radio-inline">
            <input type="radio" name="category" ng-model="category.name" value="all">Усі користувачі
        </label>
    </span>
    <label class="radio-inline">
        <input type="radio" name="category" ng-model="category.name" value="students">Студенти
    </label>
</div>

<div class="form-group">
    <input type="hidden" ng-model="crmTask.data.id">
    <ul class="list-unstyled">
        <li ng-repeat="role in roles track by $index"
            ng-if="inputs[role.name] || role.id==1 || crmTask.data.roles[role.name]">
            <label>{{role.description}}</label>
            <oi-select ng-if="role.name!='producer' && role.name!='executant'" placeholder="обери користувача"
                       oi-options="user.name for user in getUsersForCategory($query, category.name, true) track by user.id"
                       ng-model="crmTask.data.roles[role.name]" multiple
                       ng-disabled="!crmTask.editable">
            </oi-select>
            <input ng-if="role.name=='producer'" type="text" size="50" ng-model="crmTask.data.producer"
                   ng-model-options="{ debounce: 1000 }" placeholder="обери користувача"
                   uib-typeahead="item.name for item in getUsersForCategory($viewValue, category.name, false) | limitTo : 10"
                   typeahead-no-results="noResults" typeahead-template-url="customTemplate.html"
                   typeahead-on-select="onSelectUser($item)" ng-change="reloadUser()" class="form-control" autofocus
                   required ng-disabled="!crmTask.editable"/>

            <input ng-if="role.name=='executant'" type="text" size="50" ng-model="crmTask.data.executant"
                   ng-model-options="{ debounce: 1000 }" placeholder="обери користувача"
                   uib-typeahead="item.name for item in getUsersForCategory($viewValue, category.name, false) | limitTo : 10"
                   typeahead-no-results="noResults" typeahead-template-url="customTemplate.html"
                   typeahead-on-select="onSelectExecutant($item)" ng-change="reloadExecutant()" class="form-control"
                   autofocus
                   required ng-disabled="!crmTask.editable"/>
            <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> користувача не знайдено</div>

            <ul class="crmRolesList list-inline" ng-if="role.id==1">
                <li ng-click="crmTask.rolesVisibility(role.name)" ng-repeat="role in roles track by $index"
                    ng-if="role.id!=1">
                    {{role.description}}
                </li>
            </ul>
        </li>
    </ul>
</div>