<div ng-if="modalMode">
    <span style="float: right" class="glyphicon glyphicon-remove modal-close" ng-click="crmTask.cleanTask();"></span>
    <h1>Завдання <span ng-if="crmTask.data.id" style="color:#ccc">#{{crmTask.data.id}}</span></h1>
</div>
<a ng-if="!clone" ng-href="#/task_clone/{{crmTask.data.id}}" target="_blank">
    <i class="fa fa-copy pull-right" aria-hidden="true" title="Клонувати"></i>
</a>
<span ng-if="crmTask.data.id && !modalMode" style="color:#ccc">#{{crmTask.data.id}}</span>
<div class="form-group">
    <input class="form-control" maxlength="128" placeholder="Введіть назву завдання" ng-model="crmTask.data.name" ng-disabled="!crmTask.editable">
</div>

<a href="" ng-click="crmTask.data.editMode=true" ng-show="crmTask.data.id && !crmTask.data.editMode && (crmTask.data.created_by==currentUser || crmTask.canEditCrmTasks)">Режим редагування</a>
<a href="" ng-click="crmTask.data.editMode=false" ng-show="crmTask.data.id && crmTask.data.editMode">Режим перегляду</a>
<br>
<p class="crmBodyBlock" ng-show="!crmTask.data.editMode && crmTask.data.id" ng-bind-html="crmTask.data.body | trustAsHtml"></p>
<div ng-show="crmTask.data.editMode || !crmTask.data.id">
    <div style="font-size: 12px">
        <b>@</b> - три символи після знаку підтягує список користувачів
        <br>
        <b>#</b> - три символи після знаку підтягує список доступних завдань
    </div>
    <textarea ng-hide="true" ng-cloak id="cke_body" crm-ckeditor="ckeditorOptions" class="mention" ng-model="crmTask.data.body" required></textarea>
    <button ng-if="crmTask.data.id" type="button" class="btn btn-prymari pull-right" style="margin: 5px" ng-click="crmTask.updateCrmBody()" ng-disabled="isDisabled">
        Зберегти
    </button>
</div>
<div class="form-group" ng-if="!clone">
    <div ng-include="pathToTemplates+'/crmFilesBlock.html'"></div>
</div>
<br>
<div ng-if="crmTask.data.id && !crmTask.data.editMode && !crmTask.data.cancelled_date && !clone">
    <fieldset>
        <button ng-if="crmTask.data.id_state==1" type="button" class="btn executed" ng-click="crmTask.changeState(2)"
                ng-disabled="isDisabled">РОЗПОЧАТИ ВИКОНАННЯ <i class="fa fa-play fa-1x" aria-hidden="true"></i>
        </button>
        <button ng-if="crmTask.data.id_state==3" type="button" class="btn executed" ng-click="crmTask.changeState(2)"
                ng-disabled="isDisabled">ПРОДОВЖИТИ <i class="fa fa-play fa-1x" aria-hidden="true"></i></button>
        <button ng-if="crmTask.data.id_state==2" type="button" class="btn paused" ng-click="crmTask.changeState(3)"
                ng-disabled="isDisabled">ПРИЗУПИНИТИ <i class="fa fa-pause fa-1x" aria-hidden="true"></i></button>
        <button ng-if="crmTask.data.id_state==2 || crmTask.data.id_state==3" type="button" class="btn completed"
                ng-click="crmTask.changeState(4)" ng-disabled="isDisabled">ЗАВЕРШИТИ <i
                class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></button>
        <button ng-if="crmTask.data.id_state==4" type="button" class="btn expect_to_execute"
                ng-click="crmTask.changeState(1)" ng-disabled="isDisabled">ВІДНОВИТИ <i class="fa fa-clock-o fa-1x"
                                                                                        aria-hidden="true"></i></button>
        <button ng-if="crmTask.canEditCrmTasks" type="button" class="btn remove"
                ng-click="cancelCrmTaskDialog(crmTask.data.id)" ng-disabled="isDisabled">ВИДАЛИТИ
                <i class="fa fa-remove fa-1x" aria-hidden="true"></i>
        </button>
    </fieldset>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Пріоритет</label>
            <select class="form-control"
                    ng-options="priority.id as priority.description for priority in crmTask.priorities"
                    ng-model="crmTask.data.priority" required  ng-disabled="!crmTask.editable">
            </select>
        </div>
        <div class="form-group">
            <label>Категорії</label>
            <select class="form-control"
                    ng-options="type.id as type.title for type in crmTask.types"
                    ng-model="crmTask.data.type" required  ng-disabled="!crmTask.editable">
            </select>
        </div>
        <div class="form-group">
            <div ng-include="pathToTemplates+'/crmRolesBlock.html'"></div>
        </div>
        <div class="form-group">
            <div ng-include="pathToTemplates+'/crmDeadLineBlock.html'"></div>
        </div>
        <div class="form-group" id="mailNotifivation" ng-show="crmTask.editable">
            <div ng-include="pathToTemplates+'/crmMailNotificationBlock.html'"></div>
        </div>
    </div>
    <div class="col-md-6" ng-if="crmTask.data.id">
        <div class="form-group">
            <div ng-include="pathToTemplates+'/crmSubTasksBlock.html'"></div>
        </div>
        <div class="form-group">
            <div ng-include="pathToTemplates+'/crmCheckListsBlock.html'"></div>
        </div>
    </div>
</div>
<br>
<div ng-if="crmTask.data.id">
    <div class="panel panel-default">
        <div class="panel-body">
            <uib-tabset active="0">
                <uib-tab index="0" heading="Коментарі">
                    <div ng-include="pathToTemplates+'/crmCommentsBlock.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="Історія">
                    <div ng-include="pathToTemplates+'/crmHistoryBlock.html'"></div>
                </uib-tab>
                <uib-tab index="2" heading="Затрачено часу">
                    <div ng-include="pathToTemplates+'/crmSpentTimeBlock.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<br>
<p style="clear: both">
    <button type="button" ng-if="crmTask.editable" class="btn btn-success" ng-click="crmTask.sendTask(false, clone)" ng-disabled="isDisabled">
        {{crmTask.data.id?'Зберегти':'Поставити завдання'}}
    </button>
    <div ng-if="!clone">
        <button type="button" ng-if="!crmTask.data.id" class="btn btn-success" ng-click="crmTask.sendTask(true)" ng-disabled="isDisabled">
            Поставити та продовжити редагувати
        </button>
        <button ng-if="modalMode" type="button" class="btn btn-default" ng-click="crmTask.cleanTask();">Відміна</button>
    </div>
</p>